<div
  class="collapse mt-3 mb-3"
  id="alicja-baranek"
>
  <div class="card card-body">
    <div class="p-3">
      <p>
        Rozwijająca się świecie od 30 lat Dialektyczna Terapia Behawioralna stanowi obszerny, acz spójny zbiór technik i
        metod terapii opartych na filarach współczesnego behawioryzmu, filozofii dialektycznej i Mindfulness.
        Wskazaniami do zastosowania podejścia DBT są nie tylko zaburzenie osobowości Borderline, ale również inne,
        którym towarzyszy poważna dysregulacja emocji i zachowania, jak m.in. zaburzenia odżywiania, uzależnienia, CHAD,
        zaburzenia dysocjacyjne czy PTSD. Korzyści z zastosowania tej terapii, jak również z grupowego treningu
        umiejętności, będącego integralną jej częścią może więc odnieść duża populacja pacjentów.</p>
      <p>
        Wiele metod DBT czerpie z klasycznego podejścia poznawczo-behawioralnego, istnieje jednak wiele zasadniczych
        różnic: metod pochodzących z innych terapii, a także z filozofii Wschodu.</p>
      <p>
        Na warsztacie omówione zostaną w dwa tryby terapii: terapia indywidualna i grupowy trening umiejętności.
        Uczestnicy warsztatu będą mieli okazję poznać zarys całości treningu, a także przećwiczyć na sobie niektóre ze
        stosowanych w nim technik. Omówione zostaną także praktyczne wskazówki dotyczące wprowadzania elementów treningu
        umiejętności do terapii indywidualnej.</p>
      <p>
        Cel warsztatu i umiejętności, których zdobędą uczestnicy: </p>
      <ul>
        <li>poznanie podstawowych różnic i podobieństw dialektycznej terapii behawioralnej do klasycznego CBT; </li>
        <li> poznanie trybów terapii DBT, możliwości włączania treningu umiejętności do terapii indywidualnej i
          możliwości </li>
        włączenia się do zespołów samokształceniowo-konsultacyjnych istniejących w ramach PTDBT;
        <li>zastosowanie niektórych umiejętności DBT w terapii indywidualnej (opanowanie kryzysów, regulacja emocji,
          skuteczność interpersonalna, Mindfulness). </li>
      </ul>
    </div>
    <app-alicja-baranek></app-alicja-baranek>
  </div>
</div>
