<div class="collapse mt-3 mb-3"
     id="alan-fruzzetti">
  <div class="card card-body">
    <div class="p-3">
      <p>Relationship distress typically includes a lot of dysregulated emotion, including anger, hurt feelings,
        sadness,
        embarrassment, and worry, and can include out-of-control behaviors and individual problems. Dialectical Behavior
        Therapy
        (DBT) has been shown in dozens of studies to be effective in treating the many problems associated with emotion
        dysregulation.   DBT has been adapted for use with couples, parents, and families, with multiple studies
        demonstrating
        successful outcomes. In this training, he will teach and demonstrate: 1) how to think about couple transactions
        in a DBT
        way, with the role of emotion dysregulation clearly understood; 2) DBT couple interventions to organize and
        manage
        reactive or dysregulated partners in the session, 3) how to help partners learn emotion management and
        relationship
        skills.  This approach has been shown to improve couple relationships in general, helping partners become less
        destructive, and more peaceful and loving.    
      </p>
    </div>
    <app-en-alan-fruzzetti></app-en-alan-fruzzetti>
  </div>
</div>