<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <img
        class="img-thumbnail mb-2 float-right ml-5"
        src="assets/PTTPB-logo.png"
        alt=""
      />
      <p>Powstałe w 1998 roku Polskie Towarzystwo Terapii Poznawczej i Behawioralnej im. Prof. Zdzisława Bizonia (PTTPB)
        jest niezależnym stowarzyszeniem naukowym skupiającym profesjonalistów zajmujących się pomocą osobom z
        zaburzeniami psychicznymi i kłopotami emocjonalnymi, a także pracą badawczo-naukową dotyczącą mechanizmów
        funkcjonowania psychicznego człowieka.</p>
      <p>PTTPB jest członkiem European Association for Behavioural and Cognitive Therapies (EABCT) – największej
        europejskiej organizacji zrzeszającej towarzystwa terapii poznawczo- behawioralnej różnych krajów, a członkami
        Towarzystwa są głównie psychologowie i lekarze: terapeuci poznawczo-behawioralni, osoby szkolące się, naukowcy,
        sympatycy.</p>
      <p>Od 20 ponad lat PTTPB dba o interesy Pacjentów i Terapeutów upowszechniając metody leczenia oparte na dowodach
        naukowych, doskonaląc je i dbając o ich właściwe i etyczne stosowanie. W oparciu o dorobek i doświadczenia
        EABCT,
        PTTPB wypracowało standardy szkolenia w psychoterapii poznawczo-behawioralnej w Polsce. Dzięki pasji,
        zaangażowaniu i pracy społecznej wielu Członków powstały regulaminy otrzymywania i odnawiania Certyfikatu
        Psychoterapeuty Poznawczo-Behawioralnego PTTPB oraz Certyfikatu Superwizora Dydaktyka PTTPB. Dzięki ogromnemu
        zaangażowaniu Członków PTTPB wiele lat temu rządowa Agencja Oceny Technologii Medycznych uznała psychoterapię
        poznawczo-behawioralną za skuteczną, a Narodowy Fundusz Zdrowia zaczął uznawać Certyfikaty PTTPB w publicznym
        systemie opieki zdrowotnej. Również obecnie, w trosce o dobro pacjenta i interesy terapeutów na bieżąco
        prowadzona
        jest współpraca z Ministerstwem Zdrowia, a Towarzystwo może zarekomendować Swoim Członkom w całym kraju szkoły
        dbające o prawidłową jakość nauczania terapii opartej na dowodach naukowych.</p>
      <p>Dziś Towarzystwo zrzesza ponad 2200 osób, w tym około 800 certyfikowanych terapeutów PTTPB i kilkadziesiąt
        EABCT.
        Jest tym samym największą w Polsce organizacją skupiającą terapeutów jednej modalności i jednym z trzech
        najbardziej liczących się stowarzyszeń terapeutycznych w kraju, a nasi członkowie coraz chętniej zatrudniani są
        przez jednostki i organizacje zajmujące się szeroko pojętą troską o dobrostan psychiczny swoich pacjentów.
      </p>
    </div>
  </div>
</div>
