<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Anita Bryńska</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Anita-Brynska.jpg"
        alt="Anita Bryńska"
      >

      <p>Dr. hab. n. med. Anita Bryńska - doctor, works in the Developmental Psychiatry Clinic of the Medical University
        of Warsaw and Centrum CBT, specialist in child and adolescent psychiatry, certified therapist and
        supervisor-teacher of the Polish Association for Behavioural and Cognitive Therapy. Her interests include the
        diagnosis and treatment of developmental psychiatric disorders, in particular obsessive-compulsive disorder,
        anxiety disorders, and other emotional (neurotic) disorders, mood disorders, tic disorders, attention deficit
        hyperactivity disorder (ADHD), and autism spectrum disorders, including Asperger’s syndrome.
        Cognitive-behavioural therapist and supervisor.</p>
    </div>
  </div>
</div>
