<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Agnieszka Popiel</h4>
      <img class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
           src="assets/Agnieszka-Popiel.jpg"
           alt="Agnieszka-Popiel">
      <p>Agnieszka Popiel – MD, Ph.D, psychiatrist, psychotherapist (PTTPB, SITCC, EABCT certificates), supervisor
        (PTTPB) of cognitive-behavioral therapy. Member of the EABCT Working Group of Training Standards. At the
        University of Social Sciences and Humanities, SWPS director of the postgraduate School of Cognitive-Behavioral
        Psychotherapy and post-graduate studies in the supervision of cognitive-behavioral psychotherapy) as well as the
        Advanced Clinical Studies and Therapy Excellence Center at SWPS University</p>
      <p>She conducted clinical trials on trauma and post-traumatic stress disorder (PTSD) within TRAKT I-III programs
        primarily the first research in Poland comparing the effectiveness of psycho-, pharmacotherapy and PTSD
        combination therapy. She developed the PTSD cognitive therapy protocol, whose main assumptions are the basis of
        the PTSD prevention program "Effective action in stress".</p>
    </div>
  </div>
</div>