<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Robert Leahy</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Robert-Leahy.jpg"
        alt="Robert L. Leahy"
      >
      <p>
        Dr Robert Leahy jest autorem 28 książek na temat terapii poznawczo-behawioralnej i procesów psychologicznych,
        które zostały przetłumaczone na 21 języków. W przeszłości piastował stanowiska Przewodniczącego Towarzystwa
        Terapii Poznawczej i Behawioralnej (Association for Behavioral and Cognitive Therapy – ABCT), Przewodniczącego
        Międzynarodowaego Towarzystwa Psychoterapii Poznawczej (International Association for Cognitive Psychotherapy),
        Przewodniczącego Akademii Terapii Poznawczej, a obecnie pełni funkcję Profesora Psychologii Klinicznej na
        wydziale Pyschiatrii Weill Cornell Medical School. Na temat jego pracy ukazywały się artykuły w prasie na całym
        świecie był też gościem licznych programów telewizyjnych. Jest często zapraszany do wygłoszenia wykładów
        plenarnych oraz poprowadzenia warsztatów w trakcie konferencji w różnych zakątkach świata. Dr Leahy jest
        Dożywotnim Honorowym Przewodniczącym Nowojorskiego Towarzystwa Terapii Poznawczej i Behawioralnej, Członkiem
        Założycielem i uznanym działaczem Akademii Terapii Poznawczej. Dr. Leahy jest współredaktorem International
        Journal of Cognitive Therapy. Jest również lauratem nagrody im. Aarona T. Becka za wybitny wkład w rozwój
        Terapii poznawczo-behawioralnej.
      </p>
    </div>
  </div>
