<div class="collapse mt-3 mb-3"
     id="centrumneuro">
  <div class="card card-body">
    <div class="p-3">
      <p>Psychoterapia poznawczo- behawioralna to nie tylko narzędzia do pracy indywidualnej, ale przede wszystkim
        proces
        konceptualizacji, który skutecznie pozwala pracować z grupą pacjentów, zarówno w programach i protokołach jak i
        w
        oparciu o stworzoną konceptualizację i wytyczone w niej cele terapeutyczne. W czasie warsztatu omówimy program
        autorski:
        Środowisko z Zasadami, realizowany w ramach pracy w Centrum Neurorehabilitacji im Zofii i Józefa Dziurkowskich
        od 2007
        roku. Program obejmuje pracę z grupami dorosłych, dzieci i nastolatków. Na bazie uzyskanego w czasie jego
        stosowania
        doświadczeń omówione zostaną zagadnienia pozwalające uporządkować najczęstsze stosowane w pracy grupowej
        strategie.
        Omówimy i przećwiczymy radzenia sobie z trudnymi i kryzysowymi sytuacjami w czasie pracy grupowej. Prześledzimy
        sposoby
        realizowania celów terapeutycznych za pomocą narzędzi terapii grupowej na bazie procesu konceptualizacji.
      </p>
      <p>Dr M. Skotnicka Chaberek, B. Kamińska - Kolarz, K. Białek, A. Olszewska- Ufnal, D. Borowiec, U. Wiklińska, A.
        Musiał, K.
        Wójciak, M. Fulara, M. Jankowska, P. Chaberek
      </p>
    </div>
  </div>
</div>