<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Nina Szalas</h4>
      <!-- <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Nina-Szalas.jpg"
        alt="Nina Szalas"
      > -->

      <p>Mgr Nina Szalas - psycholog, certyfikowany Psychoterapeuta Poznawczo-Behawioralny, aplikant superwizji.
        Specjalizuje się w psychoterapii dzieci, młodzieży i dorosłych, w szczególności zaburzeń lękowych (napady
        paniki, zespół lęku uogólnionego, fobia społeczna), zaburzenia obsesyjno-kompulsyjnego, PTSD, zaburzeń nastroju,
        zaburzeń eksternalizacyjnych (ADHD, zaburzenia opozycjno-buntownicze, zaburzenia zachowania), nieprawidłowo
        kształtującej się osobowości i zaburzeń osobowości. Pracuje w nurcie terapii poznawczo-behawioralnej i terapii
        schematu.</p>
    </div>
  </div>
</div>
