<div
  class="collapse mt-3 mb-3"
  id="eduardo-keegan"
>
  <div class="card card-body">
    <div class="p-3">
      <p>
        Prokrastynacja jest bardzo częstym zjawiskiem. Zdarza się każdemu, choć nie każdy jest chronicznym
        prokrastynatorem. Chroniczna prokrastynacja dotyka natomiast ok. 1 na 5 osób. Jest szczególnie częsta w pracy
        czy w środowiskach akademickich. Nie stanowi zaburzenia, lecz jest dezadaptacyjnym zachowaniem, które może
        pełnić różne funkcje w różnych kontekstach. Przedstawione zostaną rodzaje prokrastynacji i wyjaśniające je
        teorie. Następnie przeanalizujemy relacje między prokrastynacją i innymi zjawiskami klinicznymi, takimi jak
        unikanie (avoidance), perfekcjonizm, impulsywność i poszukiwanie wrażeń. Prokrastynacja może być rozbita na
        pojedyncze części, które są już przedmiotem CBT, jednak sama w sobie jest tak częstym problemem, że zasługuje na
        uwagę jako całościowe zjawisko. Warsztaty pomogą terapeutom przeprowadzać analizę funkcjonalną prokrastynacji i
        opracowywać na jej podstawie plan terapeutyczny pokonywania tego problemu.
      </p>
    </div>
    <app-eduardo-keegan></app-eduardo-keegan>
  </div>
</div>
