<div
  class="collapse mt-3 mb-3"
  id="jacek-legierski"
>
  <div class="card card-body">
    <div class="p-3">
      <p>
        Terapia metapoznawcza (Wells, 2009) jest jednym z podejść w ramach terapii poznawczo-behawioralnych zyskującym w
        ostatnim czasie popularność oraz kolejne dowody na swoją skuteczność w leczeniu zaburzeń lękowych i
        depresyjnych. Model metapoznawczy zaburzeń psychicznych opiera się na założeniu, że przyczyną zaburzeń
        emocjonalnych jest dysfunkcjonalna forma myślenia tzw.: syndrom poznawczo-uwagowy (Cognitive Attentional
        Syndrome – CAS), na który składają się: uporczywe negatywne myślenie w postaci ruminacji i zamartwiania się,
        monitorowanie zagrożenia oraz strategie behawioralne, które w nasilają koncentrację uwagi na niepomocnym
        sposobie myślenia. Celem terapii metapoznawczej jest usunięciu CAS, poprzez ograniczenie niepomocnych
        poznawczych reakcji na negatywne myśli, eliminowanie strategii behawioralnych oraz podważenie metaprzekonań.</p>
      <p>Typowymi technikami wykorzystywanymi w tym celu są techniki wprowadzające odłączoną uważności oraz trening
        uwagi
        (Attention Training Technique).</p>
      <p>Odłączona uważność jest postawą wobec własnych wewnętrznych przeżyć, którą charakteryzuje świadomość zmienności
        stanów umysłu, zawieszenie oceny tego co się dzieje w umyśle wraz z oddzieleniem „ja” od myśli. W czasie
        warsztatu uczestnicy poznają i przećwiczą podstawowe techniki wprowadzające odłączoną uważność: kierowane
        metapoznanie, wolne skojarzenia, obserwowanie wyobrażenia oraz zastosowanie metafor. Będą mieli okazję poznać
        teorię uzasadniająca stosowanie tych technik w terapii oraz cel ich wprowadzenia. Omówione zostaną także
        potencjalne typowe trudności w stosowaniu odłączonej uważności przez pacjentów.
        W trakcie warsztatów zaprezentowany zostanie również trening uwagi (Attention Training Technique). ATT jest
        jedną z kluczowych technik terapeutycznych w terapii metapoznawczej. Sam trening składa się z krótkiego nagrania
        albo ćwiczenia wykonywanego in vivo, które polega na koncentrowaniu uwagi na kilku dźwiękach i miejscach w
        przestrzeni, a następnie dynamicznym przenoszeniu uwagi między tymi dźwiękami i miejscami. Może być
        konceptualizowany zarówno jako technika odłączonej uważności, ukierunkowane odkrywanie związane z przekonaniami
        metapoznawczymi, ale również ćwiczenie poznawczych funkcji uwagi. W trakcie warsztatu zostanie zaprezentowana
        sama technika, zostaną omówione kliniczne zastosowania ATT oraz trudności, które można napotkać proponując tę
        technikę pacjentom. Przedstawione zostaną również badania dotyczące efektywności i mechanizmów działania
        treningu. W tym badania pojedynczych sesji i długotrwałych efektów treningu. Przedstawione zostaną też badania
        własne jednego z prowadzących dotyczące neuronalnych korelatów pojedynczej sesji ATT.

      </p>
    </div>
    <app-joahim-kowalski></app-joahim-kowalski>
    <app-jacek-legierski></app-jacek-legierski>
  </div>
</div>
