<div
  class="collapse mt-3 mb-3"
  id="nina-szalas"
>
  <div class="card card-body">
    <div class="p-3">
      <p>
        Samookaleczenia są zjawiskiem coraz częściej występującym wśród pacjentów, często wzbudzającym wiele negatywnych
        emocji, zarówno u pacjenta i jego rodziny, jak i u terapeuty. Jednoznaczna ocena, tego czy dokonywanie
        samouszkodzeń (samookaleczeń) ciała (self-injury) jest zjawiskiem nieprawidłowym, czy też adekwatnym do
        obowiązujących norm kulturowych, niejednokrotnie napotyka na wiele trudności. Samouszkodzenie, rozumiane jako
        zjawisko nieprawidłowe jest definiowane jako ‘celowe, bezpośrednie niszczenie lub zmienianie tkanek ciała bez
        świadomej intencji samobójczej, jednak prowadzące do urazu na tyle poważnego, że wiąże się on z ich
        uszkodzeniem’. Może być jednym z objawów, który towarzyszy zaburzeniom psychicznym (np. zaburzeniom afektywnym,
        zaburzeniom odżywiania, zaburzeniu stresowemu pourazowemu, uzależnieniom od substancji psychoaktywnych),
        neurorozwojowym (zaburzeniom ze spektrum autyzmu, upośledzeniu umysłowemu) lub zaburzeniami osobowości
        (szczególnie typu borderline) lub też stanowić odrębną jednostkę nozologiczną. Jedną z teorii opisujących
        powyższe zjawisko oraz wyznaczające kierunek oddziaływań terapeutycznych jest model biopsychospołeczny Walsha.
        Zakłada on wzajemne oddziaływanie na siebie różnych wymiarów/obszarów: czynników biologicznych, środowiskowych,
        afektywnych, poznawczych i behawioralnych. Wnikliwa analiza tych wymiarów pozwala na wnioskowanie o mechanizmach
        i funkcjach samouszkodzeń oraz pozwala na adekwatne zaplanowanie interwencji. W czasie trwania warsztatów, w
        oparciu o analizę przypadków, uczestnicy będą mieli możliwość zapoznania się z metodami planowania postępowania
        ukierunkowanego na zapobieganie samookaleczeniom poprzez zaspokojenie ich funkcji w alternatywny sposób.</p>
      <p>
        Celem warsztatu jest nabycie praktycznych umiejętności w zakresie dokonywania oceny i rozumienia aktu
        samouszkodzenia oraz tworzenia planu interwencji z wykorzystaniem oddziaływań o charakterze
        poznawczo-behawioralnym. W szczególności uczestnicy warsztatów poznają metody oceny zachowań samouszkadzających
        (charakterystyka, nasilenie, różnicowanie z zachowaniami o charakterze samobójczym), analizy
        poznawczo-behawioralnej z uwzględnieniem funkcji objawu w oparciu o model bio-psycho-społeczny oraz planowania
        postępowania zgodnie z konceptualizacją objawu i jego funkcji.

      </p>
    </div>
    <app-nina-szalas></app-nina-szalas>
    <app-tomasz-srebnicki></app-tomasz-srebnicki>
  </div>
</div>
