<div class="collapse mt-3 mb-3"
     id="alan-fruzzetti">
  <div class="card card-body">
    <div class="p-3">
      <p>Dystres w relacjach zwykle wiąże się z silnymi, niewłaściwie regulowanymi emocjami, w tym złością, urazą,
        smutkiem,
        wstydem i zamartwianiem się. Może obejmować niekontrolowane zachowania i indywidualne problemy. Dziesiątki badań
        potwierdzają skuteczność terapii dialektyczno-behawioralnej (DBT) w pracy z wieloma problemami związanymi z
        dysregulacją
        emocji. DBT została zaadaptowana do pracy z parami, rodzicami i rodzicami, a efektywność tych modalności została
        potwierdzona w szeregu badań. Niniejszy warsztat ma na celu nauczyć i zaprezentować: 1) Jak rozumieć transakcje
        w parach
        przez pryzmat DBT z jasnym uwzględnieniem roli dysregulacji emocji; 2) interwencje terapeutyczne DBT w pracy z
        parami
        nakierowane na współpracę i radzenie sobie z partnerami wykazującymi dysregulację emocji w trakcie sesji 3) Jak
        wspierać
        pary w uczeniu się umiejętności regulacji emocji i funkcjonowania w związku. DBT wykazuje skuteczność w
        polepszaniu
        jakości relacji, pomagając partnerom w stawaniu się mniej destrukcyjnymi, a bardziej spokojnymi i kochającymi.  
      </p>
    </div>
    <app-alan-fruzzetti></app-alan-fruzzetti>
  </div>
</div>