<div
  class="collapse mt-3 mb-3"
  id="cory-newman"
>
  <div class="card card-body">
    <div class="p-3">
      <p>This workshop will highlight the core CBT methods that have empirical support in the treatment of bipolar
        disorder, emphasizing the therapeutic relationship, case formulation, interventions that build patients’
        self-help skills, and clinical methods for improving understanding and communication between patients and their
        family members. Among the important interventions are self-monitoring (e.g., recognition of early warning signs
        of symptom episodes), psycho-education (about CBT in general and bipolar disorder in particular), activity
        moderation (being activated, but not excessively goal-directed), rational responding (to depressive thinking as
        well as hyper-positive thinking), safety planning (for those patients who are at risk for suicide),
        communication skills training and modification of interpersonal schemas (e.g., mistrust, dependency,
        abandonment), and related homework assignments. The workshop will note the importance of empathizing with
        patients regarding the need to take medications long term, and helping the patients identify and modify
        inaccurate beliefs about medication.</p>
    </div>
    <app-en-cory-newman></app-en-cory-newman>
  </div>
</div>
