<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4>The Institute of Psychology UJ</h4>
      <p>The Institute of Psychology at the Jagiellonian University in Kraków (<a
          href="https://psychologia.uj.edu.pl"
          target="_blank"
        >https://psychologia.uj.edu.pl</a>) is the
        leading psychological research and education center in Poland. The Institute is descended directly from the
        Experimental Psychology Laboratory—the first of its kind in eastern Europe—founded by Władysław Heinrich in
        1903. It is thus the oldest psychological research facility in Poland. The Institute employs over 60 researchers
        and lecturers, who form seven departments and three centers, as well as 11 research teams. The Institute offers
        an excellent research infrastructure, consisting of 11 laboratories outfitted with the most advanced equipment.
        Currently, the Institute is carrying out over 60 research projects financed from external sources, both national
        and international, totaling up to 60 million PLN. The Institute’s faculty publishes studies in the best
        international journals. In 2018 alone, they published 62 articles in journals from the ISI Master Journal List.
        The Institute offers a five-year MA program in psychology. Meeting the EuroPsy standards, the program has also
        received a commendation from the Polish Accreditation Committee. In 2019, it placed first in the Perspektywy
        ranking. The Institute also offers the COGNES international doctoral program in cognitive neuroscience
        (<a
          href="http://cognes.psychologia.uj.edu.pl"
          target="_blank"
        >http://cognes.psychologia.uj.edu.pl</a>). The Institute organizes numerous activities to popularize psychology,
        including, among others, three regular events: The Scientific Coffeehouse (Kawiarnia Naukowa), Science First,
        and Dose of Science (Nauka w Pigułce, <a
          href="http://lux.psychologia.uj.edu.pl"
          target="_blank"
        >http://lux.psychologia.uj.edu.pl</a>).
      </p>


      <div class="col-12 col-lg-6 mb-4">
        <img
          src="assets/ip-uj-logo.PNG"
          alt="UJ IP"
          width="100%"
          height="auto"
        >
      </div>
    </div>
  </div>
</div>
