<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4>The Institute of Psychology UJ</h4>
      <p>The Institute of Psychology of is one of the units of Jagiellonian University, the oldest university in Poland
        and one of the oldest universities in the world. The Institute is part of the Faculty of Philosophy of the
        Jagiellonian University, which consists of 5 Institute: Philosophy, Pedagogy, Psychology, Religious Studies and
        Sociology, and the Department of Comparative Studies of Civilizations. Currently, nearly 2,800 students and over
        200 doctoral students are studying at the Faculty.
      </p>
      <p>There are seven units within the Institute of Psychology: </p>
      <ul>
        <li>Department of Experimental Psychology </li>
        <li>Department of Clinical Psychology </li>
        <li>Department of General Psychology </li>
        <li>Department of Psychophysiology </li>
        <li>Department of Social Psychology </li>
        <li>Department of Developmental and Educational Psychology</li>
        <li>Department of Health Psychology</li>
      </ul>
    </div>
  </div>
</div>
