<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Katarzyna Sikora</h4>
      <!-- <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Katarzyna-Sikora.jpg"
        alt="Katarzyna Sikora"
      > -->

      <p>dr Katarzyna Sikora psycholog, certyfikowana psychoterapeutka w nurcie poznawczo-behawioralnym, trenerka
        umiejętności społecznych. Pracuje w zespole Centrum Terapeutyczno-Szkoleniowego TerCognitiva w Krakowie,
        specjalizując się w terapiach „trzeciej fali”, szczególnie wobec pacjentów z borderline. Prowadzi także
        psychoterapię osób duchownych. Pracownik naukowo-dydaktyczny Akademii Ignatianum, wykłada również w Kolegium oo.
        Dominikanów w Krakowie. Zainteresowania naukowe poza CBT: etyka zawodowa, zwłaszcza zagadnienie odrębności
        etycznej zawodu psychologa i psychoterapeuty. Związana z Lubińską Wspólnotą Grup Medytacji Chrześcijańskiej.
      </p>
    </div>
  </div>
</div>
