<div class="row">
  <div class="col-6">
    <h6>Organizer</h6>
    <div class="mt-3">
      <div class="col-10 col-lg-4">
        <img class="img-thumbnail"
             src="assets/PTTPB-logo.png"
             alt="" />
      </div>
    </div>
  </div>

  <div class="col-6">
    <h6>Patronage</h6>
    <div class="mt-3 d-flex">
      <div class="col-10 col-lg-4">
        <img class="img-thumbnail"
             src="assets/eabct50years.png"
             alt="" />
      </div>
      <div class="col-10 col-lg-6 text-center align-items-center d-flex">
        <p><b>Konsultant Krajowy<br>
            w dziedzinie Psychologii Klinicznej</b></p>
      </div>
    </div>
  </div>
</div>

<!--mobile version-->
<div class="row mt-4 hidden-md-up">
  <div class="col-12">
    <h6>Partners</h6>
    <div class="d-flex mt-3">
      <div class="col-3">
        <img class="img-thumbnail"
             src="assets/PTPB-logo.png"
             alt="" />
      </div>
      <div class="col-3">
        <img class="img-thumbnail"
             src="assets/PTDBT-logo.png"
             alt="" />
      </div>
      <div class="col-3">
        <img class="img-thumbnail"
             src="assets/Tercognitiva-logo.jpg"
             alt="" />
      </div>
      <div class="col-3">
        <img class="img-thumbnail"
             src="assets/zdrowa-glowa-logo.png"
             alt="" />
      </div>
    </div>
    <div class="d-flex mt-3">
      <div class="col-3">
        <img class="img-thumbnail"
             src="assets/logo_scholar.jpg"
             alt="" />
      </div>
      <div class="col-3 col-lg-2">
        <img class="img-thumbnail"
             src="assets/logo-gwp.jpg"
             alt="" />
      </div>
    </div>
  </div>
</div>

<!--desktop version-->
<div class="row mt-4 hidden-sm-down">
  <div class="col-12">
    <h6>Partners</h6>
    <div class="d-flex mt-3">
      <div class="col-3 col-lg-2">
        <img class="img-thumbnail"
             src="assets/PTPB-logo.png"
             alt="" />
      </div>
      <div class="col-3 col-lg-2">
        <img class="img-thumbnail"
             src="assets/PTDBT-logo.png"
             alt="" />
      </div>
      <div class="col-3 col-lg-2">
        <img class="img-thumbnail"
             src="assets/logo-crescentia.png"
             alt="" />
      </div>
    </div>
    <div class="d-flex mt-3">
      <div class="col-3 col-lg-2">
        <img class="img-thumbnail"
             src="assets/logo-wuj.jpg"
             alt="" />
      </div>
      <div class="col-3 col-lg-2">
        <img class="img-thumbnail"
             src="assets/logo-gwp.jpg"
             alt="" />
      </div>
      <div class="col-3 col-lg-2">
        <img class="img-thumbnail"
             src="assets/logo_scholar.jpg"
             alt="" />
      </div>
      <div class="col-3 col-lg-2">
        <img class="img-thumbnail"
             src="assets/Tercognitiva-logo.jpg"
             alt="" />
      </div>
      <div class="col-3 col-lg-2">
        <img class="img-thumbnail"
             src="assets/zdrowa-glowa-logo.png"
             alt="" />
      </div>
    </div>
  </div>
</div>