<div class="bg-footer">
  <div class="container">
    <div class="row">
      <div class="col text-right text-white pt-3 pb-3">
        <span class="fs-12">POLSKIE TOWARZYSTWO TERAPII POZNAWCZEJ I BEHAWIORALNEJ im. Zdzisława
          Bizonia</span>
        <span class="ml-2 mr-2">|</span>
        <a
          href="assets/Regulamin-Konferencji-Krakow-2020.pdf"
          target="_blank"
          class="fs-12"
          style="color:white !important; display: inline !important;"
        >Regulamin</a>
      </div>
    </div>
  </div>
</div>
