<div
  class="collapse mt-3 mb-3"
  id="aleksandra-augustyn"
>
  <div class="card card-body">
    <div class="p-3">
      <p>
        Podczas tego warsztatu skoncentrujemy się na motywowanym zespole opóźnionej fazy snu u nastolatków i młodych
        dorosłych, który nie ma podłoża genetycznego, a jest efektem zamierzonych działań - nastolatek sam generuje
        problem regularnie kładąc się zbyt późno do łóżka, np. po to, aby swobodnie korzystać z mediów
        społecznościowych.
        W tej grupie największą trudnością w terapii jest zmotywowanie pacjenta do zmiany zachowań, a następnie
        przeprowadzenie programu terapii behawioralnej. Z licznych badań wynika, że terapia poznawczo-behawioralna ma
        największą skuteczność w leczeniu problemów ze snem. Przewyższa w tym względzie zarówno zasady higieny snu,
        relaksację czy metody zaczerpnięte z mindfulness. Na warsztacie przedstawione zostaną podstawowe metody pracy z
        nastolatkami z wykorzystaniem technik terapii CBT i CBT-I.
      </p>
    </div>
    <app-aleksandra-augustyn></app-aleksandra-augustyn>
    <app-joanna-szmyd></app-joanna-szmyd>
  </div>
</div>
