<div class="collapse mt-3 mb-3"
     id="aleksandra-augustyn">
  <div class="card card-body">
    <div class="p-3">
      <p>
        Jakość snu ma decydujące znaczenie dla samopoczucia człowieka, zarówno fizycznego jak i psychicznego. Niestety
        coraz
        więcej nastolatków i młodych dorosłych cierpi z powodu złej jakości snu, niemożności zaśnięcia o odpowiedniej
        porze czy
        nieregularnego rytmu snu. Jednym z najczęściej spotykanych wśród młodych dorosłych zaburzeń snu jest zespół
        opóźnionej
        fazy snu i czuwania (delayed sleep-wake phase disorder - DSWPD), który charakteryzuje się znaczącym, w stosunku
        do
        oczekiwanego, opóźnieniem pory zasypiania. Dotyczy on aż 7-16% nastolatków i może mieć podłoże biologiczne lub
        behawioralne. Często zdarza się, że osoby, które preferują późne kładzenie się spać, reprezentujące chronotyp
        wieczorny
        (tzw. sowy), w wyniku niewłaściwej higieny snu rozwijają pełnoobjawowy DSWPD.
      </p>
      <p>Konsekwencją zaburzeń rytmu okołodobowego snu mogą być trudności z koncentracją uwagi oraz z zapamiętywaniem
        przyswojonej wcześniej wiedzy lub umiejętności, a w efekcie niższe od oczekiwanych osiągnięcia w szkole czy na
        uczelni.
        Ponadto nieleczone problemy ze snem istotnie upośledzają relacje społeczne młodego człowieka, zarówno z
        członkami
        rodziny, jak i z rówieśnikami. Często prowadzą do zwiększonej drażliwości, obniżenia nastroju, samouszkodzeń czy
        też
        nadużywania substancji psychoaktywnych (stosowanie substancji może być efektem izolacji społecznej lub wynikać z
        chęci
        wywołania senności). Zważywszy na liczne negatywne konsekwencje problemów ze snem, warto zadbać o jego
        prawidłowy
        przebieg.</p>
      <p>Podczas tego warsztatu skoncentrujemy się na motywowanym zespole opóźnionej fazy snu u nastolatków i młodych
        dorosłych,
        który nie ma podłoża genetycznego, a jest efektem zamierzonych działań - nastolatek sam generuje problem
        regularnie
        kładąc się zbyt późno do łóżka, np. po to, aby swobodnie korzystać z mediów społecznościowych. W tej grupie
        największą
        trudnością w terapii jest zmotywowanie pacjenta do zmiany zachowań, a następnie przeprowadzenie programu terapii
        behawioralnej. Z licznych badań wynika, że terapia poznawczo-behawioralna ma największą skuteczność w leczeniu
        problemów
        ze snem. Przewyższa w tym względzie zarówno zasady higieny snu, relaksację czy metody zaczerpnięte z
        mindfulness. Na
        warsztacie przedstawione zostaną podstawowe metody pracy z nastolatkami z wykorzystaniem technik terapii CBT i
        CBT-I.
        Celem warsztatu jest przekazanie wiedzy z zakresu zaburzeń rytmu okołodobowego snu wśród nastolatków i młodych
        dorosłych, w szczególności na temat Zespołu opóźnionej fazy snu oraz zapoznanie uczestników z metodami
        stosowanymi w
        pracy z pacjentami cierpiącymi z powodu tego typu zaburzeń. Uczestnicy nabędą umiejętność rozróżniania rodzajów
        zaburzeń
        rytmu okołodobowego snu, różnicowania ich od bezsenności, zapoznają się również z metodami, które w praktyczny
        sposób
        mogą zastosować w pracy z nastolatkami i młodymi dorosłymi zmagającymi się z problemami ze snem.</p>
    </div>
    <app-aleksandra-augustyn></app-aleksandra-augustyn>
    <app-joanna-szmyd></app-joanna-szmyd>
  </div>
</div>