<div
  class="collapse mt-3 mb-3"
  id="agnieszka-popiel"
>
  <div class="card card-body">
    <div class="p-3">
      <p>
        Centrum Badań Klinicznych i Doskonalenia Psychoterapii, SWPS Uniwersytet Humanistycznospołeczny, Warszawa</p>
      <p>
        Główne wnioski z badań opublikowanych do 2018 r dotyczących zapobiegania PTSD podkreślają niską skuteczność
        interwencji zapobiegawczych. Podczas warsztatu omówimy autorski program, którego skuteczność w zapobieganiu PTSD
        została potwierdzona w grupie strażaków.</p>
      <p>
        Po krótkim omówieniu założeń teoretycznych, zaprezentujemy wybrane praktyczne aspekty każdego z siedmiu modułów
        szkolenia , wraz z przykładami ćwiczeń interaktywnych.</p>
      <p>
        Program szkolenia „Skuteczne działanie w stresie” odnosi się do zidentyfikowanych mechanizmów psychologicznych
        odpowiedzialnych za powstawanie i utrzymywanie się negatywnych konsekwencji narażenia na stresory traumatyczne,
        co umożliwia wytrenowanie odpowiednich umiejętności w zakresie regulacji emocji, wpływających na wzrost poczucia
        własnej skuteczności w konfrontacji z traumą. Bazuje na założeniach współczesnej, opartej na procesach
        psychologicznych psychoterapii poznawczo-behawioralnej (process-based CBT).</p>
      <p>
        Program szkolenia został opracowany i przebadany w ramach projektu „PTSD: diagnoza, terapia, profilaktyka”
        (Grant
        Narodowego Centrum Nauki nr 2012/06/A/HS6/00340 przyznany prof. B Zawadzkiemu)</p>
      <p>
        Organizator informuje, że zagadnienia omawiane podczas warsztatów zostały
        szczegółowo opisane w publikacjach: Popiel, A., Zawadzki, B., Pragłowska, E., Habrat, P., Gajda, P. (2019).
        Skuteczne działanie w stresie. Program profilaktyki PTSD dla osób narażonych na traumatyzację zawodową. Gdańsk:
        Gdańskie Wydawnictwo Psychologiczne. Popiel, A., Zawadzki, B., Pragłowska. E (2019). Skuteczne działanie w
        stresie. Osobisty niezbędnik. Gdańsk: Gdańskie Wydawnictwo Psychologiczne.
        Uczestnicy warsztatów, którzy jeszcze nie posiadają tych pozycji będą mogli
        je nabyć przed rozpoczęciem zajęć w dedykowanej ofercie cenowej.
      </p>
    </div>
    <app-agnieszka-popiel></app-agnieszka-popiel>
    <app-ewa-praglowska></app-ewa-praglowska>
  </div>
</div>
