<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Frank Dattilio</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Frank-Dattilio.jpg"
        alt="Frank Dattilio"
      >

      <p>Dr Frank M. Dattilio, ABPP (American Board of Professional Psychology) jest psychologiem klinicznym i jednym z
        wiodących terapeutów par i rodzin na świecie. Jest znany szczególnie z opracowania modelu terapii
        poznawczo-behawioralnej dla tych grup klientów. Mając za sobą czternastoletni staż jako instruktor psychiatrii w
        Harvard Medical School, obecnie jest pracownikiem dydaktycznym. Współpracuje również z katedrą psychiatrii na
        University of Pennsylvania Perelman School of Medicine jako członek kadry dydaktycznej, gdzie wykłada od 31 lat.
        Dr Dattilio jest autorem ponad 300 profesjonalnych publikacji i 22 książek na temat psychoterapii
        poznawczo-behawioralnej, w tym pracy z parami i rodzinami. Jego dzieła zostały przetłumaczone na 30 języków.
        Wygłaszał wykłady na prawie każdym kontynencie na Ziemi, a jego prace są wykorzystywane w ponad 80 krajach. Jest
        członkiem rad redakcyjnych profesjonalnych czasopism naukowych. Dr Dattilio otrzymał też wiele nagród za
        wyjątkowe osiągnięcia w dziedzinie psychologii i psychoterapii. Jest także laureatem nagrody 2013 Outstanding
        Contribution to Marriage and Family Therapy Award towarzystwa American Association for Marriage and Family
        Therapy (AAMFT).</p>
    </div>
  </div>
</div>
