<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Eduardo Keegan</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Eduardo-Keegan.jpg"
        alt="Eduardo-Keegan"
      >
      <p>Eduardo is Professor of Clinical Psychology and Psychotherapies at the University of Buenos Aires, where he
        also directs the Specialist Course on Cognitive-Behavioral Therapy. In 2011, he received the Award Great Masters
        from the University of Buenos Aires. He was elected President of the Argentine Association of CBT (AATC) on two
        occasions. He is currently a member of the Board of the Latin American Association of CBT (ALAPCCO). And, more
        importantly, he is an honorary member of the Polish Society of Cognitive-Behavioral Therapy (PTTPB).</p>
      <p>
        Eduardo has published 100 papers and three books. His research and clinical interests are focused on emotional
        disorders, emotional regulation, maladaptive perfectionism and process-based cognitive-behavioral therapy. He
        has conducted workshops on CBT-related topics in Argentina, Uruguay, Peru, Paraguay, Chile, Brazil, Guatemala,
        Spain, Italy, Poland, Lithuania, Latvia and Germany.
      </p>
    </div>
  </div>
</div>
