<div
  class="collapse mt-3 mb-3"
  id="malgorzata-bereza"
>
  <div class="card card-body">
    <div class="p-3">
      <p>
        Pierwsza część warsztatu ukierunkowana będzie na analizę specyfiki grupy docelowej, którą stanowią małoletni
        pacjenci onkologiczni. Poruszone zostaną zagadnienia diagnostyki zaburzeń psychicznych w tej populacji oraz
        obszarów do pracy terapeutycznej, jak również omówione zostaną różnice pracy w warunkach gabinetowych od pracy w
        warunkach oddziału szpitalnego (onkologicznego) między innymi: formułowanie celów z pacjentem, ustalanie
        kontraktu, czas pracy. Nacisk położony będzie na diagnozę różnicową pomiędzy objawami wchodzącymi w skład
        reakcji adaptacyjnej od tych stanowiących obraz zaburzenia psychicznego. Poruszone będzie również zagadnienie
        wpływu przyjmowanych leków sterydowych i chemioterapii na zmiany nastroju. Celem pierwszej części warsztatu jest
        przybliżenie uczestnikom różnych aspektów pracy z małoletnim pacjentem onkologicznym, które stanowi kontekst do
        zastosowania wybranych technik terapeutycznych, przedstawionych w dalszej części warsztatu.
        Druga część opierać się będzie na analizie studium przypadku, zaczerpniętego z doświadczeń własnych terapeuty.
        Przedstawiona zostanie wybrana technika wydobywania negatywnych automatycznych myśli dotyczących choroby, które
        stanowią punkt wyjścia do tworzenia hipotez na temat przebiegu leczenia i ryzyka wystąpienia niepożądanych
        objawów somatycznych oraz psychologicznych. Zaproponowane zostaną także wybrane techniki restrukturyzacji
        poznawczej wykorzystywane do pracy z wyżej wymienionymi myślami.
        Warsztat będzie ukierunkowany na doskonalenie praktycznych umiejętności terapeutycznych dla grupy o
        zróżnicowanym poziomie umiejętności terapeutycznych. Metodami prowadzenia będą: dyskusja, analiza studium
        przypadku, ćwiczenia praktyczne, prezentacja Power Point.
      </p>
    </div>
    <app-malgorzata-bereza></app-malgorzata-bereza>
  </div>
</div>
