<div
  class="collapse mt-3 mb-3"
  id="malgorzata-bereza"
>
  <div class="card card-body">
    <div class="p-3">
      <p>
        Pierwsza część warsztatu ukierunkowana będzie na analizę specyfiki grupy docelowej, którą stanowią małoletni
        pacjenci onkologiczni. Poruszone zostaną zagadnienia diagnostyki zaburzeń psychicznych w tej populacji oraz
        obszarów do pracy terapeutycznej, jak również omówione zostaną różnice pracy w warunkach gabinetowych od pracy w
        warunkach oddziału szpitalnego (onkologicznego) między innymi: formułowanie celów z pacjentem, ustalanie
        kontraktu, czas pracy. Nacisk położony będzie na diagnozę różnicową pomiędzy objawami wchodzącymi w skład
        reakcji adaptacyjnej od tych stanowiących obraz zaburzenia psychicznego. Poruszone będzie również zagadnienie
        wpływu przyjmowanych leków sterydowych i chemioterapii na zmiany nastroju. Celem pierwszej części warsztatu jest
        przybliżenie uczestnikom różnych aspektów pracy z małoletnim pacjentem onkologicznym, które stanowi kontekst do
        zastosowania wybranych technik terapeutycznych, przedstawionych w dalszej części warsztatu.</p>
      <p>
        Druga część opierać się będzie na analizie studium przypadków, zaczerpniętych z doświadczeń własnych terapeuty
        zdobytych w kilkuletniej pracy na dwóch śląskich oddziałach onkologii dziecięcej. W trakcie ćwiczeń praktycznych
        i pracy grupowej przedstawione zostaną wybrane techniki restrukturyzacji poznawczej, które z powodzeniem mogą
        być wykorzystywane w pracy z pacjentami chorym somatycznie (nie tylko onkologicznie). Omówiona zostanie również
        istotna kwestia przekonań pacjenta dotyczących leczenia i choroby, które stanowią podstawę do tworzenia hipotez
        dotyczących przebiegu leczenia i jego psychologicznych kosztów.


      </p>
    </div>
    <app-malgorzata-bereza></app-malgorzata-bereza>
  </div>
</div>
