<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Magdalena Muracka-Tylko</h4>
      <img class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
           src="assets/Magdalena-Muracka.jpg"
           alt="Magdalena Muracka-Tylko">

      <p>Magdalena Muracka-Tylko jest psychologiem, filozofem i certyfikowanym psychoterapeutą poznawczo-behawioralnym.
        W 2019
        roku ukończyła szkolenie DBT Comprehensive Training prowadzone przez Behavioral Tech, Seattle, USA. Obecnie
        dalej
        kształci się w DBT jako psychoterapeuta, dydaktyk i mentor zespołów konsultacyjnych DBT pod okiem prof. Alana
        Fruzzettiego, uznanego specjalisty i superwizora DBT na świecie. Jest wykładowczynią w Szkole Psychoterapii
        Poznawczo-Behawioralnej Uniwersytetu SWPS pod kierownictwem dr Agnieszki Popiel i dr Ewy Pragłowskiej. Prowadzi
        prywatną
        praktykę terapeutyczną w Warszawie. Obecnie ma zaszczyt pełnić funkcję przewodniczącej Zarządu III kadencji
        Polskiego
        Towarzystwa Terapii Dialektyczno-Behawioralnej (PTDBT), którego jest członkiem założycielem i w którego władzach
        aktywnie działa od 2016 roku. W stowarzyszeniu podejmuje inicjatywy szkolenia terapeutów (m.in.: prowadzi
        nieodpłatne
        zespoły samokształceniowe) oraz zajmuje się koordynacją i rozwijaniem programu Family Conections (FC) w Polsce
        (m.in.:
        prowadzi spotkania szkoleniowe dla liderów FC oraz konsultuje ich pracę), a jako lider FC prowadzi treningi
        umiejętności
        Family Connections dla rodzin.</p>
    </div>
  </div>
</div>