<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Magdalena Muracka-Tylko</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Magdalena-Muracka.jpg"
        alt="Magdalena Muracka-Tylko"
      >

      <p>Magdalena Muracka-Tylko jest filozofem, psychologiem i certyfikowanym psychoterapeutą poznawczo-behawioralnym.
        W 2019 roku ukończyła szkolenie DBT Comprehensive Training prowadzone przez Behavioral Tech, instytucję założoną
        przez Marshę Linehan. Prowadzi prywatną praktykę terapeutyczną w Warszawie. Była członkiem założycielem i
        członkiem komisji rewizyjnej Polskiego Towarzystwa Terapii Dialektyczno-Behawioralnej (PTDBT) pierwszej
        kadencji. Obecnie jest członkiem Zarządu PTDBT drugiej kadencji. W stowarzyszeniu m.in.: koordynuje pracę
        zespołów samokształceniowych i konsultacyjnych dla terapeutów, zajmuje się koordynacją i rozwijaniem programu
        Family Conections w Polsce. Aktywnie uczestniczy w zespołach konsultacyjnych terapeutów oraz prowadzi treningi
        umiejętności Family Connections dla rodzin.</p>
    </div>
  </div>
</div>
