<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Jacek Legierski </h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Jacek-Legierski.jpg"
        alt="Jocek Legierski"
      >

      <p>Jacek Legierski – psycholog, certyfikowany psychoterapeuta Polskiego Towarzystwa Terapii
        Poznawczo-Behawioralnej (nr
        certyfikatu 315), oraz certyfikowany superwizor-dydaktyk PTTPB (nr certyfikatu 47), doktorant w Instytucie
        Psychologii
        Uniwersytetu Jagiellońskiego. Doświadczenie w diagnozie psychologicznej i psychoterapii zdobywał w Szpitalu
        Specjalistycznym J. Babińskiego w Krakowie, a także prowadząc własną praktykę. Współpracował z Oddziałem
        Rehabilitacji
        dla Uzależnionych od Substancji Psychoaktywnych ze Współistniejącymi Zaburzeniami Psychicznymi oraz Dziennym
        Oddziałem
        Psychiatryczny Rehabilitacyjnym Kraków-Śródmieście Szpital im. dr. Józefa Babińskiego w Krakowie w zakresie
        wprowadzania
        grupowej terapii poznawczo-behawioralnej oraz metapoznawczej do pracy ww. oddziałów. W swojej pracy korzysta z
        podejść
        „trzeciej fali” terapii poznawczo-behawioralnej, zwłaszcza z terapii metapoznawczej i terapii schematów
        emocjonalnych.</p>
    </div>
  </div>
</div>
