<div class="collapse mt-3 mb-3"
     id="malinowska-wroczynska">
  <div class="card card-body">
    <div class="p-3">
      <p>
        Warsztat składa się z dwóch części, teoretycznej i praktycznej.
      </p>
      <p>
        Część teoretyczna - prezentacja i omówienie:<br>
        Definicja perfekcjonizmu<br>
        Zaburzenia i obszary problemowe związane z perfekcjonizmem<br>
        Protokoły pracy z perfekcjonizmem i jego modele - w kierunku modelu transdiagnostycznego (CBT-P, CBT-E, RO DBT,
        ACT)
      </p>
      <p>
        Część praktyczna - praca ćwiczeniowo-warsztatowa:<br>

        Techniki pracy
      </p>
      <ul>
        <li> nawiązanie relacji z pacjentem perfekcjonistycznym,</li>
        <li> identyfikacja problemów i motywacja do zmiany,</li>
        <li> eksperymenty behawioralne,</li>
        <li> elastyczność poznawcza,</li>
        <li> zmiana stylu myślenia,</li>
        <li> prokrastynacja , rozwiązywanie problemów, zarządzanie czasem, nagradzanie się,</li>
        <li> obszary problemowe: nie wykonywanie prac domowych, wystawianie terapeuty na próbę, postawa konfrontacyjna,
        </li>
        <li> perfekcjonizm jako zasób,</li>
        <li> self-compassion.</li>
      </ul>
      <br>
      <p><b>Metoda prowadzenia warsztatu</b> prezentacja Power point, ćwiczenia, odgrywanie ról</p>

      <p>
        Celem warsztatu jest przedstawienie transdiagnostycznego podejścia do zaburzeń związanymi z klinicznym
        perfekcjonizmem
        oraz nauczenie pracy terapeutycznej z osobami go przejawiają. Bazą warsztatu będzie model CBT Shafran, Egan i
        Wade
        (2010), ale wykorzystane i zaprezentowane będą również inne modele teoretyczne m. in. praca według terapii
        akceptacji i
        zaangażowania, czy dialektyczno-behawioralnej. Przedstawione zostaną podstawy teoretyczne, modele
        psychopatologii,
        mechanizmy zmiany. Uczestnicy będą znali i umieli zastosować konkretne techniki pracy w praktyce klinicznej z
        osobami
        przejawiającymi kliniczny perfekcjonizm.</p>
    </div>
    <app-hanna-malinowska></app-hanna-malinowska>
    <app-agnieszka-wroczynska></app-agnieszka-wroczynska>
  </div>
</div>