<div
  class="collapse mt-3 mb-3"
  id="olga-olszewska"
>
  <div class="card card-body">
    <div class="p-3">
      <p>
        Wielką troską terapeutów jest zwiększenie skuteczności terapii i znalezienia metod pracy, które dają największą
        szansę na zmianę. Jedną z ważnych metod pracy w terapii schematów jest empatyczną konfrontacja (EK). Terapeuci
        pracujący w TS orientują się, jak ją prowadzić i jak ważnym jest sposobem zachęcania klienta do rezygnacji z
        dysfunkcyjnych stylów radzenia sobie i wypróbowywania zachowań w trybie zdrowego dorosłego. Jednocześnie EK
        prowadzona w sposób nadmiernie dyrektywny może wzbudzić opór u klienta i zaburzyć proces terapeutyczny. Tu z
        pomocą mogą przyjść metody pracy dialogu motywującego, które sprawdziły się w ogromnej ilości badań klinicznych
        jako skuteczne sposoby motywowania do trudnej zmiany.</p>
      <p>
        Warsztat będzie składał się z trzech części. W pierwszej prowadząca przybliży w skrócie przy pomocy prezentacji
        PowerPoint pojęcie empatycznej konfrontacji oraz podstawowe metody pracy w dialogu motywującym. W drugiej części
        prowadząca przedstawi w kilku scenkach przykłady zastosowania metod DM w empatycznej konfrontacji. W trzeciej
        części warsztatu uczestnicy będą mogli przećwiczyć w parach wcześniej obserwowane umiejętności, a następnie
        omówić swoje wnioski.

      </p>
    </div>
    <app-olga-olszewska></app-olga-olszewska>
  </div>
</div>
