<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Michaela Swales</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Michaela-Swales.jpg"
        alt="Michaela Swales"
      >
      <p>Michaela Swales PhD is a Consultant Clinical Psychologist, Professor in Clinical Psychology and Director of the
        North Wales Clinical Psychology Programme, Bangor University. She trained in Dialectical Behaviour Therapy in
        Seattle in 1994 / 95 with Marsha Linehan and for twenty years ran a clinical programme for suicidal young people
        in an inpatient service. Prof. Swales is the Director of the British Isles Training Team, an International
        Affiliate of the Linehan Institute. She has trained more than a thousand professionals in DBT, seeding over 400
        programmes, in both the UK and further afield. She co-authored, Dialectical Behaviour Therapy: Distinctive
        Features (2009; 2017) and Changing Behavior in DBT: Problem-Solving in Action (2015). She is the Editor of the
        Oxford Handbook of DBT. Her primary research interest is the effective implementation of evidence-based
        psychological therapies in routine clinical practice. Dr. Swales was a member of the Working Group on
        Classification of Personality Disorders, reporting to the World Health Organisation (WHO) International Advisory
        Group for the Revision of ICD-10 Mental and Behavioural Disorders.</p>
    </div>
  </div>
</div>
