<div
  class="collapse mt-3 mb-3"
  id="hubert-czupala"
>
  <div class="card card-body">
    <div class="p-3">
      <p>Warsztat ma na celu ukazanie w jaki sposób umiejętności i strategie terapeutyczne zdobyte w trakcie szkolenia
        CBT można rozwijać przy wykorzystaniu procesów elastyczności psychologicznej. Uczestnicy doświadczą jak
        strategie defuzji poznawczej i akceptacji doświadczenia stanowić mogą alternatywę dla regulacji emocjonalnej
        oraz poznawczej restrukturyzacji.</p>
      <p>
        Rozwiną umiejętności postrzegania własnego schematu poznawczego z dystansu bez poddawania się mu czy angażowania
        się w wewnętrzną walkę. Opanują nowe metody diagnostyczne wykorzystujące procesy uważności i określania wartości
        oraz ich wykorzystanie w pogłębianiu relacji terapeutycznej z klientem. Nauczą się planowania i przeprowadzania
        ekspozycji, która zamiast redukcji objawów ma na celu poszerzenie repertuaru zachowań i przybliżenie klienta do
        obszarów życia, które uznaje za wartościowe pomimo doświadczanego większego dyskomfortu emocjonalnego.
      </p>

    </div>
    <app-hubert-czupala></app-hubert-czupala>
  </div>
</div>
