<div class="container mt-5">
  <div class="row">
      <div class="col-lg-12 col-xs-12">
        <h4>Dear Colleagues, Ladies and Gentlemen,</h4>
        <p>With great joy and pride, we would like to invite the members of the Polish Association for Cognitive Behavioral Therapy (PTTPB), as well as all supporters and specialists interested in evidence-based therapies, to join us at the PTTPB International Anniversary Conference.</p>
            <p>The PTTPB is celebrating a special birthday this year! We have been growing in Poland for 20 years, and we are currently associating over 1900 members! The cognitive- behavioral approach is gaining more and more recognition among specialists and clients in therapy. Each year, the Recommended Training Centers and Attested Courses disseminate knowledge in the area of cognitive- behavioral therapy among a growing number of enthusiasts, who appreciate its assets and effectiveness.</p>
            <p>Besides taking part in interesting lectures, panels and workshops, which will provide you with a lot of inspiration, the conference is also an opportunity to complete even 25 training hours. For people who actively participate in the whole event, that is — both the Conference and the pre-conference workshops, this is a chance to complete even 30 training hours in cognitive behavioral therapy!</p>
            <p>The Conference, especially the Anniversary Banquet at the end of the first day, is a chance to make unforgettable acquaintances and collaborations with other enthusiasts of CBT. We are certain that the Conference will be an unusual event for our community!
            </p>
        <p>We warmly invite you to register!</p>
        <p><b>The Organizational Committee</b> </p>
      </div>	
    </div>
    <hr>

<h4>About the PTTPB</h4>
<div class="row">
  <div class="col-lg-8 col-xs-12">
    <p>The Zdzislaw Bizon Polish Association for Cognitive Behavioral Therapy (PTTPB) was created in 1998. It is an independent scientific society, associating specialists who actively help people with mental disorders and emotional problems, and engage in scientific work focused on the mechanisms of mental functioning.</p>
      <p>In 2000, during the Congress in Granada, the Polish Association for Cognitive Behavioral Therapy was unanimously accepted as a member of the European Association for Behavioural and Cognitive Therapies (EABCT).</p>
      <p>It currently counts 1900 members, including 574 certified therapists and 40 supervisors-instructors.
      </p>
  </div>
  <div class="col-lg-4 col-xs-12 text-center">
    <img src="assets/PTTPB-logo.png">
  </div>	
</div>
<hr>

<h4>The Conference Committees</h4>
<p>The following Committees have taken charge of organizing and providing a high scientific quality of the Conference:</p>
<div class="row">
  <div class="col-lg-4 col-xs-12">
    <b>The Honorary Scientific Committee:</b>
    <ul>
      <li>prof. Jan Strelau - przewodniczący</li>
      <li>prof. Tullio Scrimali</li>
      <li>prof. Yona Teichman</li>
      <li>prof. Eduardo Keegan</li>
      <li>prof. Grzegorz Sędek</li>
      <li>prof. Roman Cieślak</li>
      <li>prof. Bogdan Zawadzki</li>
      <li>prof. Andrzej Kokoszka</li>
      <li>dr hab. Wiesław Jerzy Cubała</li>
      <li>dr n.med. Agnieszka Popiel</li>
      <li>dr n. hum. Ewa Pragłowska</li>
      <li>dr n.med Magdalena Skotnicka-Chaberek</li>
    </ul>
  </div>

  <div class="col-lg-4 col-xs-12">
    <b>The Board of Scientific Counselors:</b>
    <ul>
      <li>dr Agnieszka Księżopolska </li>
      <li>Magdalena Skąpska-Magdoń</li>
      <li>Katarzyna Białek</li>
      <li>Natalia Walerowska</li>
      <li>Rymwid Solarczyk</li>
    </ul>
  </div>

  <div class="col-lg-4 col-xs-12">
    <b>The Organizing Committee</b>
    <ul>
      <li>Agnieszka Jasińska - przewodnicząca</li>
      <li>Aleksandra Litarowicz-Prus - wiceprzewodnicząca</li>
      <li>dr Maria Cyniak-Cieciura</li>
      <li>Małgorzata Zalewska</li>
      <li>Marta Szydłowska-Pierzak</li>
      <li>Joanna Marek-Banach</li>
    </ul>
  </div>
</div>
<hr>

<h4>The European Solidarity Center - the co-organizer of the conference</h4>
<div class="row">
  <div class="col-lg-6 col-xs-12">
    <p>The PTTPB International Jubilee Conference is organized in collaboration with the European Solidarity Center. We encourage you to familiarize yourselves with the history and mission of the European Center of Solidarity. It is an unusual place on the map of Poland, both because of its history and its beautiful architecture.</p>
    <p>The project of the Solidarity Museum „Polish paths to freedom” was initiated in March, 1998, from the idea of Paweł Adamowicz, the chairman of the City Council of Gdańsk, and Jerzy Kukliński, PhD in history. Nine months later — on the 29th December 1999 - the Foundation Center of Solidarity was started, with the mission of creating the European Solidarity Center. The Foundation was set up on the initiative of Paweł Adamowicz, president of Gdańsk -with the support of: Lech Wałęsa and the institute named after him, Tadeusz Gocłowski — the Metropolitan Archbishop of Gdańsk, the Independent Self-Governing Trade Union „Solidarity”, the Gdańsk Shipyard, and the authorities of the Pomeranian voivodeship. Bogdan Lis became president of the Foundation.
    </p>
  </div>
  <div class="col-lg-6 col-xs-12">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/r4zsIo_nph0?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-lg-12 col-xs-12">
      <h4>The Honorary Patronage </h4>
      <img src="assets/patronat-honorowy.png" width="100%">
      <!--p>Konferencja Jubileuszowa PTTPB jest organizowana we współpracy z Europejskim Centrum Solidarności. Zachęcamy do odwiedzenia strony i poświecenia chwili na zapoznanie się z historią i misją tego wyjątkowego miejsca.</p-->
      <!--a href="http://www.ecs.gda.pl/">www.ecs.gda.pl</a-->
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-12 col-xs-12">
      <h4>Partners</h4>
      <img src="assets/partnerzy.png" width="100%">
      <!--p>Konferencja Jubileuszowa PTTPB jest organizowana we współpracy z Europejskim Centrum Solidarności. Zachęcamy do odwiedzenia strony i poświecenia chwili na zapoznanie się z historią i misją tego wyjątkowego miejsca.</p-->
      <!--a href="http://www.ecs.gda.pl/">www.ecs.gda.pl</a-->
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-12 col-xs-12">
      <h4>Sponsors</h4>
      <img src="assets/sponsorzy.png" width="100%">
      <!--p>Konferencja Jubileuszowa PTTPB jest organizowana we współpracy z Europejskim Centrum Solidarności. Zachęcamy do odwiedzenia strony i poświecenia chwili na zapoznanie się z historią i misją tego wyjątkowego miejsca.</p-->
      <!--a href="http://www.ecs.gda.pl/">www.ecs.gda.pl</a-->
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-12 col-xs-12 mb-3">
    <h4>Gdańsk</h4>
      <p>The honorary auspices over the conference have been taken by the President of the City of Gdańsk. We encourage you to visit the website of the Gdańsk Tourist Organization, where you will find a lot of useful information for tourists, e.g., about the accommodation and places worth visiting.</p>
      <a href="http://visitgdansk.com/">www.visitgdansk.com</a>
  </div>
  </div>
</div>

<app-map></app-map>
