<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Bartosz Kleszcz </h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Bartosz-Kleszcz.jpg"
        alt="Bartosz Kleszcz"
      >
      <p>Moja praca zawodowa i hobbistyczna działalność zorientowana jest wokół psychoterapii behawioralnej, ze
        szczególnym uwzględnieniem ACT. Należę do grupy osób wprowadzających ten nurt
        do Polski. Pracuję w ACT jako psychoterapeuta, superwizuję, szkolę
        innych terapeutów, prowadzę badania naukowe, uczestniczę jako
        prelegent w międzynarodowych konferencjach ACT. Na portalu Uczę się
        ACT tłumaczę artykuły dla praktyków, organizuję szkolenia z
        ekspertami tego nurtu oraz darmowe wydarzenia i konferencje online
        popularyzujące „trzecią falę” i tworzące wokół niej
        społeczność terapeutów i naukowców.
      </p>
    </div>
  </div>
</div>
