<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Małgorzata Bereza – Stanisławska</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Malgorzata-Bereza.jpg"
        alt="Małgorzata Bereza"
      >

      <p>Małgorzata Bereza-Stanisławska- psycholog, certyfikowany psychoterapeuta poznawczo-behawioralny</p>
      <p>Od 2013 roku pracuje w Fundacji ISKIERKA na rzecz dzieci z chorobą nowotworową i w ramach współpracy Fundacji z
        oddziałami onkologii dziecięcej świadczy usługi psychoterapeutyczne na dwóch śląskich oddziałach onkologii
        dziecięcej w Górnośląskim Centrum Zdrowia Dziecka oraz Samodzielnego Publicznego Szpitala Klinicznego Śląskiego
        Uniwersytetu Medycznego w Zabrzu oraz w warunkach gabinetowych. Pracuje również z dziećmi na etapie terminalnym
        leczenia oraz z rodzicami po stracie. Współpracuje także z Centrum Pomocy Psychologicznej i Psychoedukacji KORE
        prowadząc psychoterapię pacjentów nastoletnich oraz pacjentów dorosłych z różnym spektrum zaburzeń, jak również
        pacjentów cierpiących na przewlekłe choroby somatyczne (onkologiczne, stwardnienie rozsiane, cukrzycę). Ponadto
        prowadzi działalność dydaktyczną, współpracując z Uniwersytetem SWPS w Katowicach. </p>
      <p>Ukończyła czteroletnie szkolenie psychoterapeutyczne w nurcie poznawczo-behawioralnym. Ponadto odbyła
        szkolenia z Racjonalnej Terapii Zachowania (RTZ) oraz terapii Carla Simontona, która stanowi powszechnie
        stosowany program terapeutyczny dedykowany pacjentom onkologicznym oraz ich rodzinom oparty o techniki
        poznawczo-behawioralne zwłaszcza RTZ. W codziennej pracy koncentruje się na implementowaniu technik TPB
        (obejmujących również wykorzystanie trzeciej fali CBT) w celu poprawy funkcjonowania pacjentów w trakcie
        leczenia szpitalnego, uruchomienia zasobów pacjenta i jego rodziny do radzenia sobie w sytuacji kryzysu i
        wzmocnienia jakości życia w chorobie.</p>
    </div>
  </div>
</div>
