<div class="container">
  <div class="row">
    <div class="col">
      <hr>
      <h4 class="mb-3">Price list</h4>
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <tr>
            <td
              style="width:270px; border:solid 1px #fff !important;"
              class=""
            ></td>
            <td
              style="width:360px"
              class="bg-primary text-white"
              colspan="2"
            >
              Early bird (until 15.03.2020 r.)
            </td>
            <td
              style="width:360px"
              class="bg-primary text-white"
              colspan="2"
            >
              Standard ( until 30.04.2020 r.)
            </td>
          </tr>
          <tr>
            <td style="border:solid 1px #fff; border-right: solid 1px #eceeef; border-bottom: solid 1px #eceeef;"></td>
            <td
              style="width:180px"
              class="bg-info"
            >
              EABCT
              Member
            </td>
            <td
              style="width:180px"
              class="bg-info"
            >
              Standard
            </td>
            <td
              style="width:180px"
              class="bg-info"
            >
              EABCT
              Member
            </td>
            <td
              style="width:180px"
              class="bg-info"
            >
              Standard
            </td>
          </tr>
          <tr>
            <td class="bg-info">Congress registration</td>
            <td>750 zł</td>
            <td>900 zł</td>
            <td>950 zł</td>
            <td>1100 zł</td>
          </tr>
          <tr>
            <td class="bg-info">
              Pre-congress workshops
            </td>
            <td>
              100 zł<br />
              300 zł*
            </td>
            <td>
              200 zł<br />
              400 zł *
            </td>
            <td>
              200 zł<br />
              400 zł*
            </td>
            <td>
              300 zł<br />
              500 zł*
            </td>
          </tr>
          <tr>
            <td class="bg-info">
              In-congress workshops
            </td>
            <td>
              30 zł<br />
              150 zł*
            </td>
            <td>
              60 zł<br />
              250 zł*
            </td>
            <td>
              60 zł<br />
              250 zł*
            </td>
            <td>
              70 zł<br />
              350 zł*
            </td>
          </tr>
        </table>
      </div>
      <p class="mt-2">* price of selected workshops</p>
      <p class="mt-4 mb-4">

      </p>
    </div>
  </div>
</div>
