<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Mark A.Reinecke</h4>

      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Mark-Reinecke.jpg"
        alt="Mark A.Reinecke"
      >
      <p>Doktor Mark A. Reinecke jest dyrektorem Child Mind Institute w San Francisco Bay Area w Kalifornii. Jest
        emerytowanym profesorem psychiatrii i nauk behawioralnych oraz byłym kierownikiem Wydziału Psychologii
        Northwestern University Feinberg School of Medicine. Przez 14 lat był dyrektorem Centrum Terapii Poznawczej na
        Wydziale Psychiatrii i Psychobiologii Uniwersytetu w Chicago. Jest Członkiem Honorowym i byłym przewodniczącym
        Academy of Cognitive Therapy oraz specjalistą psychologii klinicznej i specjalistą psychologii klinicznej dzieci
        i młodzieży American Board of Professional Psychology (ABPP). Jest również członkiem American Psychological
        Association, Association for Psychological Science, oraz Association for Behavioral and Cognitive Therapies.
      </p>
      <p>W 2015 roku został laureatem Nagrody im. Cynthii D.Belar za Zasługi na Rzecz Edukacji, przyznawanej przez
        Amerykańskie Towarzystwo Psychologiczne. Badania i zainteresowania kliniczne dr Reinecke koncentrują się na
        temacie zrozumienia i leczenia depresji, prób samobójczych i zaburzeń lękowych u dzieci i młodzieży.</p>

      <p>
        Był wykładowcą i gościem wielu organizacji w Europie i Azji. Jest autorem i redaktorem dziesięciu książek,
        takich jak „Cognitive therapy across the lifespan”, „Comparative treatments of depression”, „Cognitive therapy
        with children and adolescents”, „Personality disorders in children and adolescents” oraz „Cognitive-behavioral
        therapy with adults”. Jego pierwsza książka przeznaczona dla szerokiej publiczności „Little ways to keep calm
        and carry on” została opublikowana przez wydawnictwo New Harbinger a najnowsza „Landmark papers in psychiatry”
        jest w przygotowaniu przez Oxford Uniwersity Press.
      </p>
    </div>
  </div>
