<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Mark A.Reinecke</h4>

      <img class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
           src="assets/Mark-Reinecke.jpg"
           alt="Mark A.Reinecke">
      <p>Dr Mark A. Reinecke – professor emeritus psychiatrii i nauk behawioralnych oraz były dyrektor Division of
        Psychology na
        uczelni Northwestern University Feinberg School of Medicine. Przez 14 lat był dyrektorem Center for Cognitive
        Therapy na
        Wydziale psychiatrii i behawioralnej neuronauki University of Chicago. Otrzymał tytuł Distinguished Fellow w
        Academy of
        Cognitive Therapy, gdzie służył również jako przewodniczący. Pełnił też funkcję dyplomaty ds. psychologii
        klinicznej i
        psychologii klinicznej dzieci i młodzieży w American Board of Professional Psychology (ABPP). Dr Reinecke jest
        także
        honorowym członkiem (Fellow) Amerykańskiego Towarzystwa Psychologicznego, Association for Psychological Science,
        oraz
        Association for Behavioral and Cognitive Therapies. Za swoje osiągnięcia otrzymał w 2015r. nagrodę Cynthia D.
        Belar
        Education Advocacy Distinguished Service Award, przyznawaną przez Amerykańskie Towarzystwo Psychologiczne. Jego
        zainteresowania naukowe i kliniczne koncentrują się wokół rozumienia i leczenia depresji, zachowań samobójczych,
        oraz
        zaburzeń lękowych wśród dzieci i młodzieży. Dr Reinecke wygłaszał wykłady na całym świecie oraz pełnił funkcję
        gościnnego wykładowcy w wielu instytucjach w Europie i Azji. Jest autorem i redaktorem wielu publikacji, w tym
        dziesięciu książek, m. in. <u>Cognitive therapy across the lifespan</u>, <u>Comparative treatments of
          depression</u>, <u>Cognitive
          therapy with children and adolescents</u>, <u>Personality disorders in children and adolescents</u> oraz
        <u>Cognitive-behavioral
          therapy with adults</u>. Jego pierwsza pozycja popularnonaukowa, <u>Little ways to keep calm and carry on</u>,
        została wydana przez
        New Harbinger, a jego nowa książka <u>Landmark papers in psychiatry</u> (Oxford University Press) została
        opublikowana w
        zeszłym roku.
      </p>

    </div>
  </div>