<div
  class="collapse mt-3 mb-3"
  id="frank-dattilio-2"
>
  <div class="card card-body">
    <div class="p-3">
      <p>Terapia poznawczo-behawioralna z rodzinami.</p>
      <p>
        Opis: Podczas warsztatu zostaną zaprezentowane najnowsze techniki poznawczo-behawioralnej pracy z rodzinami oraz
        pokaz technik i interwencji na przykładach nagrań z sesji.
      </p>
      <p>
        Sugerowana lektura: Dattilio, F. M. (2013). Terapia poznawczo-behawioralna par i rodzin: podręcznik dla
        klinicystów. Kraków: Wydawnictwo Uniwersytetu Jagiellońskiego.
      </p>
    </div>
    <app-frank-datillo></app-frank-datillo>
  </div>
</div>
