<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Robert L. Leahy</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Robert-Leahy.jpg"
        alt="Robert L. Leahy"
      >
      <p>
        Robert L. Leahy (B.A., M.S., Ph.D. Yale University), has authored and edited 28 books on cognitive therapy and
        psychological
        processes and is the Past President of the Association for Behavioral and Cognitive Therapy (ABCT), Past
        President of the International Association for Cognitive Psychotherapy, Past President of the Academy of
        Cognitive Therapy and Clinical Professor of Psychology in Psychiatry at Weill Cornell Medical School. His books
        have been translated into 21 languages. He has been featured in print and televised media worldwide and is a
        frequent keynote speaker and workshop leader in conferences throughout the world. Dr. Leahy is the Honorary
        Lifetime President, New York City Cognitive Behavioral Therapy Association and Distinguished Founding Fellow,
        Diplomate, of the Academy of Cognitive Therapy. Dr. Leahy is the Associate Editor of the International Journal
        of Cognitive Therapy. He received the Aaron T. Beck Award for Outstanding Contributions in Cognitive Behavioral
        Therapy.
      </p>
    </div>
  </div>
