<div
  class="collapse mt-3 mb-3"
  id="michaela-swales"
>
  <div class="card card-body">
    <div class="p-3">
      <p><b>Konceptualizacja i praca z ryzykiem samobójstwa/samouszkodzeń i złożonymi obrazami klinicznymi: Co może dać
          DBT?</b></p>
      <p>Nasilenie problemów zgłaszanych w obszarze zdrowia psychicznego wydaje się wzrastać. Zachowania samobójcze i
        samouszkadzające są coraz bardziej powszechne, a ich uporczywość i zróżnicowanie są problemem, z którym personel
        zdrowia psychicznego często mierzy się zarówno w populacji dorosłych, jak i dzieci i młodzieży. Terapia
        dialektyczno-behawioralna (dialectic behavior therapy, DBT) jest pierwszą metodą poznawczo-behawioralną, która
        wykazała skuteczność w leczeniu zaburzeń osobowości. Początkowo stworzona jako metoda pracy z powtarzającymi się
        zachowaniami samobójczymi i samouszkadzającymi u dorosłych kobiet z diagnozą zaburzenia osobowości borderline
        (Linehan, 1993), DBT ma obecnie status najlepiej zbadanej psychoterapii tego zaburzenia (Stoffers i in., 2013).
        Została też przystosowana do wielu różnych populacji klientów (Swales, 2019). Badania prowadzone w warunkach
        regularnej praktyki (Flynn i in., 2018; Swales i in., 2016) wykazują, że efekty te osiągalne są również poza
        kontekstem naukowych badań klinicznych. Prowadząca warsztat skupi się na tych aspektach DBT, które mogą być
        związane z jej skutecznością w pracy z osobami wykazującymi ryzyko samobójstwa/samouszkodzeń oraz
        przejawiającymi złożone obrazy kliniczne. Omówione zostaną też praktyczne przesłanki dla pracy z takimi
        klientami płynące z owych charakterystycznych aspektów DBT. Podczas warsztatów prowadząca zastosuje zróżnicowane
        metody dydaktyczne i doświadczeniowe, w tym odgrywanie ról z uczestnikami i prezentację materiałów
        audiowizualnych.
      </p>
      <p><b>Cele nauczania:</b></p>
      <ul>
        <li>Poznanie trzech teorii leżących u podstaw konceptualizacji problemów klientów w ramach DBT.</li>
        <li>Poznanie zastosowania podejścia nakierowanego na ryzyko (targeted approach) samobójstwa/samouszkodzenia i
          złożoności przypadku w ramach DBT.</li>
        <li>Zrozumienie głównych strategii terapeutycznych w ramach DBT: rozwiązywania problemów i uważniania
          (validation).</li>
        <li>Nabranie doświadczenia w stosowaniu dialektycznego podejścia do problemów klinicznych.</li>
        <li>Poznanie stylistycznych strategii DBT i zrozumienie ich z perspektywy behawioralnej.</li>
      </ul>
    </div>
    <app-michaela-swales></app-michaela-swales>
  </div>
</div>
