<div class="container">
  <div class="row">
    <div class="col">
      <hr>
      <h4 class="mb-3">Konferencja Studencka</h4>
      <p>
        Szanowni Państwo,<br>
        Zapraszamy do udziału w konferencji studenckiej organizowanej w ramach Międzynarodowej Konferencji Naukowej
        PTTPB, której temat przewodni to:
      </p>
      <p>
        <b>Terapia poznawczo – behawioralna. Psychoterapia nie tylko indywidualna.</b>
      </p>
      <p>
        Zachęcamy do tworzenia <b>plakatów elektronicznych</b> poruszających zagadnienia związane z wykorzystaniem
        psychoterapii poznawczej i behawioralnej w:</p>
      <ul>
        <li>terapii par i rodzin</li>
        <li>terapii grupowej</li>
        <li>terapii dzieci i młodzieży</li>
        <li>terapii zaburzeń afektywnych</li>
        <li>terapii zaburzeń lękowych</li>
        <li> terapii PTSD</li>
        <li> terapii związanej z problemami somatycznymi</li>
        <li> terapii związanej z zaburzeniami snu</li>
        <li> terapii związanej z zaburzeniami odżywiania</li>
        <li>terapii w kontekście międzykulturowym
        </li>
      </ul>
      <p>Harmonogram prezentacji i wytyczne dotyczące wystąpień, zostaną ogłoszone po
        zaakceptowaniu zgłoszenia przez Komitet Naukowy Konferencji. Zgłaszający powinni do 10.04.dostarczyć na adres
        mailowy konferencjastudencka@pttpb.pl abstrakt zawierający następujące informacje:</p>
      <ul>
        <li> Tytuł plakatu</li>
        <li> Imię i Nazwisko autora/autorów</li>
        <li> Afiliacja autora/autorów</li>
        <li> Streszczenie (maksymalnie 300 słów)</li>
      </ul>
      <p><b>Uczestnicy konferencji będą mieli możliwość wzięcia udziału w warsztatach psychoterapeutycznych prowadzonych
          przez członków Polskiego Towarzystwa Terapii Poznawczo-Behawioralnej.</b> Harmonogram warsztatów oraz
        szczegółowy
        program konferencji zostanie udostępniony uczestnikom po zaakceptowaniu zgłoszonych wystąpień.</p>
      <p>
        <b>Komitet organizacyjny</b><br>
        Magdalena Skąpska-Magdoń, Karolina Komorowska-Legierska, Aleksandra Naumowicz-Kucharska, Katarzyna Citak, Joanna
        Stroemich, Agnieszka Jasińska , Joanna Marek-Banach, Magdalena Skuza-Singh, Helena Kotula-Tracz
      </p>
      <p>
        <b>Komitet naukowy</b><br>
        dr Agata Blaut, dr Joanna Kłosowska, Olga Mironiuk, Jacek Legierski
        <p>
          <b>Instrukcja przygotowania plakatów elektronicznych:</b>
        </p>
        <p>
          Sesja plakatowa zorganizowana została w formie plakatów elektronicznych. Plakat elektroniczny należy
          przygotować
          jako jeden slajd przy pomocy programu PowerPoint (<b>układ pionowy</b>).
        </p>
        <p>
          Plakaty elektroniczne będą dostępne dla uczestników podczas całego czasu trwania konferencji. Będą one
          prezentowane przez uczestników podczas sesji plakatowej (na prezentację wyświetlonego przy pomocy projektora
          plakatu uczestnik będzie miał <b>ok. 5 minut</b>). Plakaty wyświetlane będą również podczas przerw pomiędzy
          warsztatami
          oraz w trakcie przerwy obiadowej.
        </p>
        <p>
          Zachęcamy do przesłania plakatów elektronicznych na adres mailowy <a
            href="mailto:konferencjastudencka@pttpb.pl"
          >konferencjastudencka@pttpb.pl</a> przed
          rozpoczęciem konferencji (<b>do 08.05</b>).
        </p>
        <p>
          Szablony plakatów, zarówno w wersji pptx dla PowerPoint 2013, jak ppt dla starszej wersji Power Point dostępne
          są do pobrania poniżej.
        </p>
        <p>
          <a
            href="assets/Szablon-powerpoint-do-przygotowania-plakatu-elektronicznego-office-2010.ppt"
            target="_blank"
          >Szablon PowerPoint do przygotowania plakatu elektronicznego (wersja pakiet Microsoft Office 2010)</a>
        </p>
        <p>
          <a
            href="assets/Szablon-powerpoint-do-przygotowania-plakatu-elektronicznego-office-2013.pptx"
            target="_blank"
          >Szablon PowerPoint do przygotowania plakatu elektronicznego (wersja pakiet Microsoft Office 2013)</a>
        </p>
        <p><b>
            Udział w konferencji jest bezpłatny!</b>
        </p>
        <p>
          Serdecznie zapraszamy!<br>
          Komitet organizacyjny
        </p>
        <img
          class="col-12 col-lg-6 mt-4 mb-4"
          src="assets/konferencja-studencka-logo.PNG"
          alt=""
          width="100%"
          height="auto"
        >
    </div>
  </div>
</div>
