<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Magdalena Skuza-Singh</h4>
      <img class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
           src="assets/Magdalena-Skuza.jpg"
           alt="Magdalena Skuza">

      <p>Magdalena Skuza-Singh, jest psychologiem, socjologiem, certyfikowanym psychoterapeutą poznawczo-behawioralnym,
        w trakcie
        kursu superwizora-dydaktyka terapii poznawczo-behawioralnej. W 2019 roku ukończyła szkolenie DBT Comprehensive
        Training
        prowadzone przez Behavioral Tech, Seattle, USA. Od 2020 należy do zespołu szkoleniowego Center for DBT and
        Families,
        USA, kierowanego przez dr Alana Fruzzetti. Współprowadzi Centrum Zdrowia Psychicznego HarmonJa w Gdańsku,
        pracowała w
        oddziałach klinicznych dla dzieci i młodzieży. Jest członkiem założycielem Polskiego Towarzystwa Terapii
        Dialektyczno-Behawioralnej (PTDBT). W stowarzyszeniu m.in.: zajmuje się koordynacją i rozwijaniem programu
        Family
        Conections w Polsce, reprezentuje stowarzyszenie PTDBT w inicjatywie GAP (Międzynarodowy sojusz na rzecz
        zapobiegania
        oraz wczesnej interwencji dla osób cierpiących na zaburzenie osobowości z pogranicza). Prowadzi superwizję oraz
        zespoły
        konsultacyjne DBT, regularnie prowadzi treningi umiejętności Family Connections dla rodzin.</p>
    </div>
  </div>
</div>