<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Magdalena Skuza-Singh</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Magdalena-Skuza.jpg"
        alt="Magdalena Skuza"
      >

      <p>Magdalena Skuza-Singh, jest psychologiem, certyfikowanym psychoterapeutą poznawczo-behawioralnym. W 2019 roku
        ukończyła szkolenie DBT Comprehensive Training prowadzone przez Behavioral Tech, instytucję założoną przez
        Marshę Linehan. Współprowadzi prywatne centrum zdrowia psychicznego w Gdańsku a także pracuje w Klinice
        Psychiatrii Dorosłych, Dzieci i Młodzieży Szpitala Uniwersyteckiego w Krakowie, gdzie prowadzi treningi
        umiejętności dla dzieci i młodzieży oraz współpracuje z zespołem klinicznym we wdrażaniu terapii DBT w tej
        jednostce. Była członkiem założycielem i członkiem zarządu Polskiego Towarzystwa Terapii
        Dialektyczno-Behawioralnej (PTDBT) pierwszej kadencji. Obecnie jest członkiem Zarządu PTDBT drugiej kadencji. W
        stowarzyszeniu m.in.: zajmuje się koordynacją i rozwijaniem programu Family Conections w Polsce, reprezentuje
        stowarzyszenie PTDBT w inicjatywie GAP Global alliance for prevention and early intervention for borderline
        personality disorder (Międzynarodowy sojusz na rzecz zapobiegania oraz wczesnej interwencji dla osób cierpiących
        na zaburzenie osobowości z pogranicza). Aktywnie uczestniczy w zespołach konsultacyjnych terapeutów oraz
        prowadzi treningi umiejętności Family Connections dla rodzin.</p>
    </div>
  </div>
</div>
