<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Michaela Swales</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Michaela-Swales.jpg"
        alt="Michaela Swales"
      >
      <p>Dr Michaela Swales jest konsultantem w zakresie psychologii klinicznej, profesorem psychologii klinicznej i
        dyrektorem North Wales Clinical Psychology Programme w Bangor University. Terapii Dialektyczno-Behawioralnej
        uczyła się w Seattle w latach 1994-1995 u Marshy Linehan i przez dwadzieścia lat prowadziła program kliniczny
        dla młodych ludzi z tendencjami samobójczymi przebywającymi w szpitalu. Prof. Swales jest dyrektorem British
        Isles Training Team oraz International Affiliate of the Linehan Institute. Przeszkoliła ponad tysiąc
        specjalistów w DBT, uczestnicząc w ponad 400 programach, zarówno w Wielkiej Brytanii, jak i poza nią. Jest
        współautorką Dialektical Behaviour Therapy: Distinctive Features (2009; 2017) i Changing Behavior in DBT:
        Problem-Solving in Action (2015). Jest redaktorką Oxford Handbook DBT. Jej głównym zainteresowaniem badawczym
        jest skuteczne wdrażanie terapii psychologicznych opartych na dowodach do praktyki klinicznej. Dr Swales była
        członkiem grupy roboczej ds. Klasyfikacji zaburzeń osobowości, podlegającej Międzynarodowej Grupie Doradczej
        Światowej Organizacji Zdrowia (WHO) ds. rewizji zaburzeń psychicznych i behawioralnych w ICD-10.</p>
    </div>
  </div>
</div>
