<div
  class="collapse mt-3 mb-3"
  id="brynska-szalas"
>
  <div class="card card-body">
    <div class="p-3">
      <p>Jedną z istotnych zmian dokonanych w ostatniej wersji klasyfikacji zaburzeń psychicznych DSM-5, jak również
        zapowiedzianych w ICD-11, jest wprowadzenie nowej kategorii diagnostycznej Obsessive-Compulsive and Related
        Disorders. Modyfikacja ta stanowi odniesienie do koncepcji spektrum zaburzenia obsesyjno-kompulsyjnego i pozwala
        na jednoznaczne sklasyfikowanie zaburzeń, które albo w ogóle nie były obecne we wcześniejszych systemach
        diagnostycznych, lub też w ich kolejnych wersjach były zmiennie kodowane w obrębie różnych kategorii. Zgrupowano
        zatem zaburzenia zbliżone do siebie m.in. symptomatologią. Zjawiska poznawcze, takie jak obsesje, natrętne myśli
        i wyobrażenia stanowią, podstawowe wyznaczniki kliniczne, z towarzyszącymi im powtarzalnymi czynnościami, przy
        czym aspekt poznawczy lub behawioralny może być mniej lub bardziej wyraźny w przypadku poszczególnych zaburzeń.
      </p>
      <p>W systemie diagnostycznym DSM-IV dysmorfofobia była klasyfikowana w kategorii zaburzeń
        somatopodobnych/somatoformicznych, zaś w ICD-10 jako zaburzenie hipochondryczne w grupie zaburzeń pod postacią
        somatyczną. Rosnąca ilość badań uzasadnia jednak traktowanie hipochondrii i dysmorfofobii jako odrębnych
        jednostek. Zaburzenie (zespół) zbieractwa, nowa jednostka chorobowa, nazywana inaczej syllogomanią lub
        patologicznym (kompulsyjnym) zbieractwem, dotychczas było wpisywane w obraz kliniczny zaburzenia
        obsesyjno-kompulsyjnego. Z kolei trichotillomania zwyczajowo włączana w grupę tzw. powtarzalnych zachowań
        skoncentrowanych na ciele (Body-focused repetitive behaviors, BFRBs; Body-focused repetitive behavioral
        disorders, BFRBDs), tak też została umiejscowiona w ICD-11. We wcześniejszych wersjach klasyfikacji, tj. ICD-10
        oraz DSM-IV była klasyfikowana w kategorii zaburzeń nawyków i popędów (lub zaburzeń kontroli impulsów). Badania
        nad skutecznością terapii poznawczo-behawioralnej w leczeniu powyższych jednostek wskazują na redukcję objawów u
        znacznego odsetka pacjentów objętych interwencją, z nie zawsze jednak długotrwałym utrzymywaniem się efektów
        terapii w czasie. W czasie trwania warsztatów, w oparciu o analizę przypadków, uczestnicy będą mieli możliwość
        zapoznania się z modelami poznawczo-behawioralnymi powyższych zaburzeń, metodami planowania postępowania i
        prowadzenia terapii poznawczo-behawioralnej.
      </p>
    </div>
    <app-anita-brynska></app-anita-brynska>
    <app-nina-szalas></app-nina-szalas>
  </div>
</div>
