<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Frank Dattilio</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Frank-Dattilio.jpg"
        alt="Frank Dattilio"
      >

      <p>Frank M. Dattilio, Ph.D., ABPP is a clinical psychologist and one of the leading couple and family therapists
        in the world. He is specifically known for his development with the Cognitive-Behavior Therapy model of
        treatment. He was formerly an instructor in psychiatry with Harvard Medical School for 14 years and is currently
        a teaching associate. He also maintains a part-time faculty position with the Department of Psychiatry at the
        University of Pennsylvania Perelman School of Medicine where he has taught for 31 years. Dr. Dattilio has over
        300 professional publications and 22 books in cognitive behavior therapy including the areas of couple and
        family therapy. To date, his works have been translated into 30 languages. He has lectured on just about every
        continent in the world and his works are used in over 80 countries. He currently serves on the editorial boards
        of a number of professional refereed journals. Dr. Dattilio has also been the recipient of numerous awards for
        outstanding achievement in the fields of psychology and psychotherapy. He is also the recipient of the 2013
        Outstanding Contribution to Marriage and Family Therapy Award through the American Association for Marriage and
        Family Therapy (AAMFT).</p>
    </div>
  </div>
</div>
