<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <h4>Partners</h4>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <img style="max-width:10em;"
           class="img-thumbnail"
           src="assets/Tercognitiva-logo.jpg"
           alt="" />
      <a class="d-block mt-1"
         target="_blank"
         href="http://tercognitiva.pl/">www.tercognitiva.pl</a>
    </div>
    <div class="col text-center">
      <img style="max-width:10em;"
           class="img-thumbnail"
           src="assets/logo-crescentia.png"
           alt="" />
      <a class="d-block mt-1"
         target="_blank"
         href="https://crescentia.pl/">www.crescentia.pl</a>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <img style="max-width:10em;"
           class="img-thumbnail"
           src="assets/PTPB-logo.png"
           alt="" />
      <a class="d-block mt-1"
         target="_blank"
         href="http://ptpb.pl/">www.ptpb.pl</a>
    </div>
    <div class="col text-center">
      <img style="max-width:10em;"
           class="img-thumbnail"
           src="assets/PTDBT-logo.png"
           alt="" />
      <a class="d-block mt-1"
         target="_blank"
         href="https://ptdbt.pl/">www.ptdbt.pl</a>
    </div>
  </div>
  <div class="row mt-5 mb-5">

    <div class="col text-center">
      <img style="max-width:10em;"
           class="img-thumbnail"
           src="assets/zdrowa-glowa-logo.png"
           alt="" />
      <a class="d-block mt-1"
         target="_blank"
         href="https://zdrowaglowa.pl/">www.zdrowaglowa.pl</a>
    </div>
    <div class="col text-center">
      <img style="max-width:10em;"
           class="img-thumbnail"
           src="assets/logo_scholar.jpg"
           alt="" />
      <a class="d-block mt-1"
         target="_blank"
         href="https://scholar.com.pl/pl/">www.scholar.com.pl</a>
    </div>
    <div class="col text-center">
      <img style="max-width:10em;"
           class="img-thumbnail"
           src="assets/logo-gwp.jpg"
           alt="" />
      <a class="d-block mt-1"
         target="_blank"
         href="https://www.gwp.pl/">www.gwp.pl</a>
    </div>
    <div class="col text-center">
      <img style="max-width:10em;"
           class="img-thumbnail"
           src="assets/logo-wuj.jpg"
           alt="" />
      <a class="d-block mt-1"
         target="_blank"
         href="https://www.wuj.pl">www.wuj.pl</a>
    </div>
  </div>
  <div class="row">

  </div>
</div>