<div class="table-responsive">
  <table class="table table-bordered text-center">
    <tr>
      <td style="width:270px; border:solid 1px #fff !important;"
          class=""></td>
      <td style="width:360px"
          class="bg-primary text-white"
          colspan="2">
        Early registration do 15.06.2021 r.
      </td>
      <td style="width:360px"
          class="bg-primary text-white"
          colspan="2">
        Regular registration 16.06.2021 do 30.06.2021 r.
      </td>
    </tr>
    <tr>
      <td style="border:solid 1px #fff; border-right: solid 1px #eceeef; border-bottom: solid 1px #eceeef;"></td>
      <td style="width:180px"
          class="bg-info">
        PTTPB members
        (with paid membership fees for 2021) and
        EABCT members
      </td>
      <td style="width:180px"
          class="bg-info">
        Regular
        (non-member)
      </td>
      <td style="width:180px"
          class="bg-info">
        PTTPB members
        (with paid membership fees for 2021) and
        EABCT members
      </td>
      <td style="width:180px"
          class="bg-info">
        Regular
        (non-member)
      </td>
    </tr>
    <tr>
      <td class="bg-info">Conference fee</td>
      <td>600 zł</td>
      <td>750 zł</td>
      <td>800 zł</td>
      <td>950 zł</td>
    </tr>
    <tr>
      <td class="bg-info">
        Pre-conference workshops
        (6 teaching hours)
      </td>
      <td>
        200 zł
      </td>
      <td>
        300 zł
      </td>
      <td>
        300 zł
      </td>
      <td>
        400 zł
      </td>
    </tr>
    <tr>
      <td class="bg-info">
        Paid mid-conference workshops
        (4 teaching hours)
      </td>
      <td>
        50 zł
      </td>
      <td>
        80 zł
      </td>
      <td>
        80 zł
      </td>
      <td>
        100 zł
      </td>
    </tr>
  </table>
</div>