<div
  class="collapse mt-3 mb-3"
  id="robert-leahy"
>
  <div class="card card-body">
    <div class="p-3">
      <p>Każdy doświadcza nieprzyjemnych emocji, lecz nie każdy rozwija zaburzenie lęku uogólnionego, PTSD,
        depresję czy inne
        zaburzenie. Terapia Schematów Emocjonalnych (Emotional Schema Therapy) jest integracyjnym, opartym na
        poznaniu
        społecznym modelem, w myśl którego problemy są wynikiem ocen, interpretacji i przewidywań na temat
        doświadczania emocji,
        skutkujące problematycznymi strategiami radzenia sobie. Na przykład adaptacyjna interpretacja smutku i
        złości po
        zakończeniu związku będzie obejmowała normalizowanie tych emocji, postrzeganie ich jako tymczasowe,
        odnoszenie ich do
        intymności jako cenionej wartości (value) i uważnianie własnego doświadczenia. Nasze badania pokazują
        jednak, że
        depresja, lęk, zamartwianie się, ruminacje, unikanie i niezdecydowanie są wynikiem postrzegania
        własnych
        emocji jako
        nieograniczonych w czasie, niekontrolowanych, niewłaściwych, wstydliwych, niezrozumiałych i
        nieakceptowalnych. Te
        przekonania wyzwalają dezadaptacyjne strategie regulacji emocjonalnej, które utrzymują negatywne
        przekonania na temat
        własnych emocji. W tym warsztacie zajmiemy się podstawami Terapii Schematów Emocjonalnych, technikami
        i
        konceptualizacjami dotyczącymi najważniejszych dysfunkcjonalnych schematów emocjonalnych,
        doświadczeniowymi i
        poznawczymi technikami radzenia sobie z emocjami i metodami wspierania emocjonalnego wzbogacania
        (enrichment),
        rozróżniania emocji (differentiation) i inteligencji emocjonalnej. Skupimy się na Emocjonalnym
        Perfekcjonizmie,
        Egzystencjalnym Perfekcjonizmie, „Czystym Umyśle” („Pure Mind”), Nietolerancji Ambiwalencji,
        Konstruktywnym
        Dyskomforcie, Pomyślnej Niedoskonałości (Successful Imperfection) i Osobistemu Wzmacnianiu (Personal
        Empowerment).
        Dodatkowo, omówimy, jak konceptualizacja schematów emocjonalnych pomaga w rozumieniu, w jaki sposób
        emocjonalna
        socjalizacja, obecne przekonania na temat emocji i obecne dezaptacyjne strategie ograniczają osoby w
        budowaniu pełnego,
        bogatego życia.</p>
      <p><b>Cele nauczania:</b></p>
      <p>Identyfikowanie emocjonalnych schematów i dezadaptacyjnych strategii regulacji emocjonalnej.</p>
      <p>Tworzenie konceptualizacji przypadku na podstawie Modelu Schematów Emocjonalnych.</p>
      <p>Wykorzystywanie poznawczych, behawioralnych i doświadczeniowych technik w budowaniu wzbogacaniu i
        tolerancji
        doświadczania emocji.
      </p>
      <p><b>Znaczenie dla codziennej praktyki CBT</b></p>
      <p>Wszystkie zaburzenia psychologiczne są związane z trudnościami w tolerowaniu lub doświadczaniu
        emocji.
        Wykorzystując
        Model Schematów Emocjonalnych, terapeuci poznawczo-behawioralni mogą wspierać klientów we wzbogacaniu
        swojego
        doświadczenia emocjonalnego, uczeniu się ze swoich emocji, odnoszeniu emocji do wartości i
        wypracowywaniu produktywnych
        strategii radzenia sobie z emocjami.</p>
      <p>
        <b>Bibliografia</b>
        Leahy, R.L., Tirch, D., Napolitano, L. (2011). Emotion Regulation in Psychotherapy: A Practitioner’s
        Guide. Guilford.<br>
        Leahy, R.L. (2015). Emotional Schema Therapy: A Practitioner’s Guide. Guilford.<br>
        Leahy, R.L. (2018). Emotional Schema Therapy: Distinctive Feature. Oxford University press.

      </p>
    </div>
    <app-robert-leahy></app-robert-leahy>
  </div>
</div>
