<div class="container">
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row text-justify">
        <!-- <div class="col">
            <p>Program konferencji w wersji PDF <a href="assets/program-konferencji-2021.pdf"
                   target="_blank">pobierz</a></p>
        </div> -->
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <td colspan="4"
                    class="text-center bg-col-1 text-white">Piątek 02.07.2021</td>
            </tr>
            <tr>
                <td colspan="4"
                    class="text-center bg-col-2">Wykłady plenarne</td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white"
                    style="width:150px">14.00-14.30</td>
                <td colspan="3"
                    class="bg-col-2"><b>Ceremonia otwarcia konferencji</b></td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white"
                    style="width:150px">14.30-15.15</td>
                <td colspan="3"
                    class="bg-col-2"><b>Terapia poznawczo-behawioralna ukierunkowana na procesy – zmiana paradygmatu czy
                        zmiana
                        perspektywy? –
                        przykład PTSD</b>
                    Agnieszka Popiel</td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white"
                    style="width:150px">15.15-16.00</td>
                <td colspan="3"
                    class="bg-col-2"><b>Understanding child and adolescent depression. Curent views and future
                        directions</b>
                    Mark Reinecke</td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white"
                    style="width:150px">16.00-16.45</td>
                <td colspan="3"
                    class="bg-col-2"><b>Perfectionism and Couples Therapy</b>
                    Eduardo Keegan</td>
            </tr>
            <tr>
                <td colspan="4"
                    class="text-center bg-col-1 text-white">Przerwa 15 min</td>
            </tr>
            <tr>
                <td colspan="4"
                    class="text-center bg-col-3">Warsztaty Prekonferencyjne</td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white"
                    style="width:150px">17.00-21.30</td>
                <td class="bg-col-3"><b>Emotional schema therapy</b>
                    Robert Leahy</td>
                <td class="bg-col-3"><b>Treating Bipolar Disorder with CBT and Family-Focused Interventions</b>
                    Cory Newan</td>
                <td class="bg-col-3"><b>Dialectical Behavior Therapy with couples</b>
                    Alan E. Fruzzetti</td>
            </tr>
        </table>

        <table class="m-b-0 table table-bordered text-center">
            <tr>
                <td colspan="8"
                    class="text-center bg-col-1 text-white">Sobota 03.07.2021</td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white"
                    style="width:150px"></td>
                <td class="bg-col-3"
                    colspan="5">Warsztaty</td>
                <td class="bg-col-5"
                    colspan="2">Sympozja</td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white b-b-0">9.00-12.00</td>
                <td class="b-b-0 bg-col-3"><b>Skuteczne działanie w stresie – poznawczo-behawioralny program
                        profilaktyki</b>
                    Agnieszka Popiel, Ewa Pragłowska
                    (9.00-12.00)</td>
                <td class="b-b-0 bg-col-3"><b>Wystarczająco dobrze naprawdę wystarczy - transdiagnostyczne podejście do
                        terapii
                        perfekcjonizmu</b>
                    Hanna Malinowska - Wikaryjczyk, Agnieszka Wroczyńska.
                    (9.00-12.00)</td>
                <td class="b-b-0 bg-col-3"><b>Gdy przychodzi pismo z sądu. Czyli praktyczny kurs dla pracowników ochrony
                        zdrowia
                        psychicznego,
                        jak
                        postępować w
                        kontaktach z organami wymiaru sprawiedliwości</b>
                    Maciej Bocheński
                    (9.00-12.00)
                </td>
                <td class="bg-col-3"><b>Terapia poznawczo - behawioralna zaburzeń snu oraz rytmu okołodobowego u
                        nastolatków i młodych
                        dorosłych (16-21 r. ż.)</b>
                    Aleksandra Augustyn, Joanna Szmyd
                    (9.00-10.30)</td>
                <td class="bg-col-3"></td>
                <td class="bg-col-5"><b>Trzy fale terapii behawioralnej bólu przewlekłego: od badań laboratoryjnych do
                        metod interwencji o potwierdzonej
                        skuteczności.</b>
                    (9.00-10.30)</td>
                <td class="bg-col-5"><b>Zastosowanie nowych technologii w terapii poznawczo-behawioralnej</b>
                    (9.00-10.30)
                </td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white b-t-0"></td>
                <td class="b-t-0 bg-col-3"></td>
                <td class="b-t-0 bg-col-3"></td>
                <td class="b-t-0 bg-col-3"></td>
                <td class="bg-col-3"><b>Wykorzystanie technik terapii poznawczo-behawioralnej w psychoonkologii dzieci i
                        młodzieży</b>
                    Małgorzata Bereza-Stanisławska.
                    (10.30-12.00)</td>
                <td class="bg-col-3"><b>Terapia strukturalna w praktyce terapeuty poznawczo- behawioralnego</b>
                    Joanna Salbert
                    (10.30-12.00)</td>
                <td class="bg-col-5">
                    <b>Superwizja
                        w Terapii Poznawczo-Behawioralnej</b>
                    (10.30-12.00)
                </td>
                <td class="bg-col-5"></td>
            </tr>
        </table>

        <table class="m-b-0 table table-bordered text-center">
            <tr>
                <td class="text-center bg-col-1 text-white">Przerwa 1h</td>
            </tr>
        </table>

        <!-- Sobota-->
        <table class="m-b-0 table table-bordered">
            <tr>
                <td colspan="2"
                    class="text-center bg-col-1 text-white">Sobota 03.07.2021</td>
            </tr>
            <tr>
                <td colspan="2"
                    class="text-center bg-col-2">Wykłady plenarne</td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white"
                    style="width:150px">13.00-13.45</td>
                <td class="bg-col-2"><b>Zaburzenia lękowe- zapomniana współchorobowość</b> Wiesław Jerzy Cubała</td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white"
                    style="width:150px">13.45-14.30</td>
                <td class="bg-col-2"><b>CBT with couples. The core methods</b>
                    Cory Newman</td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white"
                    style="width:150px">14.30-15.15</td>
                <td class="bg-col-2"><b>Complex Emotions--Jealousy, Envy, Ambivalence: An Emotional Schema Model</b>
                    Robert Leahy</td>
            </tr>
        </table>

        <table class="m-b-0 table table-bordered">
            <tr>
                <td class="text-center bg-col-1 text-white">Przerwa 15 min</td>
            </tr>
        </table>

        <table class="table table-bordered">
            <tr>
                <td colspan="3"
                    class="text-center bg-col-3">
                    Warsztaty</td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white"
                    style="width:150px">15.30-18.30</td>
                <td class="bg-col-3"><b>CBT with angry and oppositional youth</b>
                    Mark Reinecke</td>
                <td class="bg-col-3"><b>Just do it! Dealing with procrastination</b>
                    Eduardo Keegan</td>
            </tr>
        </table>

        <!-- Niedziela-->
        <table class="table table-bordered text-center m-b-0">
            <tr>
                <td colspan="8"
                    class="text-center bg-col-1 text-white">Niedziela 04.07.2021</td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white"
                    style="width:150px"></td>
                <td class="bg-col-3"
                    colspan="6">Warsztaty</td>
                <td class="bg-col-5"
                    colspan="1">Sympozja</td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white b-b-0">9.00-12.00</td>
                <td class="b-b-0 bg-col-3"><b>Kluczowe techniki terapii metapoznawczej</b>
                    Jacek Legierski, Joachim Kowalski.
                    (9.00-12.00)</td>
                <td class="b-b-0 bg-col-3"><b>Process-based CBT, czyli jak ewoluowały interwencje emocjonalne, poznawcze
                        i behawioralne pod wpływem rozwoju badań nad
                        kluczowymi procesami psychologicznej elastyczności</b>
                    Hubert Czupała.
                    (9.00-12.00)</td>
                <td class="b-b-0 bg-col-3"><b>Grupowa Poznawczo- Behawioralna Terapia w praktyce</b>
                    Zespół Neurorehabilitacji im. Z.J. Dziurkowskich
                    (9.00-12.00)
                </td>
                <td class="b-b-0 bg-col-3"><b>Zastosowanie Mindfulness w psychoterapii partnerskiej</b>
                    Kamila Jakubiak-Leńczuk
                    (9.00-12.00)</td>
                <td class="bg-col-3"><b>Wyjść z klatki. Praktyczne zastosowanie dialogu motywującego w empatycznej
                        konfrontacji w terapii schematów</b>
                    Olga Olszewska
                    (9.00-10.30)</td>
                <td class="bg-col-3"><b>Familly Connections (FC) – grupowy program wsparcia dla bliskich osób z
                        dysregulacją emocji i zaburzeniem osobowości z
                        pogranicza</b>
                    Magdalena Muracka-Tylko, Magdalena Skuza-Singh
                    (9.00-10.30)</td>
                <td class="bg-col-5"><b>Terapia Poznawczo-Behawioralna w kontekście seksualności człowieka</b>
                    (9.00-10.30)
                </td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white b-t-0"></td>
                <td class="b-t-0 bg-col-3"></td>
                <td class="b-t-0 bg-col-3"></td>
                <td class="b-t-0 bg-col-3"></td>
                <td class="b-t-0 bg-col-3"></td>
                <td class="bg-col-3"><b>Poznawczo-Behawioralna Psychoterapia osób doświadczających przemocy ze strony
                        partnera</b>
                    Natalia Liszewska
                    (10.30-12.00)</td>
                <td class="bg-col-3">
                    <b>DBT w praktyce terapeuty poznawczo-behawioralnego – podobieństwa i różnice z CBT, włączanie
                        grupowego treningu
                        umiejętności</b>
                    Alicja Baranek
                    (10.30-12.00)
                </td>
                <td class="bg-col-5"><b>Poznawczo-Behawioralna Terapia par</b>
                    (10.30-12.00)</td>
            </tr>
        </table>

        <table class="table table-bordered">
            <tr>
                <td class="text-center bg-col-1 text-white">Przerwa 30 min</td>
            </tr>
        </table>

        <table class="table table-bordered">
            <tr>
                <td colspan="2"
                    class="text-center bg-col-1 text-white">Niedziela 04.07.2021</td>
            </tr>
            <tr>
                <td colspan="2"
                    class="text-center bg-col-2">Wykłady plenarne</td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white"
                    style="width:150px">12.30-13.15</td>
                <td class="bg-col-2"><b>Konceptualizacja pacjenta w wieku rozwojowym</b> Anita Bryńska</td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white"
                    style="width:150px">13.15-14.00</td>
                <td class="bg-col-2"><b>Temperament a PTSD</b>
                    Bogdan Zawadzki</td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white"
                    style="width:150px">14.00-14.45</td>
                <td class="bg-col-2"><b>Supervision in psychotherapy – listening to the supervisees' perspective</b>
                    Yona Teichman</td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white"
                    style="width:150px">14.45-16.15</td>
                <td class="bg-col-2"><b>Panel dyskusyjny.
                        Superwizja wobec rozwoju terapii poznawczo-behawioralnej. Obecne wyzwania</b></td>
            </tr>
            <tr>
                <td class="bg-col-1 text-white"
                    style="width:150px">16.15</td>
                <td class="bg-col-2"><b>Ceremonia zakończenia konferencji</b></td>
            </tr>
        </table>
    </div>
</div>