<div class="container">
  <div class="row">
    <div class="col">
      <hr />
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">


      <div class="pt-1 pb-1 mt-5 bg-dark text-center">
        <span class="text-white">Pre-Conference Workshops, Friday 08.05.2020</span>
      </div>
      <p class="mt-3"><b>9.00-13.30</b></p>
      <ul>
        <li>
          <a
            href="#frank-dattilio"
            data-toggle="collapse"
          ><b>Frank Dattilio</b>. CBT with couples. *</a>
          <app-en-workshop-frank-datillo></app-en-workshop-frank-datillo>
        </li>
        <li>
          <a
            href="#robert-leahy"
            data-toggle="collapse"
          ><b>Robert Leahy</b>. Emotional schema therapy. *</a>
          <app-en-workshop-reobert-leahy></app-en-workshop-reobert-leahy>
        </li>
        <li>
          <a
            href="#michaela-swales"
            data-toggle="collapse"
          ><b>Michaela Swales</b>. Conceptualising and treating high-risk and
            complexity: What does DBT have to offer.</a>
          <app-en-workshop-michaela-swales></app-en-workshop-michaela-swales>
        </li>
      </ul>

      <div class="pt-1 pb-1 mt-5 bg-dark text-center">
        <span class="text-white">Mid-Conference Workshops - paid</span>
      </div>

      <span class="d-inline-block pt-1 pb-1 pl-3 pr-3 mt-4 bg-secondary text-white">Saturday 9.05.2020r</span>

      <p class="mt-4"><b>9.00-12.00</b></p>
      <ul>
        <li>
          <a
            href="#eduardo-keegan"
            data-toggle="collapse"
          ><b>Eduardo Keegan</b> Just do it! Dealing with procrastination. *</a>
          <app-en-workshop-eduardo-kegan></app-en-workshop-eduardo-kegan>
        </li>
        <li>
          <a
            href="#frank-dattilio-2"
            data-toggle="collapse"
          ><b>Frank Dattilio</b>. CBT with families. *
          </a>
          <app-en-workshop-frank-datillo-second></app-en-workshop-frank-datillo-second>
        </li>
      </ul>

      <p class="mt-4"><b>15.00-18.00</b></p>
      <ul>
        <li>
          <a
            href="#cory-newman"
            data-toggle="collapse"
          >
            <b>Cory Newman</b>. Treating Bipolar Disorder with CBT and Family-Focused
            Interventions. *</a>
          <app-en-workshop-cory-newman></app-en-workshop-cory-newman>
        </li>
      </ul>

      <span class="d-inline-block pt-1 pb-1 pl-3 pr-3 mt-4 bg-secondary text-white">Sunday 10.05.2020r.</span>

      <p class="mt-4"><b>9.00-12.00</b></p>
      <ul>
        <li><b>Mark Reinecke</b>. CBT with angry and oppositional youth. *</li>
      </ul>

      <p>* This workshop has a higher participation fee (additional info in the <a
          routerLink="/en-cennik"
          target="_blank"
        >price list</a>)
      </p>
      <p class="mb-3">
        <a
          href="/assets/Workshops.pdf"
          target="_blank"
        >Workshops schedule version pdf</a>
      </p>
    </div>
  </div>
</div>
