<div class="container">
  <div class="row">
    <div class="col">
      <hr />
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">


      <div class="pt-1 pb-1 mt-5 bg-dark text-center">
        <span class="text-white">Pre-Conference Workshops, Friday 02.07.2021</span>
      </div>
      <p class="mt-3"><b>17.00-21.30</b></p>
      <ul>
        <li><a href="#alan-fruzzetti"
             data-toggle="collapse">
            <b>Alan Fruzzetti</b>. Dialectical Behavior Therapy with Couples</a>
          <app-en-workshop-alan-fruzzetti></app-en-workshop-alan-fruzzetti>
        </li>
        <li>
          <a href="#robert-leahy"
             data-toggle="collapse"><b>Robert Leahy</b>. Emotional schema therapy.</a>
          <app-en-workshop-reobert-leahy></app-en-workshop-reobert-leahy>
        </li>
        <li>
          <a href="#cory-newman"
             data-toggle="collapse">
            <b>Cory Newman</b>. Treating Bipolar Disorder with CBT and Family-Focused
            Interventions. *</a>
          <app-en-workshop-cory-newman></app-en-workshop-cory-newman>
        </li>
      </ul>

      <div class="pt-1 pb-1 mt-5 bg-dark text-center">
        <span class="text-white">Mid-Conference Workshops - paid</span>
      </div>

      <span class="d-inline-block pt-1 pb-1 pl-3 pr-3 mt-4 bg-secondary text-white">Saturday 03.07.2021r</span>

      <p class="mt-4"><b>15.30-18.30</b></p>
      <ul>
        <li><b>Mark Reinecke</b>. CBT with angry and oppositional youth.</li>
        <li>
          <a href="#eduardo-keegan"
             data-toggle="collapse"><b>Eduardo Keegan</b> Just do it! Dealing with procrastination.</a>
          <app-en-workshop-eduardo-kegan></app-en-workshop-eduardo-kegan>
        </li>
      </ul>

      <!-- <p class="mb-3">
        <a href="/assets/Workshops.pdf"
           target="_blank">Workshops schedule version pdf</a>
      </p> -->
    </div>
  </div>
</div>