<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Polityka prywatności</h4>
      <ol class="mt-3">
        <li>Niniejsza Polityka Prywatności określa zasady przetwarzania i ochrony danych osobowych przekazanych przez
          Użytkowników w związku z korzystaniem przez nich ze Strony Internetowej.</li>

        <li> Administratorem danych osobowych zawartych w serwisie jest Polskie Towarzystwo Terapii Poznawczej i
          Behawioralnej z siedzibą: ul. Ogrodowa 28/30, 00-896 Warszawa.</li>

        <li> W trosce o bezpieczeństwo powierzonych nam danych opracowaliśmy wewnętrzne procedury i zalecenia, które
          mają
          zapobiec udostępnieniu danych osobom nieupoważnionym. Kontrolujemy ich wykonywanie i stale sprawdzamy ich
          zgodność
          z odpowiednimi aktami prawnymi – ustawą o ochronie danych osobowych, ustawą o świadczeniu usług drogą
          elektroniczną, a także wszelkiego rodzaju aktach wykonawczych i aktach prawa wspólnotowego.</li>

        <li> Dane Osobowe przetwarzane są na podstawie zgody wyrażanej przez Użytkownika oraz w przypadkach, w których
          przepisy prawa upoważniają Administratora do przetwarzania danych osobowych na podstawie przepisów prawa lub w
          celu realizacji zawartej pomiędzy stronami umowy.</li>

        <li> Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniach w następujący sposób:
          a)
          poprzez dobrowolnie wprowadzone w formularzach informacje b) poprzez gromadzenie plików “cookies”.</li>

        <li> Serwis zbiera w sposób automatyczny tylko informacje zawarte w plikach cookies</li>

        <li> Pliki (cookies) są plikami tekstowymi, które przechowywane są w urządzeniu końcowym użytkownika serwisu.
          Przeznaczone są do korzystania ze stron serwisu. Przede wszystkim zawierają nazwę strony internetowej swojego
          pochodzenia, swój unikalny numer, czas przechowywania na urządzeniu końcowym.</li>

        <li> Szczegółowe informacje na temat plików cookies dostępne są na stronie ciasteczka.org.pl</li>

        <li> Serwis zbiera informacje dobrowolnie podane przez użytkownika. Dane osobowe przetwarzane są przez czas
          konieczny do realizacji celu wizyty na stronie internetowej PTTPB.</li>

        <li>Dane podane w formularzu są przetwarzane w celu wynikającym z funkcji konkretnego formularza np. w celu
          dokonania procesu obsługi kontaktu informacyjnego</li>

        <li> Dane osobowe pozostawione w serwisie nie zostaną sprzedane ani udostępnione osobom trzecim, zgodnie z
          przepisami RODO oraz Ustawy o ochronie danych osobowych.</li>

        <li> Do danych zawartych w formularzu przysługuje wgląd osobie fizycznej, która je tam umieściła. Osoba ta ma
          również praw do modyfikacji i żądania zaprzestania przetwarzania swoich danych w dowolnym momencie.</li>

        <li> Zastrzegamy sobie prawo do zmiany w polityce ochrony prywatności serwisu, na które może wpłynąć rozwój
          technologii internetowej, ewentualne zmiany prawa w zakresie ochrony danych osobowych oraz rozwój naszego
          serwisu
          internetowego. O wszelkich zmianach będziemy informować w sposób widoczny i zrozumiały.</li>

        <li> W Serwisie mogą pojawiać się linki do innych stron internetowych. Takie strony internetowe działają
          niezależnie od Serwisu i nie są w żaden sposób nadzorowane przez towarzystwo PTTPB. Strony te mogą posiadać
          własne
          polityki dotyczące prywatności oraz regulaminy, z którymi zalecamy się zapoznać. W razie wątpliwości co
          któregokolwiek z zapisów niniejszej polityki prywatności jesteśmy do dyspozycji – wszelkie pytania prosimy
          wysyłać
          na adres email sekretariat@pttpb.pl.</li>
      </ol>

      <p>Dodatkowo Administrator Danych Osobowych Informuje, że
        Osoba wyrażająca zgodę na przetwarzanie danych osobowych ma prawo do żądania od Administratora dostępu do swoich
        danych osobowych, ich sprostowania, usunięcia lub ograniczenia przetwarzania. Osoba wyrażająca zgodę ma także
        prawo do wniesienia sprzeciwu, a także skargi do organu ochrony danych osobowych.</p>

      <p>Osoba, której dane dotyczą, ma prawo otrzymać w ustrukturyzowanym, powszechnie używanym formacie nadającym się
        do
        odczytu maszynowego dane osobowe jej dotyczące, które dostarczyła administratorowi, oraz ma prawo przesłać te
        dane
        osobowe innemu administratorowi bez przeszkód ze strony administratora, któremu dostarczono te dane osobowe</p>

      <p>Podanie danych osobowych jest dobrowolne.</p>

      <p> Dane osobowe nie są przetwarzane automatycznie. Na podstawie upoważnienia do przetwarzania danych osobowych
        dostęp
        do danych osobowych posiadają pracownicy Administratora lub osoby współpracujące z Administratorem. Dane osobowe
        na podstawie upoważnienia mogą również zostać udostępnione podmiotowi prowadzącemu dla Administratora usługi
        informatyczne.</p>

      <p>Dane osobowe nie są przekazywane do Państw trzecich.</p>

      <p>Administrator informuje o możliwości wycofania zgody na przetwarzanie danych osobowych oraz o tym, że wycofanie
        zgody nie wpływa na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej wycofaniem.
      </p>

      <p>Podstawa prawna przetwarzania danych osobowych art. 6 ust. 1 lit. a) Rozporządzenia Parlamentu Europejskiego i
        Rady nr 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych
        osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne
        rozporządzenie
        o ochronie danych), art. 23 ust. 1 pkt. 1 ustawy o ochronie danych osobowych.</p>
    </div>
  </div>
</div>
