<div class="container">
  <div class="row">
    <div class="col  text-justify">
      <hr>
      <h4 class="mb-3">Mark A. Reinecke</h4>

      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Mark-Reinecke.jpg"
        alt="Mark A.Reinecke"
      >

      <p>Mark A. Reinecke, Ph.D. is Clinical Director at the Child Mind Institute – San Francisco Bay Area. He is
        Professor Emeritus of Psychiatry and Behavioral Sciences and past Chief of the Division of Psychology at
        Northwestern University’s Feinberg School of Medicine. He also served for 14 years as the Director of the Center
        for Cognitive Therapy in the Department of Psychiatry and Behavioral Neuroscience at the University of Chicago.
        He is a Distinguished Fellow and former president of the Academy of Cognitive Therapy, and a Diplomat of the
        American Board of Professional Psychology (ABPP) in Clinical Psychology and Clinical Child and Adolescent
        Psychology. Dr. Reinecke also is a Fellow of the American Psychological Association, the Association for
        Psychological Science, and the Association for Behavioral and Cognitive Therapies.
      </p>
      <p>He is the 2015 recipient of the Cynthia D. Belar Education Advocacy Distinguished Service Award from the
        American Psychological Association. His research and clinical interests center on understanding and treating
        depression, suicide, and anxiety among children and adolescents. </p>

      <p>
        He has lectured internationally and has served as a visiting professor at institutions in Europe and Asia.
        Widely published, he has authored or edited ten books, including Cognitive therapy across the lifespan,
        Comparative treatments of depression, Cognitive therapy with children and adolescents, Personality disorders in
        children and adolescents and Cognitive-behavioral therapy with adults. His first book for a general audience,
        Little ways to keep calm and carry on was published by New Harbinger and a new book, Landmark papers in
        psychiatry (Oxford University Press) is forthcoming.
      </p>
    </div>
  </div>
