<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="row d-flex justify-content-center mt-3">
      <div class="col-12 col-lg-9 col-xl-9 text-center">
        <h4>Honorowy Komitet Naukowy</h4>
        <p>prof. Przemysław Bąbel, prof. Wiesław Jerzy Cubała, prof. Eduardo Keegan, prof. Andrzej Kokoszka, prof.
          Robert Leahy, prof. Cory
          Newman, prof. Mark Reinecke, prof. Yona Teichman, prof. Bogdan Zawadzki, dr hab. Anita Bryńska, <br>dr hab.
          Maciej
          Pilecki, dr Artur Kołakowski, dr Agnieszka Popiel, dr Ewa Pragłowska, dr Magdalena Skotnicka-Chaberek,
          <br>dr Mariola Skowrońska, Sylwia Pieńkowska</p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="row d-flex justify-content-center mt-3">
        <div class="col-12 col-lg-9 col-xl-9 text-center">
          <h4>Naukowy Komitet Doradczy:</h4>
          <p>prof. Aleksandra Parobkiewicz-Jasielska, dr Joachim Kowalski, dr Agnieszka Księżopolska, <br>dr Grzegorz
            Mączka, dr Dorota Nowocin, dr Alicja Raczak, Anna Derwich, Iga Jaraczewska, Jacek Legierski, Małgorzata
            Walęcka</p>
        </div>
      </div>
      <div class="col-12 col-lg-9 col-xl-9 text-center m-3">
        <h4>Komitet Organizacyjny:</h4>
        <p>Katarzyna Citak, Agnieszka Jasińska, Karolina Komorowska-Legierska, Helena Kotula-Tracz,
          Joanna Marek-Banach, Aleksandra Naumowicz-Kucharska, Magdalena Skąpska-Magdoń,
          Magdalena Skuza-Singh, Joanna Stroemich
        </p>
      </div>
    </div>

  </div>
