<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4>Kraków</h4>
      <img
        class="img-thumbnail float-right ml-3 col-12 col-lg-3 col-xl-3"
        src="assets/krk1.jpg"
      >
      <p>Królewskie miasto Kraków swoją historią sięga VII wieku, W roku 1257 miasto uzyskało lokację na prawie
        Magdeburskim, która wyznaczyła widoczny do dzisiaj w centrum miasta centralnie usytuowany rynek z prostopadle do
        niego odchodzącymi ulicami. Za czasów panowania Kazimierza Wielkiego miasto przeżywało rozkwit zarówno
        architektoniczny, jak i naukowy. Władca ten w 1364 r. ufundował Akademię Krakowską, która dała początek
        Uniwersytetowi Jagiellońskiemu. Za czasów Jagiellonów przez ok. 200 lat Kraków pełni funkcję stolicy Polski.
        Kraków nazywany był Florencją północy a Zamek na Wawelu stał się perłą renesansowej architektury.</p>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/krk2.jpg"
      >
      <p>Wiek XX również i dla Krakowa nie był zbyt łaskawy, mimo iż w trakcie trwania II wojny światowej miasto nie
        doznało wielu zniszczeń materialnych, zniszczone zostały intelektualne i kulturalne elity miasta. Po zakończeniu
        działań wojennych ówczesne władze komunistyczne zapragnęły aby Kraków stał się miastem robotniczym. W tym celu
        na
        bardzo żyznej i pięknej ziemi zbudowały ogromny kompleks mieszkalno-pracowniczy Nową Hutę. Działania te nie
        przyniosły oczekiwanych rezultatów, gdyż współczesny Kraków to miejsce przyjazne kulturze, nauce, ale też nowym
        gałęziom gospodarki, posiadające bogatą historię architektoniczną, w którą obecnie mocno wpisuje się również
        zabudowa Nowej Huty.</p>
      <p>Obecnie miasto Kraków słynie ze swojej gościnności i wielokulturowości. Krakowski Kazimierz oraz dzielnica
        Podgórze stały się ulubionym miejscem spotkań turystów, jak i mieszkańców. To tutaj przechadzając się urokliwymi
        wąskimi uliczkami można posłuchać muzyki na żywo, zjeść przepyszne bajgle, a w gorący letni dzień schłodzić się
        przy brzegu Wisły. Kazimierz to jedna z najbardziej znanych i rozpoznawanych (również dzięki produkcjom
        filmowym)
        dzielnic Żydowskich w Europie, w której znajdują się stare synagogi zlokalizowane m.in. przy ulicy Szerokiej.
      </p>
      <p>Dla miłośników żeglugi rzecznej, Kraków oferuje możliwość zwiedzania miasta na barkach lub łodziach, które
        oferują nie tylko piękne widoki, ale również wspaniałe jedzenie i muzykę.</p>
      <img
        class="img-thumbnail float-right ml-3 col-12 col-lg-3 col-xl-3"
        src="assets/krk3.jpg"
      >
      <p>Kraków to również miasto z bogatą przeszłością akademicką. Od wieków Uniwersytet Jagielloński rozsławia Polskę
        i polskich naukowców na całym świecie. Współcześnie studenci znajdą w Krakowie szeroki wachlarza propozycji
        dydaktycznych ze strony licznych uniwersytetów, akademii oraz szkół wyższych. Jest to również miejsce atrakcyjne
        dla światowych korporacji oraz małych, lokalnych start-upów.</p>
      <p>Bogactwo architektoniczne Krakowa to między innymi średniowieczny Rynek wraz z Sukiennicami -centrum handlu i
        rzemiosła, oraz monumentalnymi kościołami: Bazylika Mariacka, Kościół św. Andrzeja, kościół św. Barbary. Warto
        zaznaczyć, że od 40 lat Stare Miasto znajduje się na liście Światowego Dziedzictwa UNESCO. Krótkim spacerem
        ulicą
        Grodzką dochodzi się do wzgórza wawelskiego, na którym znajduje się Zamek na Wawelu, a w nim przepiękne, bogate
        w
        arcydzieła sztuki sale zamkowe. Warto również zajrzeć do jamy pod zamkiem, którą za swój dom obrał Smok
        Wawelski.
      </p>
      <p>Dla tych, którzy cenią sobie bliskość przyrody i ruch mogą przypaść do gustu Krakowski błonia oraz lasek Wolski
        znajdujący się nieopodal. Zmęczeni aktywnością ruchową turyści mogą złapać oddech w urokliwych oranżeriach i
        kawiarniach zlokalizowanych w okolicach Błoń.</p>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/krk4.jpg"
      >
      <p>Miłośnicy kultury i sztuki mogą znaleźć wiele propozycji ze strony krakowskich teatrów, muzeów czy sal
        koncertowych. Kraków to również miasto licznych festiwali , z których najsłynniejsze to: Sacrum Profanum,
        Festiwal Kultury Żydowskiej, Unsound, Międzynarodowy Festiwal Filmowy Etiuda&Anima i wiele wiele innych. Warte
        odwiedzenia są zarówno Muzeum Narodowe w Krakowie, z Damą z łasiczką na czele oraz Muzeum Schindlera,
        zlokalizowane dawnej fabryce Schindlera.</p>
      <p>Nieopodal Krakowa znajduje się słynna na cały świat kopalnia Soli w Wieliczce, która poza walorami
        estetycznymi, charakteryzuje się również licznymi walorami zdrowotnymi. Odwiedzając Kraków warto również wybrać
        się do Miejsca Pamięci i Muzeum w Auschwitz-Birkenau w Oświęcimiu. Okolice Krakowa to również atrakcyjne tereny
        do wycieczek górskich, które szczególnie przyjemne są w maju, gdy przyroda rozkwita i budzi się do życia, a
        szlaki nadal pozostają puste.</p>
      <p>Zapraszamy do Krakowa, tu nie można się nudzić!</p>
    </div>
  </div>
</div>
