<div class="container">
  <div class="row">
    <div class="col">
      <hr />
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <p>
        Szanowni Państwo, z radością informujemy, że podczas konferencji będą Państwo mogli skorzystać z bogatej oferty
        warsztatowej. Do wyboru mają Państwo kilkanaście niezwykle ciekawych warsztatów. Warsztaty przedkonferencyjne i
        część
        warsztatów w trakcie trwania konferencji jest dodatkowo płatna, z pozostałych będą mogli Państwo korzystać w
        ramach
        opłaty konferencyjnej. Lista warsztatów i szczegóły na ich temat poniżej.
      </p>
      <p>Warsztaty prowadzone w języku angielskim tłumaczone będą na język
        polski.</p>

      <!-- <div class="d-flex align-items-center">
        <span> Ceny warsztatów znajdą Państwo:</span>

        <button type="button"
                class="btn btn-primary ml-3"
                routerLink="/rejestracja-na-konferencje">
          Rejestracja na konferencję
        </button>
      </div> -->

      <div class="pt-1 pb-1 mt-5 bg-dark text-center">
        <span class="text-white">Warsztaty przedkonferencyjne – piątek 02.07.2021r.</span>
      </div>
      <p class="mt-3"><b>17.00-21.30</b></p>
      <ul>
        <li><a href="#alan-fruzzetti"
             data-toggle="collapse"><b>Alan Fruzzetti</b>. DBT with couples *</a>
          <app-workshop-alan-fruzzetti></app-workshop-alan-fruzzetti>
        </li>
        <li>
          <a href="#robert-leahy"
             data-toggle="collapse"><b>Robert Leahy</b>. Emotional schema therapy *</a>
          <app-workshop-robert-leahy></app-workshop-robert-leahy>
        </li>
        <li>
          <a href="#cory-newman"
             data-toggle="collapse">
            <b>Cory Newman</b>. Treating Bipolar Disorder with CBT and Family-Focused
            Interventions *</a>
          <app-workshop-cory-newman></app-workshop-cory-newman>
        </li>
      </ul>

      <div class="pt-1 pb-1 mt-5 bg-dark text-center">
        <span class="text-white">Warsztaty konferencyjne sobota, niedziela 03-04.07.2021 r.</span>
      </div>

      <span class="d-inline-block pt-1 pb-1 pl-3 pr-3 mt-4 bg-secondary text-white">Sobota 03.07.2021r</span>

      <p class="mt-4"><b>9.00-12.00</b></p>
      <ul>
        <li>
          <a href="#agnieszka-popiel"
             data-toggle="collapse">
            <b>Agnieszka Popiel, Ewa Pragłowska</b>. Skuteczne działanie w stresie –
            poznawczo-behawioralny program profilaktyki *</a>
          <app-workshop-ewa-popiel></app-workshop-ewa-popiel>
        </li>
        <li>
          <a href="#malinowska-wroczynska"
             data-toggle="collapse">
            <b>Hanna Malinowska-Wikaryjczyk, Agnieszka Wroczyńska</b>. Wystarczająco
            dobrze naprawdę wystarczy - transdiagnostyczne podejście do terapii
            perfekcjonizmu *</a>
          <app-workshop-malinowska-wroczynska></app-workshop-malinowska-wroczynska>
        </li>
        <li>
          <a href="#maciej-bochenski"
             data-toggle="collapse">
            <b>Maciej Bocheński</b>. Gdy przychodzi pismo z sądu. Czyli praktyczny kurs dla pracowników ochrony zdrowia
            psychicznego jak postępować w
            kontaktach z organami wymiaru sprawiedliwości *</a>
          <app-workshop-maciej-bochenski></app-workshop-maciej-bochenski>
        </li>
      </ul>

      <p class="mt-4"><b>9.00-10.30</b></p>

      <ul>
        <li>
          <a href="#aleksandra-augustyn"
             data-toggle="collapse"><b>Aleksandra Augustyn, Joanna Szmyd</b>. Terapia poznawczo - behawioralna zaburzeń
            snu oraz rytmu
            okołodobowego u
            nastolatków i młodych dorosłych (16-21 r. ż.)</a>
          <app-workshop-aleksandra-augustyn></app-workshop-aleksandra-augustyn>
        </li>
        <!-- <li>
          <a href="#joachim-kowalski"
             data-toggle="collapse"><b>Joachim Kowalski, Daniel Pankowski, Kinga Wytrychiewicz</b>. Treningi
            metapoznawcze dla osób z diagnozą
            schizofrenii, depresji i zaburzenia osobowości borderline.</a>
          <app-workshop-joachim-kowalski></app-workshop-joachim-kowalski>
        </li> -->
      </ul>

      <p class="mt-4"><b>10.30-12.00</b></p>

      <ul>
        <li>
          <a href="#malgorzata-bereza"
             data-toggle="collapse"><b>Małgorzata Bereza–Stanisławska</b>. Wykorzystanie technik terapii
            poznawczo-behawioralnej w
            psychoonkologii
            dzieci i młodzieży</a>
          <app-workshop-malgorzata-bereza></app-workshop-malgorzata-bereza>
        </li>
        <li>
          <a href="#joanna-salbert"
             data-toggle="collapse"><b>Joanna Salbert</b>. Terapia strukturalna w praktyce terapeuty poznawczo-
            behawioralnego</a>
          <app-workshop-joanna-salbert></app-workshop-joanna-salbert>
        </li>
      </ul>

      <p class="mt-4"><b>15.30-18.30</b></p>

      <ul>
        <li><b>Mark Reinecke</b>. CBT with angry and oppositional youth *</li>
        <li>
          <a href="#eduardo-keegan"
             data-toggle="collapse"><b>Eduardo Keegan</b> Just do it! Dealing with procrastination *</a>
          <app-workshop-eduardo-kegan></app-workshop-eduardo-kegan>
        </li>
      </ul>

      <span class="d-inline-block pt-1 pb-1 pl-3 pr-3 mt-4 bg-secondary text-white">Niedziela 04.07.2021r.</span>

      <p class="mt-4"><b>9.00-12.00</b></p>

      <ul>
        <li>
          <a href="#jacek-legierski"
             data-toggle="collapse">
            <b>Jacek Legierski, Joachim Kowalski</b>. Kluczowe techniki terapii
            metapoznawczej *</a>
          <app-workshop-jacek-legierski></app-workshop-jacek-legierski>
        </li>
        <li>
          <a href="#hubert-czupala"
             data-toggle="collapse">
            <b>Hubert Czupała</b>. Process-based CBT, czyli jak ewoluowały interwencje
            emocjonalne, poznawcze i behawioralne pod wpływem rozwoju badań nad
            kluczowymi procesami psychologicznej elastyczności *</a>
          <app-workshop-hubert-czupala></app-workshop-hubert-czupala>
        </li>
        <li><a href="#centrumneuro"
             data-toggle="collapse"><b>Zespół Centrum Neurorehabilitacji im. Z.J. Dziurkowskich</b> Grupowa
            Poznawczo-Behawioralna Terapia w
            praktyce *</a>
          <app-workshop-centrumneuro></app-workshop-centrumneuro>
        </li>
        <li><a href="#kamila-jakubiak"
             data-toggle="collapse"><b>Kamila Jakubiak-Leńczuk</b> Zastosowanie Mindfulness w psychoterapii partnerskiej
            *</a>
          <app-workshop-kamila-jakubiak></app-workshop-kamila-jakubiak>
        </li>
      </ul>

      <p class="mt-4"><b>9.00-10.30</b></p>

      <ul>
        <li>
          <a href="#olga-olszewska"
             data-toggle="collapse"><b>Olga Olszewska</b>. Wyjść z klatki. Praktyczne zastosowanie dialogu motywującego
            w empatycznej
            konfrontacji w
            terapii schematów</a>
          <app-workshop-olga-olszewska></app-workshop-olga-olszewska>
        </li>
        <li>
          <a href="#magdalena-muracka"
             data-toggle="collapse"><b>Magdalena Muracka-Tylko, Magdalena Skuza-Singh</b>. Familly Connections (FC) –
            grupowy program wsparcia
            dla
            bliskich osób z dysregulacją emocji i zaburzeniem osobowości z pogranicza</a>
          <app-workshop-magdalena-muracka></app-workshop-magdalena-muracka>
        </li>
      </ul>

      <p class="mt-4"><b>10.30-12.00</b></p>

      <ul>
        <li>
          <a href="#natalia-liszewska"
             data-toggle="collapse"><b>Natalia Liszewska</b>. Poznawczo-behawioralna psychoterapia osób po
            doświadczeniach przemocy ze strony
            partnera</a>
          <app-workshop-natalia-liszewska></app-workshop-natalia-liszewska>
        </li>
        <li>
          <a href="#alicja-baranek"
             data-toggle="collapse"><b>Alicja Baranek</b>. DBT w praktyce terapeuty poznawczo-behawioralnego –
            podobieństwa i różnice z CBT,
            włączanie
            grupowego treningu umiejętności</a>
          <app-workshop-alicja-baranek></app-workshop-alicja-baranek>
        </li>
      </ul>

      <p>* warsztaty dodatkowo płatne
      </p>

      <!-- <p class="mb-3">
        <a href="/assets/Warsztaty-lista.pdf"
           target="_blank">Plan warsztatów wersja pdf</a>
      </p> -->
    </div>
  </div>
</div>