<div class="collapse mt-3 mb-3"
     id="kamila-jakubiak">
  <div class="card card-body">
    <div class="p-3">

      <p>Stosowanie technik opartych na uważności staje się coraz bardziej powszechne. Znalazło już ono zastosowanie
        chociażby w
        leczeniu depresji czy zaburzeń lękowych. Efekty skłoniły do poszukiwania innych obszarów, w których możliwe jest
        zastosowanie tego podejścia. Integracja terapii poznawczo-behawioralnej i Mindfulness przyczyniła się do poprawy
        jakości
        życia także w sferze seksualnej. Warsztat ma na celu zaznajomienie z tematyką Mindfulness i stworzenie
        możliwości
        pozyskania praktycznych umiejętności wykorzystania technik opartych na uważności w pracy indywidualnej i
        partnerskiej.
      </p>
    </div>
    <app-kamila-jakubiak></app-kamila-jakubiak>
  </div>
</div>