<div
  class="collapse mt-3 mb-3"
  id="bartosz-kleszcz"
>
  <div class="card card-body">
    <div class="p-3">
      <p>
        Warsztat doświadczeniowy w paradygmacie behawioralnym poświęcony pracy z osobami, których działanie, myślenie i
        czucie stało się usztywnione przez wykształcone w toku życia schematyczne, uniemożliwiające efektywne uczenie
        się oraz elastyczne działanie zasady werbalne. Jest to rodzaj pracy potocznie określanej jako „głębsza”, nad
        sferą, która w terapii akceptacji i zaangażowania (ACT) nazywa się fuzją ze skonceptualizowanym ja, a w terapii
        schematów schematami. Nieuwzględnienie tego aspektu w terapii skutkuje częstą porażką lub połowicznością efektu
        interwencji skierowanych na bezpośrednią pracę z pojawiającymi się objawami oraz zmianą obserwowalnego
        zachowania. Umiejętna praca na poziomie często przezroczystych zasad werbalnych organizujących przeżywanie
        świata klienta umożliwia pogłębione, transformujące leczenie swojej relacji ze sobą, swoją historią oraz
        otoczeniem w sposób, który jest wysoce zindywidualizowany, atrakcyjny i witalny. Uczestnicy poznają kilka
        technik wywiedzionych z terapii ACT, które umożliwią terapeucie wespół z klientem (1) konstruowanie
        reprezentacji niepomocnych zasad werbalnych jako formy pogłębionej, współpracującej diagnozy, (2) lepsze
        zrozumienie siebie oraz (3) kształtowanie z tą reprezentacją swobodnej, dobrowolnej, pełnej humoru i miłości
        relacji. Poznają także zasady przechodzenia między pracą „głębszą” a „płytszą”, aby dostosować się do poziomu,
        na którym praca będzie w danym momencie przynosić klientowi największą korzyść. Praca własna jest koniecznym
        wstępem do praktyki z klientami. Stąd podczas warsztatu uczestnicy zostaną zaproszeni do wykorzystania technik
        wobec samych siebie na takim poziomie, jaki będzie dla nich komfortowy. W związku z tym warsztat jest atrakcyjną
        opcją dla tych, którzy podobnie jak prowadzący zauważają w swoim życiu usztywniający wpływ własnej historii
        życia. Jako że żadna technika i żaden protokół nie zastąpi myślącego terapeuty za sterem procesu poznawania i
        przekraczania siebie, nadrzędnym celem tego szkolenia będzie pomóc uczestnikom, by myśleli jak behawiorysta. W
        związku z tym ćwiczone techniki zostaną omówione w kontekście filozofii funkcjonalnego kontekstualizmu oraz
        teorii ram relacyjnych – odpowiednio zasad filozoficznych organizujących rozumienie zjawisk psychologicznych u
        terapeutów ACT oraz teorii poznania i języka, która umożliwiła w behawioryzmie eksperymentalne badania nad
        procesami terapeutycznymi. Wcześniejsza wiedza o ACT nie jest konieczna. Metody prowadzenia warsztatu.
        Prezentacja, praca własna, ćwiczenia prowadzone, ćwiczenia w małych grupach. Cel warsztatu. Transdiagnostyczna
        praca na procesach związanych ze stosunkiem do siebie. Praktyczne umiejętności. Techniki defuzyjne ACT,
        umiejętność współpracującej diagnozy części własnego Ja, metody pogłębiania wiedzy o tej części Ja, rozumienie
        interwencji behawioralnej na poziomie filozofii oraz podstawowych procesów psychologicznych.
      </p>
    </div>
    <app-bartosz-kleszcz></app-bartosz-kleszcz>
  </div>
</div>
