<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <p>Established in 1998, the Polish Society of Cognitive and Behavioral Therapy named after Professor Zdzisław
        Bizoń (PTTPB) is an independent scientific association gathering professionals who help people with mental
        disorders and emotional problems, as well as deals with research and scientific work on the mechanisms of human
        mental functioning.</p>
      <p>PTTPB is a member of the European Association for Behavioral and Cognitive Therapies (EABCT) - the largest
        European organization associating the societies of cognitive-behavioral therapy from various countries. The
        members of the EABCT are mainly psychologists and psychiatrics: cognitive-behavioral therapists, trainees,
        scientists and supporters.</p>
      <p>For over 20 years, PTTPB has been taking care of the interests of patients and therapists by disseminating,
        improving and ensuring that evidence based treatment methods are being properly and ethicaly used. Based on the
        achievements and experience of EABCT, PTTPB has developed training standards in cognitive-behavioral
        psychotherapy in Poland. Thanks to the passion, commitment and social work of many members, proper regulations
        for receiving and renewing the PTTPB Cognitive Behavioral Psychotherapist Certificate and the PTTPB Didactic
        Supervisor Certificate have been created. In… thanks to the huge commitment of PTTPB members, the governmental
        Agency for Health Technology Assessment recognized cognitive-behavioral psychotherapy as effective. Right after
        that the National Health Fund began to recognize PTTPB Certificates in the public healthcare system. Also
        currently, in the interest of the patient's good and the interests of therapists, cooperation with the Ministry
        of Health is ongoing, and the Society can recommend its Members across the country to schools that care for the
        correct quality of teaching evidence-based therapy.</p>
      <p>Today, the Society associates over 2,200 people, including about 800 certified PTTPB therapists and several
        dozen with EABCT certificate. Thus, it is the largest organization in Poland gathering therapists of one
        modality and one of the three most important therapeutic associations in the country. Our members are more and
        more often employed by units and organizations specialising with care for the mental well-being of their
        clients.
      </p>
      <img
        class="img-thumbnail mb-2"
        src="assets/PTTPB-logo.png"
        alt=""
      />
    </div>
  </div>
</div>
