<div
  class="collapse mt-3 mb-3"
  id="robert-leahy"
>
  <div class="card card-body">
    <div class="p-3">
      <p>Everyone experiences unpleasant emotions, but not everyone develops GAD, PTSD, Major Depression or a
        psychological disorder. Emotional Schema Therapy is an integrative, social cognitive model that proposes that
        problems arise as a result of evaluations, interpretations, and predictions about emotional experience that
        result in problematic coping strategies. For example, an adaptive interpretation of sadness and anger after a
        breakup would include normalizing the emotion, viewing the emotion as temporary, relating the emotion to values
        of intimacy, and validating one’s own experience. However, our research shows that depression, anxiety, worry,
        rumination, avoidance, and indecisiveness are the result of viewing one’s emotions as lasting indefinitely, out
        of control, abnormal, shameful, incomprehensible and unacceptable. These beliefs result in unhelpful emotion
        regulation strategies that perpetuate the negative beliefs about one’s emotions. In this workshop we will cover
        the fundamental Emotional Schema Therapy Model, techniques and conceptualizations that address the major
        dysfunctional emotional schemas, experiential and cognitive techniques to cope with emotional experience, and
        methods to enhance emotional enrichment, differentiation and emotional intelligence. This will include
        discussion of Emotional Perfectionism, Existential Perfectionism, “Pure Mind”, Intolerance of Ambivalence,
        Constructive Discomfort, Successful Imperfection, and Personal Empowerment. In addition, we will discuss how an
        Emotional Schema conceptualization can assist in understanding how emotional socialization, current beliefs
        about emotion, and current unhelpful strategies often limit the individual in developing a fully enriched life.
      </p>
      <p><b>Key learning objectives:</b></p>
      <p>1. Identify the client’s emotional schemas and unhelpful emotion regulation strategies.</p>
      <p>2. Develop a case conceptualization based on the Emotional Schema Model</p>
      <p>3. Learn how to utilize cognitive, behavioural, and experiential techniques to develop an enrichment and
        tolerance of emotional experience.
      </p>
      <p><b>Implications for everyday clinical practice of CBT</b></p>
      <p>All of the psychological disorders involve difficulties in tolerating or experiencing emotion. The Emotional
        Schema Model can assist CBT practitioners in assisting clients in enriching their emotional experience, learning
        from their emotions, relating their emotions to their values, and developing productive strategies for coping
        with emotions.</p>
      <p>
        <b>References</b>
        Leahy, R.L., Tirch, D., Napolitano, L. (2011). Emotion Regulation in Psychotherapy: A Practitioner’s
        Guide. Guilford.<br>
        Leahy, R.L. (2015). Emotional Schema Therapy: A Practitioner’s Guide. Guilford.<br>
        Leahy, R.L. (2018). Emotional Schema Therapy: Distinctive Feature. Oxford University press.

      </p>
    </div>
    <app-en-robert-leahy></app-en-robert-leahy>
  </div>
</div>
