<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Agnieszka Popiel</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Agnieszka-Popiel.jpg"
        alt="Agnieszka-Popiel"
      >
      <p><b>Uniwersytet Humanistycznospołeczny SWPS, Centrum Badań Klinicznych i Doskonalenia Psychoterapii </b></p>
      <p>dr nauk med., psychiatra, psychoterapeutka (certyfikaty PTTPB, SITCC, EABCT), krajowa reprezentantka EABCT i
        EACLIPT, superwizor dydaktyk (PTTPB) terapii poznawczo-behawioralnej. Na Uniwersytecie Humanistycznospołecznym
        SWPS kieruje (wspólnie z dr Ewą Pragłowską) studiami podyplomowymi - Szkołą Psychoterapii
        Poznawczo-Behawioralnej oraz studiami podyplomowymi w superwizji psychoterapii poznawczo-behawioralnej) a także
        Centrum Badań Klinicznych i Doskonalenia Psychoterapii USWPS. </p>
      <p>W ramach programów TRAKT I-III prowadziła badania kliniczne nad traumą i zespołem stresu pourazowego (PTSD),
        przede wszystkim pierwsze w Polsce badania porównujące skuteczność psycho- , farmakoterapii i leczenia
        skojarzonego PTSD. Opracowała protokół terapii poznawczej PTSD, którego główne założenia stanowią podstawę
        programu profilaktyki PTSD „Skuteczne działanie w stresie”. </p>
    </div>
  </div>
</div>
