<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Yona Teichman</h4>
      <img class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
           src="assets/Yona-Teichman.jpg"
           alt="Yona Teichman">

      <p>Prof. Yona Teichman jest psychologiem klinicznym i emerytowanym profesorem (Professor emerita) psychologii
        klinicznej w
        School of Psychological Sciences, Tel-Aviv University w Izraelu, gdzie przez 6 lat służyła jako przewodnicząca
        programu
        Child Clinical Program. Uczyła również w School of Medicine, Program of Psychotherapy w Tel-Aviv University. Jej
        praca
        naukowa i publikacje obejmują obszary psychologii klinicznej i społecznej. W swojej pracy łączy elementy
        psychoterapii
        systemowej i poznawczej, wykorzystując je szczególnie w leczeniu depresji. Jej podejście zostało opisane w wielu
        artykułach i rozdziałach książek. Prezentowała swoją pracę i kształciła terapeutów w Izraelu, Australii, Stanach
        Zjednoczonych, Armenii oraz w Polsce, na uczelni SWPS. W 2012r., Polskie Towarzystwo Terapii Poznawczej i
        Behawioralnej
        nadało jej status honorowego członka. W 2013r. stworzyła program studiów magisterskich z psychologii klinicznej
        w
        Interdisciplinary Center (IDC) w Hetrzeliya w Izraelu, gdzie do 2018r. służyła jako kierowniczka tego programu.
        Obecnie
        zajmuje się uczeniem i publikowaniem na temat superwizji klinicznej.
      </p>
    </div>
  </div>
</div>