<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Yona Teichman</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Yona-Teichman.jpg"
        alt="Yona Teichman"
      >

      <p>Yona Teichman jest psychologiem klinicznym i profesorem emeritus psychologii klinicznej w School of
        Psychological Sciences na Tel-Aviv University w Izraelu, gdzie przez sześć lat pełniła funkcję przewodniczącej
        Child Clinical Program oraz uczyła w School of Medicine, Program of Psychotherapy. Jej praca naukowa i
        publikacje obejmują obszary psychologii klinicznej i społecznej. W terapii łączy elementy systemowe i poznawcze,
        stosując je szczególnie w leczeniu depresji. Jej podejście zostało opisane w wielu artykułach i rozdziałach
        książek. Prezentowała swoją pracę i prowadziła warsztaty dla terapeutów w Izraelu, Australii, Stanach
        Zjednoczonych i Polsce. Otrzymała status honorowej członkini Polskiego Towarzystwa Terapii Poznawczej i
        Behawioralnej. Obecnie zajmuje się nauczaniem i pisaniem o superwizji klinicznej.</p>
      <p>
        W 2013 r. stworzyła kierunek studiów magisterskich z psychologii klinicznej na uczelni The Interdisciplinary
        Center Hetrzeliya w Izraelu i pełniła funkcję przewodniczącej tego kierunku do 2018 r.

      </p>

    </div>
  </div>
</div>
