<div
  class="collapse mt-3 mb-3"
  id="joanna-salbert"
>
  <div class="card card-body">
    <div class="p-3">
      <p>
        Celem warsztatu jest zapoznanie jego uczestników z podstawowymi pojęciami i technikami terapii strukturalnej
        oraz zaproszenie do refleksji, jak ten klasyczny kierunek pracy, kształtujący w przeszłości myślenie rzeszy
        terapeutów rodzinnych, może obecnie wzbogacać warsztat terapeutów poznawczo-behawioralnych w pracy indywidualnej
        z dziećmi i młodzieżą oraz z osobami dorosłymi.</p>
      <p>
        Warsztat będzie okazją do przypomnienia podstawowych założeń terapii czerpiących z teorii systemów i
        wprowadzenia kluczowych definicji stanowiących fundament jednej z nich - terapii strukturalnej. Przywołane
        zostaną pojęcia granic, hierarchii, podsystemów, przedstawiona zostanie rola terapeuty i cel terapeutyczny w tym
        podejściu. Wstęp teoretyczny wzbogacony zostanie o przykład z pracy klinicznej, ilustrujący sytuację rodziny, w
        której struktura utrudnia realizowanie zadań rozwojowych jej członków.</p>
      <p>
        W dalszej części warsztatu uczestnicy będę mieli okazję w aktywny sposób zastanawiać się, jak rozpoznawać
        nieprawidłowości struktury w rodzinie i jak wspierać rodzinę w ich modyfikacji. Klika prostych ćwiczeń oraz
        fragment filmu prezentujący pracę terapeuty strukturalnego stanowić będzie praktyczne uzupełnienie dyskusji.
        W ramach podsumowania wskazane zostanę inspiracje płynące z teorii i praktyki terapii strukturalnej, które mogą
        zostać wykorzystane w codziennej pracy terapeuty poznawczo-behawioralnego.</p>
      <p>
        Warsztat przewidziany został na 90 minut dla grupy ok. 20 osobowej. W ramach jego realizacji wykorzystana
        zostanie prezentacja Power Point, prezentacja video, ćwiczenia indywidualne i grupowe, dyskusja w grupie.</p>
      <p>
        Uczestnicy warsztatu będą mieli okazję kształtować umiejętność rozpoznawania i prawidłowego reagowania na
        dysfunkcyjną strukturę najbliższego otoczenia pacjenta.
      </p>
    </div>
    <app-joanna-salbert></app-joanna-salbert>
  </div>
</div>
