<div class="container">
  <div class="row">
    <div class="col">
      <hr>
      <p><b>We invite you to submit abstracts for posters concerning the following topics in cognitive-behavioural
          therapy.</b>
      </p>
      <ul>
        <li>Couples and family therapy</li>
        <li>Group therapy</li>
        <li>Child and adolescent therapy</li>
        <li>Therapy for affective disorders </li>
        <li>Therapy for anxiety disorders</li>
        <li>PTSD</li>
        <li>Acceptance and Commitment therapy</li>
        <li>Schema therapy</li>
        <li>Dialectical behavioural therapy</li>
        <li>Mindfulness</li>
        <li>Therapy for psychosomatic problems</li>
        <li>Pharmacological treatments and psychotherapy</li>
        <li>Schizophrenia</li>
        <li>Therapy of substance use disorders</li>
        <li>Sleep disorders</li>
        <li>Eating disorders </li>
        <li>Sexual dysfunctions and disorders </li>
        <li>Behavioural analysis</li>
        <li>Functional analysis</li>
        <li>Therapy in the cross-cultural context</li>
        <li>Supervision</li>
        <li>Diagnosis and conceptualization</li>
      </ul>

      <p>We invite you to submit your abstracts, according to the criteria specified below, to: callforpapers@pttpb.pl .
        Please
        put “Abstract - Poster” in the email title.</p>

      <p>
        The deadline for submissions is 30.05.2021.
      </p>

      <p>We invite you to submit posters presenting clinical topics, ongoing research, or case studies. Poster sessions
        will be
        scheduled all throughout the conference.<br>
        All details which could facilitate identifying patients on case study posters should be removed or altered in
        order to
        maintain anonymity.<br>
        The poster’s first author assumes responsibility for guaranteeing that all authors consent to the poster’s
        presentation
        during the conference as well as on the conference website, where it will be made available for download.
        The poster session schedule and details about the posters’ presentation will be announced after the submissions
        are
        accepted by the Scientific and Advisory Board of the conference.<br>
        Poster submissions should contain an abstract with the following information:
      </p>

      <p><b>Poster title </b></p>
      <ul>
        <li>Authors’ full names and surnames</li>
        <li>Authors’ affiliations</li>
        <li>Authors’ biographical notes</li>
      </ul>
      <p><b>The abstract proper (maximum of 500 words): </b></p>
      <ul>
        <li>Case study (single or multiple cases):</li>
        <li>Presentation of the problem</li>
        <li>Results</li>
        <li>Conclusions</li>
      </ul>
      <p><b>Research:</b></p>
      <ol>
        <li>Introduction</li>
        <li>Discussion</li>
        <li>Results</li>
        <li>Discussion</li>
      </ol>
      <p><b>Clinical topic:</b></p>
      <ol>
        <li>Introduction</li>
        <li>Discussion</li>
        <li>Suggestions</li>
      </ol>

      <p><b>Kind regards,<br>
          Board of Directors of the Polish Association of Behavioural and Cognitive Therapy</b></p>

    </div>
  </div>
</div>