<div class="container">
  <div class="row">
    <div class="col">
      <hr>
      <p>The Polish Association of Behavioural and Cognitive Therapy invites you to participate in the International
        Scientific Conference “Cognitive-Behavioural Therapy. Beyond Individual Psychotherapy”. The conference will be
        held in Krakow, May 8th-10th, 2020 (Auditorium Maximum, of Jagiellonian University, Krakow). We also invite
        submission of abstracts for oral presentations, workshops and posters that address any of the following fields
        of cognitive-behavioural therapy: </p>
      <ul>
        <li>Individual Therapy </li>
        <li>Couples and family therapy</li>
        <li>Group therapy</li>
        <li>Therapy for children and adolescents</li>
        <li>Therapy for affective disorders </li>
        <li>Therapy for anxiety disorders</li>
        <li>PTSD</li>
        <li>Acceptance and Commitment therapy</li>
        <li>Dialectical behavioural therapy</li>
        <li>Mindfulness</li>
        <li>Therapy for psychosomatic problems</li>
        <li>Pharmacotherapy in psychotherapy</li>
        <li>Schizophrenia and psychosis </li>
        <li>Addiction therapy</li>
        <li>Sleep disorders</li>
        <li>Eating disorders </li>
        <li>Sexual disorders </li>
        <li>Behavioural analysis</li>
        <li>Functional analysis</li>
        <li>Intercultural therapy</li>
        <li>Supervision</li>
        <li>Diagnosis and conceptualization</li>
      </ul>
      <p>We welcome all submissions related to the conference’s theme.</p>

      <p>Please submit poster or workshop or oral presentation abstract in accordance with the criteria described below.
        All submissions need to be sent to: callforpapers@pttpb.pl with the following subject line:</p>
      <p>
        - "Abstract - oral presentation" (for conference speeches)<br>
        - "Abstract – workshop" (for workshops)<br>
        - "Abstract – Poster" (for posters)

      </p>

      <p>
        <b><u>Submission deadline: </u></b>
      </p>

      <p>- workshops - <b>January 31, 2020</b><br>
        - oral presentation – <b>February 29, 2020</b><br>
        - posters – <b>March 31, 2020</b>
      </p>


      <h5 class="mt-4 mb-3">Open papers</h5>

      <p>We invite researchers to submit abstracts of presentations on a theoretical or clinical problem, research
        results, or case studies. Presenters are obliged to attend the relevant presentation session. The time limit for
        presentations is 20 minutes (including discussion). </p>
      <p>Any details that could facilitate the identification of a patient in presentations including case studies must
        be removed or altered to maintain anonymity.
      </p>
      <p>The first author of a presentation will be responsible for ensuring that co-authors have agreed to the
        presentation of their research results. The presentation schedule and speech guidelines will be announced once a
        submission has been accepted by the Scientific Committee of the Conference. Submitted abstracts should include
        the following details: </p>
      <ul>
        <li>Presentation title</li>
        <li>Author names </li>
        <li>Author affiliations</li>
        <li>Author biographical note</li>
        <li>Abstract (maximum 500-700 words)</li>
      </ul>
      <p><b>Case studies: </b></p>
      <ol>
        <li> Problem presentation</li>
        <li> Problem conceptualization and applied interventions</li>
        <li> Monitoring of change</li>
        <li> Work outcomes</li>
        <li> Conclusions</li>
      </ol>
      <p><b>Research work: </b></p>
      <ol>
        <li>Introduction</li>
        <li>Methods</li>
        <li>Results</li>
        <li>Discussion</li>
      </ol>
      <p><b>Presentation of theoretical or clinical work:</b></p>
      <ol>
        <li>Introduction</li>
        <li>Discussion</li>
        <li>Suggestion</li>
      </ol>

      <h5 class="mt-4 mb-3">Workshops</h5>

      <p>We invite you to submit abstracts of therapeutic skills workshops lasting three hours and one and a half hours,
        as well as a one-hour demonstration of techniques and skills application. Workshops should be suitable for
        practitioners with varied clinical experience. Workshops will be conducted in parallel in specified timeslots.
        Submitted abstracts should include the following details:</p>
      <ul>
        <li> Workshop title</li>
        <li> Trainer’s name</li>
        <li> Trainer’s affiliation</li>
        <li> Abstract (maximum 500 words)</li>
        <li> Workshop method (e.g. PowerPoint presentation, video, exercises, role-playing)</li>
        <li> Workshop goals and practical skills that workshop participants can apply in their everyday clinical
          practice</li>
        <li> Trainer’s biographical note</li>
      </ul>

      <h5 class="mt-4 mb-3">Posters</h5>

      <p>We invite you to submit clinical posters, showing preliminary results of an ongoing studies or case studies.
        Poster sessions will be held throughout the entire conference. Poster presenters are expected to be present
        during the poster session.</p>
      <p>Any details that could facilitate the identification of a patient in presentations including case studies
        must be removed or altered to maintain anonymity.</p>
      <p>The first author of a poster will be responsible for ensuring co-authors have agreed to its presentation. The
        presentation schedule and poster guidelines will be announced once a submission has been accepted by the
        Scientific Committee of the Conference. Submitted abstracts should include the following details:</p>
      <ul>
        <li>Poster title</li>
        <li>Poster author name</li>
        <li>Poster author affiliations</li>
        <li>Poster author biographical note</li>
        <li>Abstract (maximum 500 words)</li>
      </ul>
      <p><b>Case studies:</b></p>
      <ol>
        <li> Problem presentation</li>
        <li> Problem conceptualization and applied interventions</li>
        <li> Work outcomes</li>
        <li> Conclusions</li>
      </ol>
      <p><b>Research work:</b></p>
      <ol>
        <li> Introduction</li>
        <li>Methods</li>
        <li> Results</li>
        <li> Discussion</li>
      </ol>
      <p><b>Clinical poster:</b></p>
      <ol>
        <li>Introduction</li>
        <li> Discussion</li>
        <li>Suggestions</li>
      </ol>

      <p><b>Kind regards,<br>
          The Board of the Polish Association for Cognitive and Behavioural Therapy</b></p>

    </div>
  </div>
</div>
