<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Przemysław Bąbel</h4>
      <img class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
           src="assets/Przemyslaw-Babel.jpg"
           alt="Przemysław Bąbel">

      <p>Prof. dr hab. Przemysław Bąbel is a psychologist, head of the Institute of Psychology and the chairman of the
        Discipline of Psychology
        Council, and
        leader of the Pain Research Group at the Jagiellonian University. He is also the president of the Polish Society
        of
        Behavioural Psychology and a member of the Committee on Psychological Sciences of the Polish Academy of
        Sciences. Prof.
        Bąbel is researching the learning mechanisms of placebo, pain memory, and psychological factors determining pain
        perception. He is also interested in practical applications of behavioural therapy with children with autism and
        in
        treatment of chronic pain, as well as behavior analysis and psychology of memory in education. Prof. Bąbel has
        authored
        and co-authored over 80 scientific publications, including eight books and over 100 popular scientific
        publications. In
        2008, he was awarded the “Złoty Umysł – Mistrz Popularyzacji Wiedzy” <i>(Golden Mind – Master of Popularizing
          Science)</i>i>
        Polish Academy of Sciences Presidential Award, and in 2018, he became the laureate of the Prime Minister’s Award
        for
        highly rated achievements being the basis of his habilitation. In 2019, Prof. Bąbel was voted a fellow of the
        Association for Psychological Science in recognition of his exemplary contribution to scientific research. In
        2021, he
        received the prestigious MAESTRO grant of the National Science Centre for his project entitled “(Un)learning
        pain
        through consequences. Creating the learning theory of placebo” <i>(Od(uczenie) się bólu przez konsekwencje.
          Tworzenie
          uczeniowej teorii działania placebo)</i>
      </p>
    </div>
  </div>
</div>