<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Kinga Wytrychiewicz</h4>
      <!-- <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Kinga-Wytrychiewicz.jpg"
        alt="Kinga Wytrychiewicz"
      > -->

      <p>mgr Kinga Wytrychiewicz - psycholog, doktorantka na Wydziale Psychologii Uniwersytetu Warszawskiego, terapeutka
        w Centrum DBT Emocje. Pracuje w nurcie terapii dialektyczno - behawioralnej z pacjentami z zaburzeniami
        osobowości, głównie borderline. Poza pracą terapeutyczną prowadzi badania naukowe koncentrujące się między
        innymi na związkach czynników psychologicznych z przystosowaniem do życia z chorobami przewlekłymi,
        uzależnieniach behawioralnych, czynnikach ochronnych (zasobach osobistych), których wzmacnianie może pomóc w
        terapii różnorodnych zaburzeń psychicznych. Autorka i współautorka artykułów naukowych obejmujących tematykę
        m.in. poczucia własnej skuteczności czy akceptacji życia z chorobą przewlekłą. Popularyzuje naukę m.in. poprzez
        artykuły na blogu emocje.pro</p>
    </div>
  </div>
</div>
