<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Wiesław Jerzy Cubała</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Wieslaw-Jerzy-Cubala.jpg"
        alt="Wieslaw-Jerzy-Cubala"
      >
      <p>
        Wiesław Jerzy Cubała (Gdański Uniwersytet Medyczny) pracuje w Klinice Psychiatrii Dorosłych Gdańskiego
        Uniwersytetu Medycznego, z którą jest związany od początku swojej aktywności zawodowej. Jego zainteresowania
        obejmują w szczególności zaburzenia afektywne i lękowe, którym poświęcił swoją pracę badawczą i kliniczną. Jest
        autorem i współautorem szeregu prac w tym obszarze, włącznie z udziałem w opracowaniu standardów leczenia
        farmakologicznego wybranych zaburzeń afektywno-lękowych oraz monografii poświęconej tej kategorii
        diagnostycznej. Jest również członkiem World Federation of Societies of Biological Psychiatry (WFSBP) Task Force
        on Mental disorders in Primary care, aktywnie publikując opracowania eksperckie w ramach tego forum, obejmujące
        diagnostykę i leczenie zaburzeń lękowych.
      </p>
    </div>
  </div>
</div>
