<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Wiesław Jerzy Cubała</h4>
      <img class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
           src="assets/Wieslaw-Jerzy-Cubala.jpg"
           alt="Wieslaw-Jerzy-Cubala">
      <p>
        Prof. dr hab. n. med. Wiesław Jerzy Cubała works at the Adult Psychiatry Clinic of the Medical University of
        Gdańsk, which he has been
        affiliated with from the beginning of his career. His interests include mood and anxiety disorders in
        particular, to which he has devoted his research and clinical work. He has authored and co-authored numerous
        publications in this area, including his participation in formulating the standards of pharmacological treatment
        of select mood-anxiety disorders as well as in preparing a monograph on this diagnostic category. He is also a
        member of the World Federation of Societies of Biological Psychiatry (WFSBP) Task Force on Mental Disorders in
        Primary Care, and is actively publishing expert texts on the diagnosis and treatment of anxiety disorders in
        this forum.
      </p>
    </div>
  </div>
</div>