<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Ewa Pragłowska</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Ewa-Praglowska.jpg"
        alt="Ewa-Praglowska"
      >
      <p><b>Uniwersytet Humanistycznospołeczny SWPS, Centrum Badań Klinicznych i Doskonalenia Psychoterapii </b></p>
      <p>dr n. hum. specjalista psychologii klinicznej. Psychoterapeuta i superwizor psychoterapii
        poznawczo-behawioralnej. Certyfikaty PTTPB, SITCC, EABCT, Polskiego Towarzystwa Psychiatrycznego oraz
        superwizora – dydaktyka PTTPB. Do roku 2006 pracowała w Klinice Chorób Afektywnych Instytutu Psychiatrii i
        Neurologii w Warszawie. Członek EACLIPT (European Association of Clinical Psychology and Psychological
        Treatment). W latach 2008-2018 współkierownik części klinicznej, superwizor i psychoterapeuta w programach
        badawczych TRAKT I-III dotyczących min. skuteczności terapii metodą przedłużonej ekspozycji u pacjentów z PTSD.
        Współkieruje podyplomową Szkołą Psychoterapii Poznawczo-Behawioralnej na Uniwersytecie SWPS w Warszawie,
        Sopocie, Wrocławiu, Katowicach, Poznaniu i Rzeszowie oraz studiami w superwizji terapii poznawczo-behawioralnej.
        Współautorka pierwszych polskich podręczników dotyczących terapii poznawczo-behawioralnej oraz superwizji w
        psychoterapii poznawczo-behawioralnej.</p>
    </div>
  </div>
</div>
