<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Joachim Kowalski</h4>
      <!-- <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Joachim-Kowalski.jpg"
        alt="Joachim Kowalski"
      > -->

      <p>dr Joachim Kowalski – psycholog i psychoterapeuta w trakcie 4-letniego szkolenia w Centrum Terapii
        Poznawczo-Behawioralnej w Warszawie. Jako doktorant Wydziału Psychologii UW, współprowadził badania nad
        neuronalnymi korelatami zaburzeń depresyjnych i lękowych pod okiem dr hab. Małgorzaty Dragan. Doświadczenie
        praktyczne zdobywał na oddziale IV Szpitala Nowowiejskiego, oddziale F9 w Instytucie Psychiatrii i Neurologii, w
        bródnowskim Stowarzyszeniu Pomost i oddziale dziennym Szpitala Bródnowskiego. Obecnie pracuje jako psycholog i
        psychoterapeuta w Centrum Pomocy Psychologicznej Uniwersytetu Warszawskiego. Jest członkiem Polskiego
        Towarzystwa Terapii Poznawczej i Behawioralnej.</p>
    </div>
  </div>
</div>
