<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Przemysław Bąbel</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Przemyslaw-Babel.jpg"
        alt="Przemysław Bąbel"
      >

      <p>Dr hab. Przemysław Bąbel jest psychologiem, profesorem Uniwersytetu Jagiellońskiego, gdzie pełni funkcje
        przewodniczącego Rady Dyscypliny Psychologia, zastępcy dyrektora Instytutu Psychologii oraz kierownika Zespołu
        Badania Bólu. Jest także prezesem Polskiego Towarzystwa Psychologii Behawioralnej i członkiem Komitetu
        Psychologii Polskiej Akademii Nauk. Prof. Bąbel prowadzi badania nad mechanizmami działania placebo, pamięcią
        bólu i czynnikami psychologicznymi wpływającymi na percepcję bólu. Zajmuje się zastosowaniami terapii
        behawioralnej w pracy z dziećmi z autyzmem i w leczeniu bólu przewlekłego, a także analizy zachowania i
        psychologii pamięci w edukacji. Prof. Bąbel jest autorem i współautorem przeszło 80 publikacji naukowych, w tym
        ośmiu książek, oraz ponad 100 publikacji popularnonaukowych. Za swoją działalność na rzecz popularyzacji nauki
        otrzymał w 2008 r. Nagrodę Prezesa PAN „Złoty Umysł – Mistrz Popularyzacji Wiedzy”, a w 2018 r. został laureatem
        Nagrody Prezesa Rady Ministrów za wysoko ocenione osiągnięcia będące podstawą nadania stopnia doktora
        habilitowanego. W 2019 r. prof. Bąbel został wybrany członkiem („fellow”) Association for Psychological Science
        w uznaniu wybitnego wkładu w badania psychologiczne.
      </p>
    </div>
  </div>
</div>
