<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Natalia Liszewska</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Natalia-Liszewska.jpg"
        alt="Natalia Liszewska"
      >
      <p>Doktor psychologii, certyfikowany psychoterapeuta poznawczo-behawioralny, certyfikowany specjalista
        przeciwdziałania przemocy. Prowadzi badania naukowe z zakresu interwencji kryzysowej oraz psychoterapii
        poznawczo-behawioralnej (w szczególności trzeciej fali). Założycielka Instytutu Terapii Poznawczo-Behawioralnej,
        w ramach którego wspiera osoby doświadczające kryzysu psychologicznego, w tym osoby zagrożone suicydalnie oraz
        doświadczające przemocy. Prowadzi psychoterapię osób w zakresie zaburzeń nastroju, zaburzeń lękowych oraz
        trudności związanych z niską samooceną i radzeniem sobie ze stresem. W swojej pracy łączy podejście
        poznawczo-behawioralne oraz systemowe. Poza praktyką terapeutyczną pracuje jako adiunkt w Uniwersytecie SWPS,
        gdzie prowadzi zajęcia z zakresu interwencji kryzysowej oraz jest kierownikiem studiów podyplomowych Kryzys i
        Interwencja Kryzysowa. </p>
    </div>
  </div>
</div>
