<div class="row">
  <div class="col-12 col-lg-6">

    <h6>Organizatorzy</h6>

    <div class="d-flex mt-3">
      <div class="col-3">
        <img
          class="img-thumbnail"
          src="assets/PTTPB-logo.png"
          alt=""
        />
      </div>
      <div class="col-3">
        <img
          class="img-thumbnail"
          src="assets/UJ-logo.png"
          alt=""
        />
      </div>
      <div class="col-3">
        <img
          class="img-thumbnail"
          src="assets/IP-logo.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mt-4 mt-lg-0">
    <h6>Partnerzy</h6>
    <div class="d-flex mt-3">
      <div class="col-3">
        <img
          class="img-thumbnail"
          src="assets/PTPB-logo.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
