<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Eduardo Keegan</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Eduardo-Keegan.jpg"
        alt="Eduardo-Keegan"
      >
      <p>Profesor zwyczajny Psychologii Klinicznej i Psychoterapii University of Buenos Aires gdzie jest kierownikiem
        specjalistycznego kursu z terapii poznawczo-behawioralnej. W 2011 r. od Uniwersytetu w Buenos Aires otrzymał
        nagrodę „Wielcy Mistrzowie”. Dwukrotnie był wybierany przewodniczącym Argentyńskiego Towarzystwa Terapii
        Poznawczej i Behawioralnej (AATC). Aktualnie pełni funkcję członka zarządu Towarzystwa Terapii Poznawczej i
        Behawioralnej dla Ameryki Łacińskiej (ALAPCCO). Profesor Keegan jest honorowym członkiem Polskiego Towarzystwa
        Terapii Poznawczej i Behawioralnej.</p>
      <p>
        W jego dorobku jest ponad setka artykułów i książek. Jego zainteresowania naukowe i kliniczne skupiają się wokół
        zaburzeń nastroju, regulacji emocjonalnej, nieadaptacyjnego perfekcjonizmu oraz terapii poznawczo -
        behawioralnej opartej na procesie. Profesor Keegan prowadzi zajęcia w tematyce związanej z terapią
        poznawczo-behawioralną w Argentynie, Urugwaju, Peru, Paragwaju, Chile, Brazylii, Gwatemali, Hiszpanii, we
        Włoszech, Polsce, Litwie i w Niemczech.
      </p>
    </div>
  </div>
</div>
