<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Joanna Szmyd</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Joanna-Szmyd.jpg"
        alt="Joanna Szmyd"
      >

      <p>Joanna Szmyd-psycholog, specjalista z seksuologii. Pracuje na Oddziale Dziennym w III Klinice Psychiatrycznej
        Instytutu Psychiatrii i Neurologii w Warszawie, gdzie współprowadzi terapię grupową i zajęcia treningowe dla
        osób z zaburzeniami psychotycznymi. Współpracuje również z Ośrodkiem Medycyny Snu IPIN. Przygotowuje pracę
        doktorską z zakresu medycyny snu. Współpracuje także z prywatnymi ośrodkami, gdzie prowadzi szkolenia i udziela
        konsultacji psychologicznych w języku polskim i angielskim.</p>
    </div>
  </div>
</div>
