.bg-col-1 {
  background: #a5b1bb;
}
.bg-col-2 {
  background: #91cc9f;
}
.bg-col-3 {
  background: #85c6e0;
}
.bg-col-4 {
  background: #f8f9fa;
}
.bg-col-5 {
  background: #e2d28c;
}
.p-a-0 {
  padding: 0 !important;
}
.b-t-0 {
  border-top: none;
}
.b-b-0 {
  border-bottom: none;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
