<div class="hidden-sm-down">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="pl-0 navbar navbar-toggleable-sm ">
          <ul class="navbar-nav d-flex justify-content-between col-12">
            <li class="nav-item dropdown position-relative">
              <a
                class="nav-link col-b"
                routerLinkActive="active"
              >Organizator</a>
              <div class="dropdown-content">
                <a
                  class="col-b d-block mb-2"
                  routerLink="/organizator"
                >PTTPB</a>
                <a
                  class="col-b d-block mb-2"
                  routerLink="/instytut-psychologii-uj"
                >Instytut Psychologii UJ</a>
                <a
                  class="col-b d-block"
                  routerLink="/komitety"
                >Komitety</a>
              </div>
            </li>
            <li class="nav-item dropdown position-relative">
              <a
                class="nav-link col-b"
                routerLink="/program"
                routerLinkActive="active"
              >Program</a>
              <div class="dropdown-content">
                <a
                  class="col-b d-block mb-2"
                  routerLink="/wykladowcy"
                >Wykładowcy</a>
                <a
                  class="col-b d-block"
                  routerLink="/warsztaty"
                >Warsztaty</a>
              </div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link col-b"
                routerLink="/abstrakty"
                routerLinkActive="active"
              >Zgłoszenie abstraktu</a>
            </li>
            <li class="nav-item dropdown position-relative">
              <a
                class="nav-link col-b"
                routerLink="/informacje"
                routerLinkActive="active"
              >Informacje</a>
              <div
                class="dropdown-content"
                style="min-width: 190px;"
              >
                <a
                  class="col-b d-block mb-2"
                  routerLink="/auditorium-maximum"
                >Auditorium Maximum</a>
                <a
                  class="col-b d-block mb-2"
                  routerLink="/dojazd-komunikacja"
                >Dojazd i komunikacja</a>
                <a
                  class="col-b d-block"
                  routerLink="/krakow"
                >Kraków</a>
              </div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link col-b"
                routerLink="/kontakt"
                routerLinkActive="active"
              >Kontakt</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link col-b"
                routerLink="/konferencja-studencka"
                routerLinkActive="active"
              >Konferencja Studencka</a>
            </li>
          </ul>

        </nav>
      </div>
      <!-- <div class="col-lg-3 d-flex align-items-center justify-content-end hidden-sm-down">
        <button
          type="button"
          class="btn btn-success"
          routerLink="/rejestracja-na-konferencje"
        >Rejestracja na konferencję</button>
      </div> -->
    </div>
  </div>
</div>
