<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Cory F. Newman</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Cory-Newman.jpg"
        alt="Cory-Newman"
      >
      <p>Dr Cory F. Newman jest dyrektorem Center for Cognitive Therapy, profesorem psychologii na wydziale Psychiatrii
        University of Pennsylvania Perelman School of Medicine oraz adiunktem w Beck Institute for Cognitive Behaviour
        Therapy. </p>
      <p>
        Dr Newman odbył szkolenie podoktoranckie pod kierunkiem dr. Aarona T. Becka. Jest również członkiem
        założycielem Academy of Cognitive Therapy. Dr Newman ma ogromne doświadczenie kliniczne oraz jako superwizor
        terapii poznawczo-behawioralnej nadzorujący ponad 350 przeszkolonych profesjonalistów, zarówno na University
        of Pennsylvania, jak i w międzynarodowych programach szkoleniowych prowadzonych przez Beck Institute. Dr
        Newman uczestniczył jako terapeuta modelowy terapii poznawczo-behawioralnej i superwizor w licznych, także
        wieloośrodkowych badaniach klinicznych.
      </p>
      <p>
        Dr Newman jest międzynarodowym wykładowcą, który przeprowadził ponad 250 warsztatów i seminariów w swoim
        rodzinnym kraju – USA oraz w dwudziestu dwóch innych krajach. Dr Newman jest autorem ponad 100 artykułów i
        rozdziałów książek o tematyce związanej z terapią poznawczo-behawioralną w odniesieniu do szerokiej gamy
        zaburzeń. Jest także autorem lub współautorem sześciu książek, w tym: „Choosing to Live: How to Defeat Suicide
        Through Cognitive Therapy”, „Bipolar Disorder: A Cognitive Therapy Approach”, „Core Competencies in
        Cognitive-Behavioral Therapy: Becoming an Effective and Competent Cognitive-Behavioral Therapist” and
        „Supervision Essentials for Cognitive-Behavioral Therapy”.
      </p>
    </div>
  </div>
</div>
