<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Alan Fruzzetti</h4>
      <img class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
           src="assets/Alan-Fruzzetti.jpg"
           alt="Alan Fruzzetti">
      <p>
        Dr Alan Fruzzetti jest rozpoznawanym na całym świecie badaczem, nauczycielem i superwizorem DBT. Pełni funkcję
        dyrektora
        ds. szkoleń w usługach rodzinnych (Director of Training in Family Services) i superwizora DBT w programach 3East
        DBT w
        McLean Hospital/Harvard Medical School. Jest także profesorem emerytowanym (professor emeritus) University of
        Nevada,
        Reno. Alan jest wiceprzewodniczącym rady National Education Alliance for Borderline Personality Disorder
        (NEA-BPD).
        Zasiada także w radach kierowniczych (Board of Directors) Linehan Institute, International Association for DBT
        oraz
        Center for Trauma and Stress Education. Jest autorem ponad 100 naukowych i klinicznych artykułów i rozdziałów
        oraz dwóch
        książek. Jest też redaktorem serii wydawniczej Guilford DBT Practice. Wygłaszał wykłady i organizował szkolenia
        dla
        praktyków z zakrsu DBT i DBT w pracy z rodzicami, parami i rodzinami w ponad dwudziestu pięciu krajach. Alan
        jest
        współtwórcą darmowego programu NEA-BPD Family Connections dla rodziców, par i bliskich osób cierpiących na
        zaburzenie
        osobowości borderline, zaburzeń regulacji emocjonalnych, osób po próbach samobójczych i osób cierpiących na
        pokrewne
        problemy. Służył jako biegły w Komisjach Kongresu Stanów Zjednoczonych na temat samobójstw i otrzymał wiele
        nagród za
        swoje osiągnięcia w nauce, dydaktyce i służbie publicznej.
      </p>
    </div>
  </div>
</div>