<div class="hidden-sm-down">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="pl-0 navbar navbar-toggleable-sm ">
                    <ul class="navbar-nav d-flex justify-content-between col-12">
                        <li class="nav-item dropdown position-relative">
                            <a class="nav-link col-b"
                               routerLinkActive="active">Organizers</a>
                            <div class="dropdown-content">
                                <a class="col-b d-block mb-2"
                                   routerLink="/en-organizator">PTTPB</a>
                                <!-- <a
                  class="col-b d-block mb-2"
                  routerLink="/en-instytut-psychologii-uj"
                >The Institute of Psychology UJ</a> -->
                                <a class="col-b d-block"
                                   routerLink="/en-komitety">Committees</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link col-b"
                               routerLink="/en-partnerzy"
                               routerLinkActive="active">Partners</a>
                        </li>
                        <li class="nav-item dropdown position-relative">
                            <a class="nav-link col-b"
                               routerLink="/en-harmonogram"
                               routerLinkActive="active">Programme</a>
                            <div class="dropdown-content">
                                <a class="col-b d-block mb-2"
                                   routerLink="/en-harmonogram">Timetable</a>
                                <a class="col-b d-block mb-2"
                                   routerLink="/invited-speakers">Invited Speakers</a>
                                <a class="col-b d-block"
                                   routerLink="/en-warsztaty">Workshops</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link col-b"
                               routerLink="/en-abstrakty"
                               routerLinkActive="active">Call for papers</a>
                        </li>
                        <li class="nav-item dropdown position-relative">
                            <a class="nav-link col-b"
                               routerLink="/en-informacje"
                               routerLinkActive="active">General info</a>
                            <!-- <div class="dropdown-content"
                                 style="min-width: 190px;">
                                <a class="col-b d-block mb-2"
                                   routerLink="/en-auditorium-maximum">Venue</a>
                                <a class="col-b d-block mb-2"
                                   routerLink="/en-dojazd-komunikacja">Transport</a>
                                <a class="col-b d-block"
                                   routerLink="/en-krakow">Cracow</a>
                            </div> -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link col-b"
                               routerLink="/en-kontakt"
                               routerLinkActive="active">Contact</a>
                        </li>
                        <!-- <li class="nav-item">
              <a
                class="nav-link col-b"
                routerLink="/en-konferencja-studencka"
                routerLinkActive="active"
              >Student Conference</a>
            </li> -->
                    </ul>

                </nav>
            </div>
            <!-- <div class="col-lg-3 d-flex align-items-center justify-content-end hidden-sm-down">
        <button
          type="button"
          class="btn btn-success"
          routerLink="/rejestracja-na-konferencje"
        >Rejestracja na konferencję</button>
      </div> -->
        </div>
    </div>
</div>