<div class="bg-menu hidden-md-up">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <nav class="navbar navbar-toggleable-sm navbar-inverse">
          <!-- <div class="col text-left fs-13 col-grey d-flex align-items-center">
            <img src="{{versionEn ? 'assets/pl-flag.png' : 'assets/en-flag.png'}}">
            <a
              class="col-white pl-2"
              routerLink="{{versionEn ? '/' : '/en-home-page'}}"
              (click)="changeLanguage()"
            >{{versionEn ? 'Polska wersja' : 'English version'}}</a>
          </div> -->

          <button
            class="navbar-toggler ml-auto"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse"
            id="navbarTogglerDemo02"
          >
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li
                class="nav-item"
                data-toggle="collapse"
                data-target=".navbar-collapse.show"
              >
                <a
                  class="nav-link"
                  routerLink="/en-organizator"
                >PTTPB</a>
              </li>
              <li
                class="nav-item"
                data-toggle="collapse"
                data-target=".navbar-collapse.show"
              >
                <a
                  class="nav-link"
                  routerLink="/en-komitety"
                >Committees</a>
              </li>
              <li
                class="nav-item"
                data-toggle="collapse"
                data-target=".navbar-collapse.show"
              >
                <a
                  class="nav-link"
                  routerLink="/program"
                >Programme</a>
              </li>
              <li
                class="nav-item"
                data-toggle="collapse"
                data-target=".navbar-collapse.show"
              >
                <a
                  class="nav-link"
                  routerLink="/en-wykladowcy"
                >Invited Speakers</a>
              </li>
              <li
                class="nav-item"
                data-toggle="collapse"
                data-target=".navbar-collapse.show"
              >
                <a
                  class="nav-link"
                  routerLink="/en-abstrakty"
                >Call for papers</a>
              </li>
              <li
                class="nav-item"
                data-toggle="collapse"
                data-target=".navbar-collapse.show"
              >
                <a
                  class="nav-link"
                  routerLink="/en-dojazd-komunikacja"
                >Transport</a>
              </li>
              <li
                class="nav-item"
                data-toggle="collapse"
                data-target=".navbar-collapse.show"
              >
                <a
                  class="nav-link"
                  routerLink="/en-krakow"
                >Cracow</a>
              </li>
              <li
                class="nav-item"
                data-toggle="collapse"
                data-target=".navbar-collapse.show"
              >
                <a
                  class="nav-link"
                  routerLink="/en-kontakt"
                >Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
