<div class="collapse mt-3 mb-3"
     id="magdalena-muracka">
  <div class="card card-body">
    <div class="p-3">
      <p>
        <b>Streszczenie</b>: Warsztat obejmować będzie część teoretyczną oraz praktyczną. Omówione zostaną trudności z
        jakimi zmagają
        się bliscy osób z zaburzeniem osobowości z pogranicza i dysregulacją emocji (m.in.: depresja, brak poczucia
        kompetencji). Omówiony zostanie model transakcyjny rozwinięcia zaburzenia osobowości z pogranicza ze szczególnym
        uwzględnieniem doświadczeń osób bliskich.<br>
        Przedstawimy bezpłatny program wsparcia bliskich, Family Connections, który od przeszło 15 lat jest rozwijany na
        całym
        świecie przez prof. Alana Fruzzetti i prof. Perry Hoffmann. Program Family Connections to 12 grupowych,
        2-godzinnych
        spotkań, w trakcie których bliscy są zapoznawani z etiologią zaburzenia borderline, aktualną wiedzą na temat BPD
        oraz z
        metodami terapii. Jednak główną część treningu FC dla bliskich stanowi nauka umiejętności radzenia sobie z
        emocjami oraz
        umiejętności potrzebnych w relacjach m.in.: uprawomocnienia, radykalnej akceptacji, uważności w relacjach,
        sposobów
        komunikacji.<br>
        W trakcie warsztatu omówimy korzyści jakie wynikają z programu FC dla osób uczestniczących w treningach w
        oparciu o dane
        z badań i ankiety zebrane wśród uczestników. Opowiemy też o naszych polskich doświadczeniach we wdrażaniu
        programu (w
        kwietniu 2021 roku uruchomiony został już 60 trening dla bliskich osób z BPD!)
        Przedstawimy jak przebiegają spotkanie Family Conections oraz pokażemy praktyczne sposoby rozwijania uważności w
        relacjach wśród uczestników treningów.<br>
        Zaprezentujemy metodę uprawomocnienia w kontekście rodzin oraz w kontekście relacji terapeutycznej.
        Przeprowadzimy
        praktyczne ćwiczenia uprawomocnienia w kontekście klinicznym. Terapeuci będą mieli okazję zapoznać się i
        przećwiczyć
        umiejętności uprawomocnienia.<br>
        Program Family Connections dla bliskich można uznać za istotne uzupełnienie terapii indywidualnej pacjentów z
        BPD.
        Treningi dla osób bliskich mogą zmienić funkcjonowanie całej rodziny.
      </p>
      <p>
        <b>Metoda</b> prezentacja power point, ćwiczenia, odgrywanie ról, video
      </p>
      <p>
        <b>Cel i praktyczne umiejętności</b>: Celem warsztatu jest (1) zapoznanie uczestników z programem wsparcia
        bliskich osób z
        dysregulacją emocji Family Connections (2) Przedstawienie modelu transakcyjnego i trudności jakie dotykają osoby
        z
        zaburzeniem z pogranicza oraz podkreślenie perspektywy i doświadczeń bliskich pacjentów (3) Korzyści jakie
        wynikają z
        programu Family Connections dla bliskich (4) Uczestnicy warsztatu będą mieli możliwość poznać i rozwinąć metodę
        uważności w relacjach oraz uprawomocnienia - charakterystyczną umiejętność dla terapii
        Dialektyczno-Behawioralnej oraz
        dla programu Family Connections
      </p>

    </div>
    <app-magdalena-muracka></app-magdalena-muracka>
    <app-magdalena-skuza></app-magdalena-skuza>
  </div>
</div>