<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Cory F. Newman</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Cory-Newman.jpg"
        alt="Cory-Newman"
      >
      <p>Cory F. Newman, Ph.D. is Director of the Center for Cognitive Therapy, Professor of Psychology, in Psychiatry
        at the University of Pennsylvania Perelman School of Medicine (in Philadelphia, Pennsylvania, USA), and Adjunct
        Faculty at the Beck Institute for Cognitive Behavior Therapy. </p>
      <p>
        Dr. Newman did his postdoctoral training under the mentorship of Dr. Aaron T. Beck, and he is a Founding Fellow
        of the Academy of Cognitive Therapy. Dr. Newman has maintained a full clinical caseload and has extensive
        experience as a CBT supervisor, having supervised over 350 professionals-in-training, both at the University of
        Pennsylvania, and through the Beck Institute’s international training programs. Dr. Newman has served as a
        protocol CBT therapist and supervisor in numerous clinical studies, including major, multi-site trials.
      </p>
      <p>
        Dr.
        Newman is an international lecturer, having presented over 250 workshops and seminars at home in the U.S., as
        well as in twenty-two other countries. Dr. Newman is author of over 100 articles and chapters on topics related
        to CBT for a wide range of disorders, and he has authored or co-authored six books, including Choosing to Live:
        How to Defeat Suicide Through Cognitive Therapy; Bipolar Disorder: A Cognitive Therapy Approach; Core
        Competencies in Cognitive-Behavioral Therapy: Becoming an Effective and Competent Cognitive-Behavioral
        Therapist; and Supervision Essentials for Cognitive-Behavioral Therapy.
      </p>
    </div>
  </div>
</div>
