<div
  class="collapse mt-3 mb-3"
  id="eduardo-keegan"
>
  <div class="card card-body">
    <div class="p-3">
      <p>
        Procrastination is a very common phenomenon. Everybody procrastinates, but not everyone is a chronic
        procrastinator. However, chronic procrastination is a common problem, affecting about 1 in 5 people.
        Procrastination is particularly common in academia or work. It is not a disorder, but a maladaptive behavior
        that
        may serve different functions in different contexts. Varieties of procrastination and different theories to
        account for them will be presented. We shall analyze the relationship between procrastination and other clinical
        phenomena, such as avoidance, perfectionism, impulsivity and sensation-seeking.</p>
      <p>
        Although procrastination can be clearly broken down into other behaviors that have been subject to profound
        scrutiny in CBT, it is nevertheless such a common problem that is worthy of clinical attention. This workshop
        will help clinicians conduct a functional analysis of procrastination and, based on this, devise a therapeutic
        plan to overcome this typically self-defeating behavior.

      </p>
    </div>
    <app-en-eduardo-keegan></app-en-eduardo-keegan>
  </div>
</div>
