<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Hanna Malinowska-Wikaryjczyk</h4>
      <img class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
           src="assets/Hanna-Malinowska.jpg"
           alt="Hanna Malinowska-Wikaryjczyk">
      <p>Psycholog, psychoterapeutka poznawczo-behawioralna (certyfikat PTTPB i EABCT), superwizor dydaktyk PTTPB
        (certyfikat nr
        61), absolwentka studium z zakresu terapii uzależnień, członkini Polskiego Towarzystwa Psychoterapii Poznawczej
        i
        Behawioralnej. Doświadczenie zawodowe zdobywała w Klinice Psychiatrii WSP w Gdańsku, podczas wieloletniej pracy
        w
        ośrodkach terapii uzależnień, poradni zdrowia psychicznego, od 10 lat w prywatnej praktyce. Aktualnie, poza
        prywatną
        praktyką terapeutyczną i superwizyjną, prowadzi trening DBT oraz kształci się z terapii schematów. Swoją pracę
        poddaje
        regularnej superwizji w nurcie terapii schematu, uczestniczy w regularnych spotkaniach zespołu DBT i w grupowych
        superwizjach CBT.</p>
      <p>
         Jej zainteresowania zawodowe skupiają się wokół zaburzeń nastroju i uzależnień (w szczególności
        behawioralnych).
        Prowadząca i współprowadząca wielu grup i warsztatów dotyczących m.in.: zaburzeń odżywiania (ACT), DDA,
        uzależnień i
        depresji. Specjalizuje się w pracy z adolescentami i osobami dorosłymi. W wolnym czasie uczy się włoskiego i
        stara się
        dogonić swoje myśli na spacerach z synkiem.   </p>
    </div>
  </div>
</div>