<div class="collapse mt-3 mb-3"
     id="maciej-bochenski">
  <div class="card card-body">
    <div class="p-3">
      <p>
        <b>Streszczenie:</b>
        Moment kiedy psychoterapeuta otrzymuje pismo z Sądu (lub innego organu wymiaru sprawiedliwości) zazwyczaj jest
        stresujący i uruchamia: 1) przyspieszony puls 2) lawinę myśli: „Czego ode mnie chcą?”, „Czy będę miał
        problemy?”, „Czy
        muszę robić to, o co jestem proszona/y?”, „Jak mam odpowiedzieć i czy w ogóle odpowiadać?”, „Co z tajemnicą
        zawodową –
        czy mogę udzielać jakichkolwiek odpowiedzi?” 3) poszukiwanie numeru telefonu do zaufanego prawnika.<br>
        To nie jest warsztat dla tych, którzy znają odpowiedź na powyższe pytania. To nie jest warsztat dla osób, którym
        kontakt
        z organami przychodzi z łatwością. To nie jest warsztat dla tych, którzy świetnie znają swoje prawa i obowiązki
        oraz
        opanowali do perfekcji skuteczne metody egzekwowania swoich praw w relacji z organami państwa.<br>
        To warsztat dla wszystkich, którzy potrzebują usystematyzować swoją wiedzę oraz praktycznie przećwiczyć swoje
        umiejętności w kontaktach z szeroko pojętą władzą. To zajęcia dla osób, które chciałyby tak prowadzić
        swoją działalność
        jako psychoterapeuty, aby nie intensyfikować nadmiernie swoich kontaktów z organami władzy publicznej i wymiaru
        sprawiedliwości.
      </p>
      <p>
        <b>Cel warsztatu i praktyczne umiejętności</b>: zapoznanie uczestników z aktualnymi unormowaniami prawnymi
        regulującymi
        wykonywanie zawodu psychoterapeuty, jak również pozyskanie umiejętności postępowania w kontaktach z organami
        administracji publicznej lub wymiaru sprawiedliwości; zaznajomienie uczestników ze sposobami rozwiązywania
        problemowych
        sytuacji prawnych w wykonywaniu zawodu psychoterapeuty; zapoznanie uczestników w szczególności z takimi prawnymi
        aspektami działalności psychoterapeuty, jak: tajemnica zawodowa, odpowiedzialność cywilna, ochrona danych
        osobowych,
        bezpieczeństwo psychoterapeuty.
      </p>
      <p><b>Metoda:</b>
        Prezentacja Power Point, dyskusja problemowa, studium przypadku</p>
    </div>
    <app-maciej-bohenski></app-maciej-bohenski>
  </div>
</div>