<div
  class="collapse mt-3 mb-3"
  id="michaela-swales"
>
  <div class="card card-body">
    <div class="p-3">
      <p><b>Conceptualising and treating high-risk and complexity: What does DBT
          have to offer?
        </b></p>
      <p>Severity of mental health problems presenting to services appears to be
        on the rise. Suicidal and self-harm behaviours are increasingly
        frequent; repetition and use of multiple methods of harm is a common
        issue for staff to address in both adult and child & adolescent mental
        health contexts. Dialectical Behaviour Therapy (DBT) was the first
        cognitive-behavioural treatment to demonstrate efficacy in the treatment
        of personality disorders. Initially developed as a treatment for
        repetitive suicidal and self-harm behaviours in adult women with a
        diagnosis of Borderline Personality disorder (BPD) (Linehan, 1993), DBT
        is considered the best tested of the treatments for BPD (Stoffers et al,
        2013) and has been adapted for use with a range of client groups
        (Swales, 2019). Studies in routine clinical practice (Swales, et al,
        2016; Flynn et al, 2018) indicate that these outcomes are also
        deliverable outside of clinical trials. This workshop will highlight
        aspects of DBT that may relate to its effectiveness in cases of
        high-risk and complexity and consider what these aspects of the
        treatment may tell us about working with clients in these circumstances.
        The workshop will use a range of didactic and experiential methods
        including role-play with audience members and use of DVD material.

      </p>
      <p><b>Learning Objectives:</b></p>
      <ul>
        <li>To understand the three theories underpinning DBT’s
          conceptualization of client problems
        </li>
        <li>To understand the application of a targeted approach to risk and
          complexity within DBT
        </li>
        <li>To understand the main treatment strategies within DBT:
          problem-solving and validation
        </li>
        <li>To experience applying dialectical approaches to clinical problems.</li>
        <li>To experience the stylistic strategies of DBT and to understand them
          from a behavioural perspective
        </li>
      </ul>
    </div>
    <app-en-michaela-swales></app-en-michaela-swales>
  </div>
</div>
