<div class="container mt-5 mb-5">

    <div class="row">
        <div class="col-lg-3">
            <img src="assets/keynoteSpeakers/Arnaud-Arntz.png" class="img-thumbnail">
        </div>
        <div class="col-lg-9">
            <h4>Arnoud Arntz, PhD </h4>
            <p>
                <em>Wykład: Terapia schematu i jej rola w zaburzeniach osobowości i innych złożonych zaburzeniach</em>
            </p>

            <p>Arnoud Arntz jest profesorem psychologii klinicznej na Uniwersytecie w Amsterdamie w Holandii, z afiliacją w
                Maastricht University w Holandii. Jego główne zainteresowania badawcze obejmują obszar PTSD i zaburzeń osobowości,
                prowadzi zarówno badania podstawowe jak i stosowane. Praktykuje również jako psychoterapeuta w PsyQ w Amsterdamie,
                gdzie leczy pacjentów z traumą i zaburzeniami osobowości. Razem z Adamem Radomskym był edytorem Journal of
                Behavior Therapy and Experimental Psychiatry
                <a href="#" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">zobacz więcej ...</a>
            </p>

            <div class="collapse" id="collapseExample">
                <p>Jego badania skupiają się na psychologicznych procesach leżących u podstaw zaburzeń osobowości (PD), szczególnie
                    Borderline (BPD) i zaburzeń lękowych, szczególnie PTSD; oraz ich leczenia. Używając podejścia psychopatologii
                    eksperymentalnej, badał teorie psychologiczne zaburzeń lękowych i zaburzeń osobowości, oraz przyczynił
                    się do rozwoju ich leczenia psychologicznego. W rozwijaniu i badaniu teorii psychologicznych i sposobów
                    leczenia, jego celem jest połączenie podstawowych form pracy naukowej i klinicznej. Jest być może najbardziej
                    znany z przyczynienia się do rozwoju Terapii Schematu i Rekonstrukcji Wyobrażeniowej (Imagery Rescripting).
                    Był liderem projektu w wieloośrodkowym randomizowanym badaniu klinicznym (RCT), które porównywało terapię
                    schematu (ST) i Psychoterapię Skoncentrowaną na Transferencji, jako leczeniu Borderline, i innego badania,
                    które porównywało ST i zwykłe leczenie (TAU), oraz kontrolowanego badania klinicznego (CCT) dla 6 innych
                    zaburzeń osobowości. Obecnie jest głównym badaczem w międzynarodowym badaniu klinicznym, porównującym
                    mechanizmy pracy Imagery Rescripting i EMDR w leczeniu PTSD, które miało swój początek w traumach z dzieciństwa,
                    a wraz z dr Joan Farell jest głównym badaczem w międzynarodowym badaniu klinicznym, porównującym ST grupowe
                    i TAU w leczeniu Borderline. Profesor Arntz jest również przewodniczącym holendersko-niemieckiego projektu,
                    badającego podstawowe procesy mózgowe i poznawcze w Borderline oraz ich zmiany podczas leczenia, które
                    są związane z międzynarodowym badaniem klinicznym, dotyczącym grupowej terapii schematu (ST).</p>
            </div>

            <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#abstraktArntz" aria-expanded="false"
                aria-controls="#abstraktArntz">Abstrakt</button>

            <div class="collapse mt-3" id="abstraktArntz">
                <p>Terapia schematu jest zintegrowanym leczeniem, które powstało z myślą o poważnych zaburzeniach osobowości,
                    ale również jest ono skuteczne w powiązanych problemach, np. w chronicznej depresji i zaburzeniach odżywiania.
                    Opiera się na założeniu, że jeśli potrzeby okresu dziecięcego nie zostały odpowiednio spełnione, istnieją
                    wysokie szanse rozwinięcia się problemów osobowości, które charakteryzują się nieadaptacyjnymi schematami
                    i dysfunkcjonalnymi sposobami radzenia sobie z trudnościami. Stany emocjonalne „tu i teraz” pacjenta
                    są określane jako „tryb schematu”, to znaczy - kombinacja aktywowanego schematu (np. porzucenia) i sposobu
                    radzenia sobie (np. poddawania się). Ten przykład prowadzi do stanu opisywanego jako „tryb porzuconego
                    dziecka”, stanu, w którym pacjent czuje takie samo zagrożenie i panikę, jakie czułoby dziecko zagrożone
                    porzuceniem. Terapia schematu rozwinęła podstawowe modele trybów schematu dla większości zaburzeń osobowości,
                    oraz zestawy technik do radzenia sobie z trybami, które są aktywne podczas sesji. Techniki te mogą być
                    pogrupowane w kategorie technik empirycznych, poznawczych i behawioralnych; najczęściej wszystkie trzy
                    kanały są używane do osiągania zmiany. Leczenie skupia się na trzech obszarach: na przeszłości, ze szczególnym
                    naciskiem na naprawianiu tego, co poszło źle we wczesnych relacjach i na przepracowywaniu traumy; na
                    relacji terapeutycznej, gdzie terapeuta częściowo zaspokaja niespełnione potrzeby pacjenta („limited
                    reparenting”); oraz na „tu-i-teraz”, czyli na adresowaniu problemów w obecnym życiu pacjenta. Terapia
                    schematu okazała się być skuteczna w leczeniu borderline, zaburzeń osobowości typu C i innych zaburzeń
                    osobowości, jak również w chronicznej depresji. Ostatnie doniesienia sugerują, że jest też skuteczną
                    formą leczenia dla pacjentów z zakładów karnych z zaburzeniami osobowości, włączając tych, którzy spełniają
                    kryteria psychopatii.</p>
                <p>W tym wystąpieniu skupię się na głównych założeniach, znajdujących się u podstaw modelu leczenia. Omówię
                    wyniki najważniejszych badań i zwrócę uwagę na te, które wskazują, że stosowanie konkretnych technik
                    leczenia ma duże znaczenie. Wyjaśnię również, że to określone techniki decydują o efektywności terapii
                    schematu, a nie ogólna relacja terapeutyczna - choć była ona wysokiej jakości w dotychczasowych badaniach
                    klinicznych.</p>
                <p>Na koniec podsumuję, co metaanalizy mówią nam o retencji leczenia i skuteczności terapii schematu w porównaniu
                    do innych sposobów leczenia, oraz jakie jest możliwe wytłumaczenie wysokiej skuteczności raportowanej
                    dla terapii schematu.
                </p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-3">
            <img src="assets/keynoteSpeakers/David-Clark.png" class="img-thumbnail">
        </div>
        <div class="col-lg-9">
            <h4>David M. Clark, PhD</h4>
            <p>
                <em>Wykład: Tworzenie i rozpowszechnianie skutecznych psychologicznych terapii częstych problemów zdrowia psychicznego:
                    Nauka, Ekonomia i Polityka.</em>
            </p>

            <p>David M. Clark jest Profesorem Psychologii Eksperymentalnej na Uniwersytecie Oksfordzkim. Jest znany za swoją
                pionierską pracę na rzecz połączenia psychopatologii eksperymentalnej i studiów klinicznych w celu stworzenia
                nowego i skutecznego leczenia psychologicznego zaburzeń lękowych. W ostatnich latach skupiał się również
                na tym, żeby skutecznie udostępnić leczenie większej liczbie osób - jest jednym z twórców angielskiego programu
                Poprawy Dostępu do Terapii Psychologicznych (Improving Access to Psychological Therapies; IAPT). Otrzymał
                również Nagrody dla Wybitnego Naukowca za Życiowe Osiągnięcia od Brytyjskiego Towarzystwa Psychologicznego,
                Amerykańskiego Towarzystwa Psychologicznego, Amerykańskiego Towarzystwa Terapii Behawioralnych i Poznawczych
                oraz Stowarzyszenia na rzecz Nauki w Psychologii Klinicznej.
            </p>

            <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#abstraktClark" aria-expanded="false"
                aria-controls="#abstraktClark">Abstrakt</button>

            <div class="collapse mt-3" id="abstraktClark">
                <p>Perspektywy osób z problemami natury psychologicznej uległy znacznej poprawie. Mamy obecnie skuteczne terapie
                    psychologiczne dla szerokiego zakresu zaburzeń psychicznych. Jednakże, w większości krajów, tylko nieliczne
                    osoby korzystają z tych postępów. To przemówienie pokaże, jak skuteczne terapie psychologiczne mogą powstać
                    z gruntownych badań z zakresu psychopatologii, i jak łączenie psychologii z ekonomią i polityką może
                    udostępnić je szerokiej grupie osób. Dyskusja na temat rozpowszechniania szczególnie skoncentruje się
                    na dwóch inicjatywach. Pierwszą jest angielski program Poprawy Dostępu do Terapii Psychologicznych (Improving
                    Access to Psychological Therapies; IAPT), który aktualnie leczy rocznie ponad 600 000 ludzi z depresją
                    i/lub zaburzeniami lękowymi, uzyskuje dane o wyniku klinicznym dla 98% z tych osób, i udostępnia te informacje
                    w sferze publicznej. Około 50% pacjentów leczonych w programie IAPT zostaje wyleczonych, a dwie trzecie
                    odnosi wartościowe korzyści. Drugą inicjatywą jest szybko rozwijający się obszar terapii wspieranej cyfrowo
                    (digitally assisted therapy), która pozwala terapeutom leczyć większą liczbę pacjentów w sposób, który
                    jest również bardzo wygodny dla samych pacjentów.</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-3">
            <img src="assets/keynoteSpeakers/Pim-Cuijpers.jpg" class="img-thumbnail">
        </div>
        <div class="col-lg-9">
            <h4>Pim Cuijpers, PhD</h4>
            <p>
                <em>Wykład: Psychologiczne leczenie depresji i zaburzeń lękowych: kompleksowy przegląd i przyszłe kierunki rozwoju</em>
            </p>

            <p>Pim Cuijpers jest profesorem Psychologii Klinicznej w Vrije Universiteit w Amsterdamie (Holandia) oraz Kierownikiem
                Departamentu Psychologii Klinicznej, Neuropsychologii i Psychologii Rozwojowej. Pim Cuijpers specjalizuje
                się w przeprowadzaniu randomizowanych badań klinicznych i metaanaliz na temat prewencji i leczenia psychologicznego
                częstych zaburzeń psychicznych. Pim Cuijpers opublikował ponad750 recenzowanych artykułów, rozdziałów, książek
                i profesjonalnych publikacji, oraz ponad 550 artykułów w międzynarodowych recenzowanych czasopismach naukowych.
                Według Thompson Reuters, jest jednym z „najbardziej wpływowych naukowych umysłów” i jednym z 1% najczęściej
                cytowanych naukowców w obszarze psychiatrii i psychologii (
                <a href="http://highlycited.com">http://highlycited.com</a>).
            </p>
            <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#abstraktPim" aria-expanded="false"
                aria-controls="#abstraktPim">Abstrakt</button>

            <div class="collapse mt-3" id="abstraktPim">
                <p>W ostatnich czterech dekadach, kilkaset randomizowanych badań klinicznych rozpatrywało efekty psychologicznego
                    leczenia depresji i zaburzeń lękowych u dorosłych. Większość skupiła się na efektach terapii poznawczo
                    - behawioralnej. W niniejszej prezentacji dokonam przeglądu tego, czego owe badania dowiodły w zakresie
                    efektów terapii poznawczo - behawioralnej w depresji, a także różnych innych typów psychoterapii, m.in.
                    aktywacji behawioralnej, terapii trzeciej fali, psychoterapii interpersonalnej, niedyrektywnej terapii
                    podtrzymującej i krótkoterminowej psychoterapii dynamicznej. Dokonam również podsumowania efektów terapii
                    poznawczo-behawioralnej w zaburzeniach lękowych. W depresji, wszystkie rodzaje terapii są efektywne i
                    nie ma między nimi istotnych różnic. Psychoterapie są skuteczne w podobnym stopniu jak farmako-terapia,
                    a leczenie łączone jest bardziej skuteczne niż każde z nich osobno. Leczenie jest efektywne, gdy jest
                    przeprowadzane zarówno indywidualnie, grupowo, jak i w formacie kontrolowanej samopomocy. Niewiele wiadomo
                    na temat predyktorów i moderatorów - jednak w niniejszej prezentacji pokażę wyniki serii metaanaliz „danych
                    pojedynczego pacjenta”, w których zebrane są dane pierwotne z badań klinicznych, umożliwiające rozważenie
                    moderatorów i predyktorów. Co więcej, pokażę również, że efekty psychoterapii w depresji i lęku były
                    zawyżane z powodu niskiej jakości wielu badań klinicznych, i z powodu złudzenia publikacyjnego. Omówię
                    również priorytety dla przyszłych badań. Wszystkie priorytety powinny opierać się na tym, jaki mają potencjał
                    do zmniejszania obciążenia zaburzeniami depresyjnymi i lękowymi. Stworzenie nowych rodzajów psychoterapii,
                    badanie konkretnych form leczenia lub terapii w określonych populacjach nie powinno figurować wysoko
                    na liście priorytetów, ponieważ dowody wskazują, że w przypadku zaangażowania pacjenta, każda z form
                    jest efektywna we wszystkich konkretnych grupach docelowych. Zamiast tego, dalsze badania powinny skupić
                    się na minimalizowaniu obciążenia zaburzeniami lękowymi i depresyjnymi, oraz na możliwościach zapobiegania
                    powstawaniu zaburzeń lękowych i depresyjnych, leczeniu zaburzeń chronicznych i odpornych na leczenie,
                    zapobieganiu nawrotowi choroby i zwiększeniu skali leczenia, na przykład poprzez używanie większej ilości
                    interwencji kontrolowanej samopomocy.
                </p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-3">
            <img src="assets/keynoteSpeakers/Eduardo-Keegan.png" class="img-thumbnail">
        </div>
        <div class="col-lg-9">
            <h4>Eduardo Keegan, PhD</h4>
            <p>
                <em>Wykład: Konceptualizacja i leczenie dezadaptacyjnego perfekcjonizmu</em><br>
                <em>Warsztat prekonferencyjny: Wprowadzenie do terapii dialektyczno-behawioralnej</em>
            </p>

            <p>Eduardo Keegan jest psychologiem klinicznym i badaczem. Pracuje jako Profesor Psychologii Klinicznej i Psychoterapii
                oraz jako Dyrektor Specjalistycznego Kursu Terapii Poznawczo-Behawioralnego na Uniwersytecie w Buenos Aires.
                Przeprowadził i uczestniczył w treningach CBT w wielu krajach, włączają Polskę, Litwę, Łotwę, Hiszpanię,
                Peru, Paragwaj i Urugwaj. W 2011 otrzymał nagrodę Wielkich Mistrzów Uniwersytetu w Buenos Aires. Jest Honorowym
                Członkiem Polskiego Towarzystwa Terapii Poznawczo-Behawioralnych.
            </p>
            <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#abstraktKagen" aria-expanded="false"
                aria-controls="#abstraktKagen">Abstrakt</button>

            <div class="collapse mt-3" id="abstraktKagen">
                <p>
                    <em>Konceptualizacja i leczenie dezadaptacyjnego perfekcjonizmu</em>
                </p>
                <p>Perfekcjonizm jest wielowymiarową cechą osobowości. Podczas gdy przystosowawczy perfekcjonizm jest zdrową
                    cechą związaną z poszukiwaniem świetności i dobrostanu mentalnego, perfekcjonizm nieprzystosowawczy jest
                    związany z różnymi problemami psychologicznymi. Ostatnio, został skonceptualizowany jako proces transdiagnostyczny,
                    który spełnia rolę ryzyka lub czynnika podtrzymującego kilka zaburzeń. Badania pokazują, że perfekcjonizm
                    ma znaczenie w depresji, zespole lęku uogólnionego, lęku społecznym, zaburzeniu obsesyjno-kompulsywnym,
                    zaburzeniach odżywiania, osobowości obsesyjno-kompulsywnej, i innych patologiach. Tym samym, leczenie
                    perfekcjonizmu nieprzystosowawczego stało się coraz bardziej istotnym tematem w badaniach. W niniejszej
                    prezentacji, zarysujemy różne modele poznawczo-behawioralne perfekcjonizmu, oraz interwencje, które na
                    ich podstawie stworzono.</p>
                <hr>
                <p>
                    <em>Wstęp do Terapii Dialektyczno-Behawioralnej (DBT)</em>
                </p>
                <p>Terapia Dialektyczno-Behawioralna (DBT) jest kompleksowym podejściem do złożonych, trudnych do wyleczenia
                    chorób psychicznych. Początkowo stworzona dla klientów chronicznie samobójczych, ewoluowała jako leczenie
                    wielo-zaburzeniowych osób z zaburzeniem osobowości borderline (BPD). Została zaadaptowana na potrzeby
                    innych zaburzeń zachowania. DBT wyłoniła się jako próba pokonania ograniczeń klasycznego podejścia behawioralnego
                    i poznawczego w leczeniu samobójczych klientów z BPD. DBT łączy strategie klasycznej terapii behawioralnej
                    ze wschodnimi praktykami medytacji i charakteryzuje się równowagą dialektyczną pomiędzy akceptacją i
                    zmianą. Ten dialektyczny nacisk doprowadził do tego, że DBT jest uważany za pierwszą terapię trzeciej
                    fali. Napięcia dialektyczne w leczeniu BPD również miały nacisk na strukturę terapii: DBT nie tylko obejmuje
                    terapię indywidualną, ale także trening umiejętności zespołowych, konsultacja telefoniczna i cotygodniowe
                    spotkanie zespołu DBT. Rosnąca liczba dowodów potwierdza, że DBT jest skuteczną interwencją w BPD i podobnych,
                    złożonych psychopatologiach.</p>
                <p>Celem warsztatów jest zaprezentowanie głównych założeń teoretycznych modelu, na którym opiera się DBT, jak
                    również omówienie głównych składowych terapii i konkretnych technik. Warsztaty wzbudzą zainteresowanie
                    terapeutów pracujących z klientami, którzy mają złożone problemy, często definiowane jako zaburzenia
                    osobowości.</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-3">
            <img src="assets/keynoteSpeakers/Ray-Owen.jpg" class="img-thumbnail">
        </div>
        <div class="col-lg-9">
            <h4>Ray Owen, Dr</h4>
            <p>
                <em>Warsztat: Terapia Akceptacji i Zaangażowania w pracy z chorobami somatycznymi (ACT for Physical Health- workshop,
                    in English)</em>
            </p>
            <p>
                <em>Wykład: Jak praca z wykorzystaniem własnego systemu wartości może pomóc w zmianie zachowania (How working
                    with Values can help behaviour change)</em>
            </p>

            <p>Dr Ray Owen jest konsultantem psychologii klinicznej oraz psychologiem zdrowia z ponad dwudziestoletnim doświadczeniem
                pracy w obszarze zdrowia fizycznego, szczególnie dotyczącego onkologii i opieki paliatywnej w British National
                Health Service. Posiada znaczne doświadczenie w nauczaniu i superwizji oraz prowadzi konsultacje w instytucjach
                i programach badawczych.</p>
            <p>Wielokrotnie prowadził warsztaty i szkolenia z zakresu Terapii Akceptacji i Zaangażowania w kontekście chorób
                somatycznych. Jest autorem dwóch popularnych podręczników samopomocowych wydanych w prestiżowym wydawnictwie
                Routledge – “Facing the Storm” (2011) oraz “Living with the Enemy” (2014), które zostały nominowane do nagrody
                “Najpopularniejsza książka medyczna roku”, nadawanej przez Brytyjskie Stowarzyszenie Medyczne.</p>
            <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#abstraktOwen" aria-expanded="false"
                aria-controls="#abstraktOwen">Abstrakt</button>

            <div class="collapse mt-3" id="abstraktOwen">
                <p>Warsztat:
                    <em>Terapia ACT dla zdrowia fizycznego (warsztaty w jęz. angielskim)</em>
                </p>

                <p>Problemy ze zdrowiem mogą stanowić wyzwanie z wielu powodów; wyzwaniem jest nie tylko radzenie sobie z fizycznymi
                    objawami, ale także uczenie się, jak czerpać satysfakcję z życia nawet z ograniczeniami i trudnościami,
                    jakie przynosi stan zdrowia. Jest zrozumiałe, że wielu z nas podejmuje trudną walkę, by się odnaleźć
                    w tej sytuacji - jednak walka ta generuje takie koszty, jak emocjonalny dystres, problemy w relacjach,
                    zatracenie poczucia sensu i tożsamości, problemy ze służbą zdrowia i bycie wtrąconym w mało satysfakcjonującą
                    rutynę.</p>

                <p>Terapia Akceptacji i Zaangażowania (ACT) jest formą CBT, która może pomóc ludziom w podobnej sytuacji:</p>
                <ul>
                    <li>mieć większe poczucie sensu, czerpiące z ich wartości i tego, co dla nich ważne,</li>
                    <li>uczyć się, jak akceptować te aspekty sytuacji, które na chwilę obecną nie mogą ulec zmianie, a jak podjąć
                        działanie by zmienić to, co zmienić się da,</li>
                    <li>być bardziej chętnym do spróbowania wielu sposobów robienia różnych rzeczy, i korzystanie z tych, które
                        najlepiej dla nich działają,</li>
                    <li>być mniej zawładniętym przez niechciane myśli i uczucia, które nieuchronnie się pojawiają.</li>
                </ul>

                <p>Podczas warsztatów, model Terapii Akceptacji i Zaangażowania zostanie przedstawiony jako sposób na zrozumienie
                    wyzwań, jakie stawia życie z problemami zdrowotnymi, a także jako sposób na radzenie sobie z nimi. Poruszymy
                    następujące tematy:</p>
                <ul>
                    <li>idee, które są podstawą modelu</li>
                    <li>dowody, na których oparty jest model</li>
                    <li>główne procesy ACT wykorzystywane w pracy z problemami zdrowia fizycznego (włącznie ze studium przypadku
                        i praktycznymi ćwiczeniami)</li>
                </ul>
                <hr>
                <p>Wykład (40 min):
                    <em>Jak praca z Wartościami może pomóc w zmianie zachowania</em>
                </p>

                <p>Pojęcie „wartości” jest niemalże uniwersalne dla filozofii, religii i ruchów politycznych. Wartości są ogólnie
                    definiowane jako zasady lub standardy zachowania, bądź idee dotyczące tego, co jest w życiu ważne.</p>
                <p>W Terapii Akceptacji i Zaangażowania (ACT) - jednej z terapii „trzeciej fali” CBT, wartości są rozumiane
                    w specyficzny sposób, jako „to, za czym chcemy opowiedzieć się w życiu, jak chcemy się zachowywać, jakim
                    człowiekiem chcemy być, jakie siły i cechy chcemy rozwinąć” (Harris, 2009). Mówiąc bardziej szczegółowo,
                    wartości są uważane za wewnętrzne źródła wzmocnienia zachowań.</p>
                <p>W przeciwieństwie do religijnych lub politycznych idei wartości, tutaj są one postrzegane jako coś, co różni
                    się wśród ludzi; celem człowieka nie jest życie według jakichś ogólnych „stosownych” wartości, lecz życie
                    zgodnie ze swoimi własnymi. Jest to postrzegane jako podstawa spełnionego życia - dużo bardziej, niż
                    osiąganie konkretnych stanów emocjonalnych (np. szczęścia, spokoju). Terapia ACT pomaga ludziom być bardziej
                    świadomymi swoich wartości, podejmować działanie, by żyć według nich, oraz stawiać czoła wewnętrznym
                    doświadczeniom i zachowaniom, które mogą stanąć na drodze do sukcesu.</p>
            </div>
        </div>
    </div>
</div>