<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4>Instytut Psychologii UJ</h4>
      <p>Instytut Psychologii UJ jest jednostką organizacyjną Uniwersytetu Jagiellońskiego, najstarszej uczelni w Polsce
        i jednego z najstarszych uniwersytetów na świecie. Instytut jest częścią Wydziału Filozoficznego UJ, który
        składa się z 5 Instytutów: Filozofii, Pedagogiki, Psychologii, Religioznawstwa i Socjologii oraz Katedry
        Porównawczych Studiów Cywilizacji. Obecnie na Wydziale studiuje prawie 2800 studentów i ponad 200 doktorantów.
      </p>
      <p>W ramach Instytutu Psychologii funkcjonuje siedem zakładów: </p>
      <ul>
        <li>Zakład Psychologii Eksperymentalnej</li>
        <li>Zakład Psychologii Klinicznej</li>
        <li>Zakład Psychologii Ogólnej</li>
        <li>Zakład Psychofizjologii</li>
        <li>Zakład Psychologii Społecznej</li>
        <li>Zakład Psychologii Rozwojowej i Wychowawczej im. Stefana Szumana</li>
        <li>Zakład Psychologii Zdrowia</li>
      </ul>
      <div class="col-12 col-lg-6 mb-4">
        <img
          src="assets/ip-uj-logo.PNG"
          alt="UJ IP"
          width="100%"
          height="auto"
        >
      </div>
    </div>
  </div>
</div>
