<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4>Instytut Psychologii UJ</h4>
      <p>Instytut Psychologii Uniwersytetu Jagiellońskiego (<a
          href="https://psychologia.uj.edu.pl"
          target="_blank"
        >https://psychologia.uj.edu.pl</a>) jest wiodącą w Polsce
        placówką prowadzącą badania psychologiczne i kształcącą przyszłych psychologów. Instytut wywodzi się wprost z
        założonej w 1903 roku przez Władysława Heinricha pierwszej w Europie wschodniej Pracowni Psychologii
        Doświadczalnej – jest zatem najstarszym ośrodkiem badań psychologicznych w Polsce. W Instytucie zatrudnionych
        jest ponad 60 pracowników naukowych i naukowo-dydaktycznych, którzy tworzą siedem zakładów oraz trzy pracownie,
        a także 11 zespołów badawczych. Instytut dysponuje znakomitą infrastrukturą badawczą, na którą składa się 11
        laboratoriów wyposażonych w najnowocześniejszy sprzęt badawczy. Aktualnie w Instytucie realizowanych jest ponad
        60 projektów badawczych finansowanych ze źródeł zewnętrznych, zarówno krajowych, jak i zagranicznych, na łączną
        kwotę blisko 60 milionów złotych. Pracownicy Instytutu publikują w najlepszych światowych czasopismach
        naukowych. W samym 2018 roku opublikowali 62 artykuły z tzw. listy filadelfijskiej. Instytut prowadzi
        pięcioletnie, jednolite studia magisterskie z psychologii, których program jest zgodny ze standardami EuroPsy, a
        studia uzyskały wyróżniającą ocenę Państwowej Komisji Akredytacyjnej. W 2019 roku studia psychologiczne w
        Instytucie Psychologii UJ zajęły także pierwsze miejsce w rankingu Perspektyw. W Instytucie realizowany jest
        międzynarodowy program doktorski z zakresu neuronauki poznawczej COGNES (<a
          href="http://cognes.psychologia.uj.edu.pl"
          target="_blank"
        >http://cognes.psychologia.uj.edu.pl</a>).
        Instytut organizuje liczne działania popularyzujące psychologię, do których należą m.in. trzy cykliczne
        wydarzenia: Kawiarnia Naukowa, Science First oraz Nauka w Pigułce (<a
          href="http://lux.psychologia.uj.edu.pl"
          target="_blank"
        >http://lux.psychologia.uj.edu.pl</a>).</p>
      <div class="col-12 col-lg-6 mb-4">
        <img
          src="assets/ip-uj-logo.PNG"
          alt="UJ IP"
          width="100%"
          height="auto"
        >
      </div>
    </div>
  </div>
</div>
