<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Anita Bryńska</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Anita-Brynska.jpg"
        alt="Anita Bryńska"
      >

      <p>Dr hab. n. med. Anita Bryńska - lekarz, pracuje w Klinice Psychiatrii Wieku Rozwojowego Warszawskiego
        Uniwersytetu Medycznego oraz Centrum CBT, specjalista psychiatrii dzieci i młodzieży, certyfikowany terapeuta
        oraz superwizor-dydaktyk Polskiego Towarzystwa Terapii Poznawczej i Behawioralnej. Zajmuje się diagnozą i
        leczeniem zaburzeń psychicznych wieku rozwojowego, ze szczególnym uwzględnieniem zaburzenia
        obsesyjno-kompulsyjnego, zaburzeń lękowych oraz innych zaburzeń emocjonalnych (nerwicowych), zaburzeń nastroju,
        zaburzeń tikowych, zespołu nadpobudliwości psychoruchowej i zaburzeń koncentracji uwagi (ADHD), zaburzeń ze
        spektrum autyzmu, w tym zespołu Aspergera. Prowadzi psychoterapię poznawczo-behawioralną oraz superwizję
        psychoterapii poznawczo-behawioralnej. </p>
    </div>
  </div>
</div>
