<div
  class="collapse mt-3 mb-3"
  id="natalia-liszewska"
>
  <div class="card card-body">
    <div class="p-3">
      <p>
        Przemoc w związku jest częstym zjawiskiem, które dotyka osób z różnych grup społecznych, bez względu na płeć,
        wiek czy status ekonomiczny. Dane zamieszczone w sprawozdaniu, dotyczące działań podjętych w procedurze
        ,,Niebieskiej Karty'' Komendy Głównej Policji, szacują, że w 2018 roku, wobec 65 057 kobiet istniało podejrzenie
        doświadczenia przemocy. Wyniki badań dowiodły, że 22% kobiet, doświadczyło przemocy fizycznej lub seksualnej ze
        strony partnera intymnego (aktualnego lub byłego), a około 27% kobiet doświadczyło w dzieciństwie (przed
        ukończeniem 15 r.ż.) pewnej formy znęcania się fizycznego przez osobę dorosłą (Włodarczyk, 2017).</p>
      <p>
        Doświadczenie przemocy wiąże się z licznymi negatywnymi konsekwencjami w sferze zdrowia psychicznego takimi,
        jak: zespół stresu pourazowego, zachowania suicydalne czy też zaburzenia depresyjne (Campbell, 2002, za:
        Iverson, Fruzetti, Shenk, 2009). Warto zauważyć iż rozpowszechnienie zaburzenia stresowego pourazowego (PTSD)
        waha się w tej grupie między 45% a 84%. Warto nadmienić, iż wątek dotyczący pracy z osobami doświadczającymi
        przemocy nie jest często obecny w klasycznym formacie kursów terapeutycznych, na konferencjach czy w
        literaturze. Być może z powodu dyskusji wokół jednostki diagnostycznej jaką jest Complex PTSD, która często jest
        łączona właśnie z osobami po doświadczeniach przemocy.</p>
      <p>
        Celem warsztatu jest przedstawienie możliwych form pomocy psychologicznej dla osób doświadczających przemocy
        m.in. Narracyjna terapia z wykorzystaniem ekspozycji (ang. Narrative exposure therapy — NET), EMDR czy
        Dialektyczno-Behawioralna Terapia dla Kobiet Doświadczających Przemocy Domowej (ang. Dialectical Behavior
        Therapy for Women Victims of Domestic Abuse), ze szczególnym uwzględnieniem Poznawczej Terapii Traumy dla Kobiet
        z Zaburzeniem PTSD po Doświadczeniach Przemocy (CTT-BW) autorstwa Kubany.</p>
      <p>
        Podczas warsztatu omówione zostaną założenia teoretyczne, struktura oraz moduły realizowane w ramach Poznawczej
        Terapii Traumy dla Kobiet z Zaburzeniem PTSD po Doświadczeniach Przemocy (CTT-BW) autorstwa Kubany oraz
        przedstawione zostanę moduły dotyczące m.in. psychoedukacji na temat PTSD, wzmacniania umiejętności zarządzania
        stresem, asertywnej komunikacji, radzenia sobie z niechcianymi kontaktami z byłymi partnerami i identyfikacji
        potencjalnych sprawców.</p>
      <p>
        Zostaną zaprezentowane także wyniki badań weryfikujących związek między doświadczaniem przemocy,
        nieadaptacyjnymi schematami oraz depresją w grupie kobiet doświadczonych przemocą ze strony partnera. Wyniki
        przeprowadzonych analiz statystycznych wskazują, że poszczególne schematy z obszaru Rozłączenie i odrzucenie
        oraz Nakierowanie na innych mediują relację między doświadczeniem subiektywnie odczuwanej krzywdy w
        dzieciństwie a nasileniem objawów depresji.

      </p>
    </div>
    <app-natalia-liszewska></app-natalia-liszewska>
  </div>
</div>
