<div
  class="collapse mt-3 mb-3"
  id="malgorzata-bielak"
>
  <div class="card card-body">
    <div class="p-3">
      <p>Klienci z zaburzeniem osobowości narcystycznej często omijani są przez nas, terapeutów, szerokim łukiem. Nie ma
        w tym nic dziwnego, jeśli weźmiemy pod uwagę jakie koszty emocjonalne ponosimy w procesie terapeutycznym w
        związku z obecnym przez większość czasu na sesjach trybem Samopowiększacza, który potrafi głęboko nas dotknąć,
        obrazić, potraktować z pogardą, uwieść, a na końcu zostawić bez słowa. Trudno o wzbudzenie w sobie koniecznej do
        pracy empatii i zachowanie dobrego kontaktu z naszymi trybami Zdrowego Dorosłego i Wystarczająco Dobrego
        Terapeuty, o użycie zasobów naszej wiedzy kiedy jesteśmy skupieni na trudnych emocjach powstałych w momencie
        aktywacji naszych dysfunkcjonalnych schematów na skutek działania pacjenta narcystycznego. Na tym warsztacie
        uczestnicy będą mieli szansę spojrzeć na pacjentów narcystycznych empatycznie, z perspektywy charakterystycznych
        dla tego pacjenta trybów, która wychodzi daleko poza diagnozę różnicową. Będą uczyli się nawiązywania kontaktu z
        zazwyczaj ukrytym trybem Samotnego Dziecka, stawiali granice trybowi Samopowiększacza, po to żeby Zdrowy Dorosły
        pacjenta nauczył się adekwatnie zaspokajać swoje potrzeby bez ranienia innych. Część warsztatu poświęcona będzie
        również pracy nad zrozumieniem i zmianą własnych reakcji na tryby pacjentów narcystycznych. Warsztat prowadzony
        będzie metodami aktywnymi, z użyciem prezentacji, demonstracji i ćwiczeń umiejętności praktycznych przez
        uczestników. Od uczestników warsztatu oczekiwana będzie podstawowa wiedza o schematach i trybach.
      </p>
      <hr>
      <h5>Małgorzata Bielak </h5>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Malgorzata-Bielak.jpg"
        alt="Małgorzata Bielak"
      >
      <p>Małgorzata Bielak – psycholog, certyfikowany terapeuta i superwizor-dydaktyk Polskiego Towarzystwa Terapii
        Poznawczej i Behawioralnej, certyfikowany terapeuta Europejskiego Towarzystwa Terapii Poznawczej i Behawioralne
        (EABCT ), certyfikowany terapeuta i superwizor-dydaktyk Międzynarodowego Towarzystwa Terapii Schematu (ISST). Od
        wielu lat prowadzi superwizje i specjalistyczne szkolenia z zakresu terapii poznawczo-behawioralnej i schematu.
        W kręgu jej szczególnych zainteresowań leżą zaburzenia odżywiania i osobowości. Praktykę kliniczną prowadzi w
        Warszawie, w ośrodku terapii poznawczo- behawioralnej i schematu Cogito (www.cogitoterapia.pl).</p>
    </div>
  </div>
</div>
