<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Aleksandra Augustyn</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Aleksandra-Augustyn.jpg"
        alt="Aleksandra Augustyn"
      >

      <p>Aleksandra Augustyn - specjalista psycholog kliniczny, seksuolog, superwizor - dydaktyk PTTPB nr 46. Pracownik
        Oddziału Dziennego III Kliniki Psychiatrycznej Instytutu Psychiatrii i Neurologii oraz Ośrodka Psychiatrii dla
        Dzieci i Młodzieży w Instytucie Pomnik- Centrum Zdrowia Dziecka. Na Oddziale Dziennym prowadzi terapię grupową
        oraz zajęcia treningowe, w tym trening metapoznawczy dla osób ze schizofrenią. W Poradni Psychiatrycznej pracuje
        indywidualnie, również w obszarze obejmującym rozwój seksualny. Prowadzi działalność wykładową i szkoleniową z
        zakresu terapii poznawczo-behawioralnej i seksuologii. Członek Polskiego Towarzystwa Seksuologicznego oraz
        Polskiego Towarzystwa Terapii Poznawczej i Behawioralnej.</p>
    </div>
  </div>
</div>
