<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Hubert Czupała </h4>

      <p>Hubert Czupała jest absolwentem Psychologii oraz Filologii Germańskiej na Uniwersytecie im. Adama Mickiewicza w
        Poznaniu oraz Uniwersytecie im. Jana Gutenberga w Moguncji. Doświadczenie zawodowe zdobywał między innymi w
        Klinice Psychiatrii i Ambulatorium Psychoterapeutycznym Uniwersytetu Jana Gutenberga w Moguncji, oraz Szpitalu
        Powiatowym i Dziennym Oddziale Psychiatrycznym Rehabilitacyjnym w Śremie. Obecnie kieruje pracą zespołu
        psychoterapeutów Ośrodka Terapii Poznawczych i Behawioralnych w Poznaniu. W pracy klinicznej specjalizuje się w
        nowych formach psychoterapii opartych na dowodach naukowych. Ukończył 4 letnie szkolenie z zakresu terapii
        poznawczo-behawioralnej oraz liczne szkolenia i warsztaty z zakresu psychoterapii; między innymi: terapii
        schematu (ST), terapii akceptacji i zaangażowania (ACT), terapii dialektyczno behawioralnej (DBT), terapii
        opartej na współczuciu (CFT) oraz terapii opartej na analizie funkcjonalnej (FAP). Pracuje z rodzicami i
        nauczycielami prowadząc warsztaty edukacji psychologicznej i wspierania umiejętności wychowawczych, prowadzi
        rehabilitację psychologiczną i grupy wsparcia dla osób przewlekle chorych oraz realizuje projekty edukacyjne z
        zakresu profilaktyki zdrowia psychicznego. Jest członkiem Association for Contextual Behavioral Science oraz
        założycielem i przewodniczącym jej polskiego oddziału (ACBS Polska). Swoją wiedzę i umiejętności przekazuje
        studentom jako wykładowca akademicki na Uniwersytecie Humanistycznospołecznym SWPS w Poznaniu oraz prowadząc
        specjalistyczne szkolenia i warsztaty doskonalenia zawodowego.</p>
    </div>
  </div>
</div>
