<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Bogdan Zawadzki</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Bogdan-Zawadzki.jpg"
        alt="Bogdan Zawadzki"
      >

      <p>
        Prof. dr. hab. Bogdan Zawadzki, professor at the Faculty of Psychology, University of Warsaw. His research
        domain combines the psychology of individual differences and clinical psychology. He has led five research
        projects, including the prestigious PL088 Grant from the Financial Mechanism established by Iceland,
        Liechtenstein, and Norway through the EEA Financial Mechanism and the Polish Ministry of Science and Higher
        Education (2008-2011): “Psychological determinants and consequences of traffic accidents” and the National
        Science Centre Maestro 3 Grant no. 2012/06/A/HS6/00340 (2013-2018): “PTSD: diagnosis, therapy, prevention.” He
        was a member of the University Accreditation Commission (2004-2012). Currently, he is a member of the Central
        Commission for Degrees and Titles (since 2013), the Council of Scientific Exellence (since 2019), and the
        Committee on Psychological Sciences of the Polish Academy of Sciences (since 2020). He has published 146
        scientific works: 10 monographs, 88 articles, and 48 book chapters; and has prepared 67 conference presentations
        (including keynote lectures at the international conference of the Stress and Anxiety Research Society and the
        Polish Association for Behavioural and Cognitive Therapy in 2018). For his scientific achievements, he has been
        awarded the Minister of Science and Higher Education Award in 2004 and 2007. In 2018, in recognition of his
        contribution to the development of psychotherapy in Poland, he became an honorary member of the Polish
        Association for Behavioural and Cognitive Therapy. During his academic career, he has supervised 86 MA students
        and 8 PhDs in psychology. Aside from constantly reviewing articles for scientific journals, he has given several
        dozen reviews in promotion procedures (recenzje awansowe) and has chaired 46 habilitation committees.

      </p>
    </div>
  </div>
</div>
