<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Informacje</h4>
      <p>
        Szanowni Państwo,<br>

        konferencja odbędzie się w formie online i będzie transmitowana za pomocą platformy Zoom. Wszelkie informacje
        techniczne
        dotyczące udziału w konferencji już wkrótce zostaną zamieszczone w tym miejscu. Linki do logowania otrzymacie
        Państwo
        najpóźniej na trzy dni przed rozpoczęciem konferencji.
      </p>
    </div>
  </div>
</div>