<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4>Krakow</h4>
      <p>The royal city of Krakow dates back to the 7th century. In 1257, the city obtained a location based on
        Magdeburg Law, which designated a centrally located market square visible today with streets perpendicular to
        it. During the reign of Casimir the Great, the city experienced an architectural and scientific boom. In 1364
        the Krakow Academy was founded, and then transformed the Jagiellonian University. During the Jagiellonian times,
        for about 200 years, Krakow serves as the capital of Poland. Krakow was called the Florence of the North and the
        Wawel Castle became a pearl of Renaissance architecture.</p>
      <p>The 20th century was also not very kind to Krakow. Even though during the Second World War the city did not
        suffer much material damage, the intellectual and cultural elite of the city were annihilated. After the war,
        the communist authorities wanted Cracow to become a workers' city. To this end, they built a huge housing and
        employee complex in Nowa Huta on very fertile and beautiful land. These activities did not bring the expected
        results, because modern Krakow is a place friendly to culture, science, but also to new branches of the economy,
        having a rich architectural history, which nowadays also includes the buildings of Nowa Huta.</p>
      <p>Currently, the city of Krakow is famous for its hospitality and multiculturalism. Krakow's Kazimierz and the
        Podgórze district have become a favorite meeting place for tourists and residents. Here, while strolling through
        the charming narrow streets, you can listen to live music, eat delicious bagels, and during a hot summer day,
        cool off by the Vistula River. Kazimierz is one of the most known and recognized (due to couple of movie
        productions as well) Jewish districts , in which there are old synagogues located, among Szeroka street.
      </p>
      <p>For those who love boating, Krakow offers the opportunity to explore the city on barges or boats that offer not
        only beautiful views, but also great food and music.</p>
      <p>Krakow is also a city with a rich academic past. For centuries, the Jagiellonian University has made Poland and
        Polish scientists famous around the world. Nowadays, students will find a wide range of didactic proposals in
        Krakow from numerous universities, academies and colleges. It is also an attractive place for global
        corporations and small, local start-ups.</p>
      <p>The architectural richness of Kraków is, among others, the medieval Market Square with the Cloth Hall - a trade
        and craft center, as well as monumental churches: St. Mary's Basilica, Church of St. Andrew, Saint. Barbara
        church. It is worth noting that the Old Town has been on the UNESCO World Heritage list for 40 years now. A
        short walk down Grodzka Street leads to the Wawel Hill, where the Wawel Castle is located. It welcomes guests
        with beautiful and masterpiece-rich castle rooms. It is also worth seeing the cave under the castle, which the
        Wawel Dragon chose as his home.
      </p>
      <p>For those who appreciate the closeness of nature and outdoor activities, they may like the Krakow Błonia and
        Wolski forest nearby. Tired of physical activity, tourists can catch their breath in the charming orangeries and
        cafes located near Błonia.</p>
      <p>Culture and art lovers can find many attractions from Krakow theaters, museums and concert halls. Krakow is
        also a city of numerous festivals, the most famous of which are: Sacrum Profanum, Jewish Culture Festival,
        Unsound, the International Film Festival Etiuda & Anima and many others. Worth seeing are both the National
        Museum in Krakow, with the Lady with a Weasel at the head, and the Schindler Museum, located in the former
        Schindler's factory.</p>
      <p>Near Krakow there is the world-famous Salt Mine in Wieliczka, which, apart from aesthetic values, also has many
        health benefits. When visiting Krakow, it is also worth visiting the Memorial Site and Museum in
        Auschwitz-Birkenau in Oświęcim. The area around Krakow is also an attractive area for mountain hikes, which are
        particularly pleasant in May, when nature flourishes and comes to life, and the trails still remain empty.</p>
      <p>Come to Krakow, you can't be bored here!</p>
    </div>
  </div>
</div>
