<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Olga Olszewska</h4>
      <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Olga-Olszewska.jpg"
        alt="Olga Olszewska"
      >

      <p>Olga Olszewska – absolwentka Akademii Medycznej w Warszawie 1990, specjalista psychiatra, psychiatra dzieci i
        młodzieży, certyfikowany psychoterapeuta i superwizor – dydaktyk PTTPB. 16 lat pracy w Wojewódzkim Ośrodku
        Lecznictwa Psychiatrycznego w Toruniu; potem tylko w gabinecie prywatnym. Współzałożycielka i wykładowca Szkoły
        Psychoterapii Crescentia, współzałożycielka Centrum Psychoterapii i Poradnictwa Phanari w Toruniu. W kilku
        kadencjach wiceprzewodnicząca, a w kadencji 2014-2016 przewodnicząca Polskiego Towarzystwa Terapii Motywującej.
        Kontakt: olga.olszewska@op.pl</p>
    </div>
  </div>
</div>
