<div
  class="collapse mt-3 mb-3"
  id="katarzyna-sikora"
>
  <div class="card card-body">
    <div class="p-3">
      <p>
        CBT uchodzi – w naszym mniemaniu niesłusznie - za terapię opartą na redukcjonistycznej koncepcji człowieka, i
        tym samym niechętną czy wręcz wrogą wobec religii. Tymczasem nawet w zsekularyzowanych społeczeństwach pojawiają
        się problemy i zaburzenia psychiczne, w których treści religijne odgrywają znaczącą rolę, a w społecznościach
        religijnych odsetek takich zaburzeń jest bardzo wysoki. Przekonania religijne pacjentów stanowią temat, którego
        trudno jest uniknąć w pracy terapeutycznej w Polsce, gdzie – pomimo toczących się przemian w tym zakresie,
        większość społeczeństwa nadal identyfikuje się z religią katolicką. Przekonania religijne mogą stanowić samo
        jądro problemu (np. będąc głównym tematem obsesji w OCD), ale mogą też oddziaływać na spostrzeganie i
        rozwiązywanie problemów z innych zakresów (np. na podejmowanie ważnych decyzji życiowych) oraz wpływać na
        motywację pacjentów do angażowania się w zadania terapeutyczne. Pytanie nie brzmi zatem – czy włączać treści
        religijne do psychoterapii poznawczo-behawioralnej, ale: w jaki sposób to robić?</p>
      <p>
        Terapeuta CBT nie powinien unikać zajmowania się treściami religijnymi, spontanicznie pojawiającymi się w
        procesie terapii, jako ważnymi dla pacjenta przekonaniami. Pozostaje jednak pytanie, czy warto/należy celowo się
        do nich odwoływać. Od lat 80. XX wieku rozwija się nurt religious/spiritual cognitive-behavioral therapy (R/S
        CBT), w którym w proces terapii celowo i planowo włączane są kwestie religii i duchowości. Wyniki badań
        empirycznych wskazują na skuteczność odwoływania się do treści religijnych w leczeniu zaburzeń psychicznych i w
        toku pomocy w trudnościach egzystencjalnych.</p>
      <p>
        Warsztat będzie poświęcony pracy z przekonaniami religijnymi pacjentów, począwszy od myśli automatycznych aż do
        religijnych schematów Ja, oraz specyfice pracy z religijnymi pacjentami oraz z pacjentami będącymi osobami
        duchownymi. Istotnym tematem warsztatu będą także kwestie natury etyczno-zawodowej, związane z włączeniem treści
        religijnych w proces psychoterapii, a także wymagania, jakie stawia to przed terapeutą - zarówno w zakresie
        etyki zawodowej, jak i rozwoju kompetencji osobowych.</p>
      <p>
        Prowadzący stawiają sobie dwojakiego rodzaju cele. Po pierwsze, celem jest pobudzenie namysłu nad własnymi
        przekonaniami terapeutów, dotyczącymi fenomenu religii. Wyartykułowanie swoich przekonań oraz zbadanie ich
        spójności i adaptacyjności stanowi podstawę pracy z przekonaniami religijnymi pacjentów. Po drugie, celem
        warsztatu jest nabycie umiejętności pracy z przekonaniami religijnymi, od poziomu myśli automatycznych aż do
        religijnych schematów Ja.

      </p>
    </div>
    <app-katarzyna-sikora></app-katarzyna-sikora>
    <app-piotr-sikora></app-piotr-sikora>
  </div>
</div>
