<div class="container">
  <div class="row">
    <div class="col-6 text-center mt-2">
      <a routerLink="/przemyslaw-babel">
        <img class="img-thumbnail"
             src="assets/Przemyslaw-Babel.jpg"
             alt="Przemysław Bąbel"></a>
      <h6 class="mt-2">Przemysław Bąbel</h6>
    </div>
    <div class="col-6 text-center mt-2">
      <a routerLink="/anita-brynska">
        <img class="img-thumbnail"
             src="assets/Anita-Brynska.jpg"
             alt="Przemysław Bąbel"></a>
      <h6 class="mt-2">Anita Bryńska</h6>
    </div>
    <div class="col-6 text-center mt-2">
      <a routerLink="/wieslaw-jerzy-cubala">
        <img class="img-thumbnail"
             src="assets/Wieslaw-Jerzy-Cubala.jpg"
             alt="Wieslaw Jerzy Cubala"></a>
      <h6 class="mt-2">Wiesław Jerzy Cubała</h6>
    </div>
    <div class="col-6 text-center mt-2">
      <a routerLink="/en-eduardo-keegan">
        <img class="img-thumbnail"
             src="assets/Eduardo-Keegan.jpg"
             alt="Eduardo Keegan"></a>
      <h6 class="mt-2">Eduardo Keegan</h6>
    </div>
    <div class="col-6 text-center mt-2">
      <a routerLink="/en-robert-leahy">
        <img class="img-thumbnail"
             src="assets/Robert-Leahy.jpg"
             alt="Robert L. Leahy">
      </a>
      <h6 class="mt-2">Robert L. Leahy</h6>
    </div>
    <div class="col-6 text-center mt-2">
      <a routerLink="/en-cory-newman">
        <img class="img-thumbnail"
             src="assets/Cory-Newman.jpg"
             alt="Cory Newman">
      </a>
      <h6 class="mt-2">Cory Newman</h6>
    </div>
    <div class="col-6 text-center mt-2">
      <a routerLink="/en-agnieszka-popiel">
        <img class="img-thumbnail"
             src="assets/Agnieszka-Popiel.jpg"
             alt="Agnieszka Popiel">
      </a>
      <h6 class="mt-2">Agnieszka Popiel</h6>
    </div>
    <div class="col-6 text-center mt-2">
      <a routerLink="/en-ewa-praglowska">
        <img class="img-thumbnail"
             src="assets/Ewa-Praglowska2.jpg"
             alt="Ewa-Praglowska">
      </a>
      <h6 class="mt-2">Ewa Pragłowska</h6>
    </div>
    <div class="col-6 text-center mt-2">
      <a routerLink="/en-mark-reinecke">
        <img class="img-thumbnail"
             src="assets/Mark-Reinecke.jpg"
             alt="Mark A.Reinecke">
      </a>
      <h6 class="mt-2">Mark A.Reinecke</h6>
    </div>
    <!-- <div class="col-6 text-center mt-2">
      <a routerLink="/en-michaela-swales">
        <img class="img-thumbnail"
             src="assets/Michaela-Swales.jpg"
             alt="Michaela Swales">
      </a>
      <h6 class="mt-2">Michaela Swales</h6>
    </div> -->
    <div class="col-6 text-center mt-2">
      <a routerLink="/andrzej-kuczmierczyk">
        <img class="img-thumbnail"
             src="assets/Andrzej-Kuczmierski.JPG"
             alt="Andrzej Kuczmierczyk">
      </a>
      <h6 class="mt-2">Andrzej Kuczmierczyk</h6>
    </div>
  </div>
</div>