<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Alan Fruzzetti</h4>
      <img class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
           src="assets/Alan-Fruzzetti.jpg"
           alt="Alan Fruzzetti">
      <p>
        Dr. Alan Fruzzetti is an internationally recognized DBT researcher, teacher and supervisor. He is the Director
        of
        Training in Family Services and senior/adherence DBT supervisor for 3East DBT programs at McLean
        Hospital/Harvard
        Medical School, and professor emeritus at the University of Nevada, Reno. Alan is Vice-Chair of the Board for
        the
        National Education Alliance for Borderline Personality Disorder (NEA-BPD) and on the Board of Directors for the
        Linehan
        Institute, International Association for DBT, and the Center for Trauma and Stress Education. He has authored
        more than
        100 research and clinical papers and book chapters, two books, is the editor of the Guilford DBT Practice
        series, and
        has lectured and trained professionals and the public in more than twenty-five countries on Dialectical Behavior
        Therapy
        and DBT with parents, couples and families. Alan is the co-creator of the NEA-BPD no-cost Family Connections
        programs
        for parents, partners, and other loved ones of people with borderline personality disorder, severe emotion
        dysregulation, suicide attempts and related problems. He has testified before Congressional committees about
        problems
        related to suicide and has received many honors for research, teaching, and community service.
      </p>
    </div>
  </div>
</div>