<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Agnieszka Wroczyńska</h4>

      <p>Agnieszka Wroczyńska: Superwizorka oraz certyfikowana terapeutka poznawczo-behawioralna, psycholożka i
        filozofka. Ukończyłam studia seksuologiczne. Szczególnie interesuję się trzecią falą terapii poznawczych i
        behawioralnych - przede wszystkim ACT, DBT oraz IBCT, jestem wśród członków założycieli ACBS Polska, gdzie
        zasiadam w komisji rewizyjnej. Prowadzę praktykę prywatną w Poradni w CBT w Gdyni, gdzie pracuję z osobami
        dorosłymi oraz z parami. </p>
    </div>
  </div>
</div>
