<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Piotr Sikora</h4>
      <!-- <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Piotr-Sikora.jpg"
        alt="Piotr Sikora"
      > -->

      <p>dr hab. Piotr Sikora -teolog i filozof. Pracownik naukowy Akademii Ignatianum w Krakowie, zajmuje się filozofią
        religii, filozofią rozumianą jako ćwiczenie duchowe, zainteresowany poradnictwem filozoficznym. Jako
        współpracownik The Elijah Interfaith Institute w Jerozolimie działa na rzecz dialogu międzyreligijnego. Członek
        redakcji Tygodnika Powszechnego. Związany z Lubińską Wspólnotą Grup Medytacji Chrześcijańskiej. </p>
    </div>
  </div>
</div>
