<div class="container">
  <app-slider></app-slider>
  <div class="row mt-3 mt-xl-3 mt-lg-3">
    <div class="col-12 text-justify">
      <h4>Welcome</h4>
      <p>
        We have the honor and pleasure to invite you to the International Scientific Conference: “Cognitive-Behavioual
        Therapy.Beyond Individual Psychotherapy” of the Polish Association of Behavioural and Cognitive Therapy, which
        takes place on May 8-10, 2020 in Krakow. The aim of the conference is to present contemporary reports from
        research and professional practice of cognitive-behavioral psychotherapy in a wide range of therapeutic
        interventions: individual, group, family and couple therapy. The approaches to cognitive-behavioral therapy in
        such a wide spectrum of interventions depend on therapists professional interests, those which are the most
        common in Poland it are automatically identified as individual contacts. Outstanding speakers from Poland and
        abroad during their workshops and plenary lectures will bring participants closer to theory and applications of
        cognitive-behavioral psychotherapy at a global level. Those speeches of Polish researchers and practitioners are
        a great opportunity to share knowledge on the progress and development of cognitive-behavioral therapies in our
        country.
      </p>
      <p>
        We hope that the scientific tradition and atmosphere of Krakow as well as its unique, historical architecture
        are
        conducive to the exchange of knowledge and experience.
      </p>
      <p>
        Details about the conference and registration will appear soon on the website.
      </p>
      <p><b>Organizers</b></p>
    </div>
  </div>
  <hr />
  <div class="row mt-3">
    <div class="col-12">
      <h5>Invited speakers</h5>
      <app-en-guests-slider class="hidden-sm-down"></app-en-guests-slider>
      <app-en-guest-slider-mobile class="hidden-md-up"></app-en-guest-slider-mobile>
    </div>
  </div>
  <hr>
  <div class="row mt-3">
    <div class="col-12">
      <app-logos></app-logos>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-lg-6 col-xl-6">
      <h5>Contact</h5>
      <p>
        POLSKIE TOWARZYSTWO TERAPII POZNAWCZEJ I BEHAWIORALNEJ IM.PROF.
        ZDZISŁAWA BIZONIA<br />
        Ul. Chłodna 64 lok.306A<br />
        00-872 Warszawa<br />
        Tel: (48) 508 964 887<br />
        email: <a href="mailto:konferencja@pttpb.pl">konferencja@pttpb.pl</a>
      </p>
    </div>
    <div class="d-none d-lg-block d-xl-block col-6 text-right">
      <img
        class="img-thumbnail"
        src="assets/PTTPB-logo.png"
        alt=""
      />
    </div>
  </div>
</div>
<!-- <app-map></app-map> -->
