<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-9 col-xl-9 text-center">
      <h4>Conference Organizing Committee:</h4>
      <p>Magdalena Skąpska-Magdoń, Karolina Komorowska-Legierska, Aleksandra Naumowicz-Kucharska, Katarzyna Citak,
        Joanna Stroemich, Agnieszka Jasińska , Joanna Marek-Banach, Magdalena Skuza-Singh, Helena Kotula-Tracz</p>
    </div>
    <div class="row  d-flex justify-content-center mt-3">
      <div class="col-12 col-lg-9 col-xl-9 text-center">
        <h4>Scientific Committee of the Conference:</h4>
        <p>dr Alicja Raczak, dr Dorota Nowocin, dr Joachim Kowalski, Jacek Legierski, Małgorzata Walęcka, dr Agnieszka
          Księżopolska, prof. Aleksandra Parobkiewicz-Jasielska, dr Grzegorz Mączka, Anna Derwich, Iga Jaraczewska</p>
      </div>
    </div>
  </div>
