<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-3">
    <div class="row d-flex justify-content-center mt-3">
      <div class="col-12 col-lg-9 col-xl-9 text-center">
        <h4>Honorary Scientific Committee</h4>
        <p><b>Chairwoman</b> prof. Yona Teichman</p>
        <p>prof. Przemysław Bąbel, prof. Wiesław Jerzy Cubała, prof. Eduardo Keegan, prof. Andrzej Kokoszka, dr Robert
          Leahy, prof.
          Cory Newman, prof. Mark Reinecke, prof. Bogdan Zawadzki, dr hab. Anita Bryńska, dr hab. Maciej Pilecki, dr
          Artur
          Kołakowski, dr hab. Agnieszka Popiel, dr Ewa Pragłowska, dr Magdalena Skotnicka-Chaberek, dr Mariola
          Skowrońska, Sylwia
          Pieńkowska
        </p>
      </div>
    </div>
  </div>
  <div class="row  d-flex justify-content-center mt-3">
    <div class="col-12 col-lg-9 col-xl-9 text-center">
      <h4>Scientific Committee of the Conference</h4>
      <p>prof. Aleksandra Parobkiewicz-Jasielska, dr Joachim Kowalski, dr Agnieszka Księżopolska, <br>dr Grzegorz
        Mączka,
        dr
        Dorota Nowocin, dr Alicja Raczak, Anna Derwich, Iga Jaraczewska, Jacek Legierski, Małgorzata Walęcka</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-3">
    <div class="col-12 col-lg-9 col-xl-9 text-center">
      <h4>Conference Organizing Committee</h4>
      <p>Arkadiusz Bilejczyk, Agnieszka Jasińska, Piotr Kałowski, Katarzyna Kierońska, Karolina Komorowska-Legierska,
        Helena
        Kotula-Tracz, Joanna Marek-Banach, Magdalena Skąpska-Magdoń, Jakub Skrzydłowski, Magdalena Skuza-Singh
      </p>
    </div>

  </div>