<div class="container">
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row text-justify">
    <div class="col">
      <h4 class="mb-3">Maciej Bocheński</h4>
      <!-- <img
        class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
        src="assets/Alicja-Baranek.jpg"
        alt="Alicja Baranek"
      > -->

      <p>Czynny zawodowo adwokat Krakowskiej Izby Adwokackiej; doktor prawa Uniwersytetu Jagiellońskiego i pracownik
        naukowy
        Katedry Kryminologii Wydziału Prawa i Administracji UJ, kierownik projektu badawczego Formy prawnokarnej reakcji
        wobec
        sprawców przestępstw seksualnych w Polsce, finansowanego ze środków Narodowego Centrum Nauki; stały
        współpracownik
        Stowarzyszenia Psychologów Sądowych w Polsce; współpracownik Polskiego Towarzystwa Terapii Poznawczej i
        Behawioralnej;
        autor licznych publikacji z zakresu prawa karnego, kryminologii oraz polityk publicznych opartych na dowodach
        (ang.
        evidence based public policies); autor licznych wystąpień konferencyjnych m.in. w ramach V, VI, VII, VIII i X
        edycji
        Krakowskiej Konferencji Psychologii Sądowej, jak również w ramach Ogólnopolskiej Konferencji Naukowej Dylematy
        Etyczne
        Psychologów w dniu 27 listopada 2017 r. w Krakowie
      </p>
    </div>
  </div>
</div>