<div class="container">
  <div class="row">
    <div class="col text-justify">
      <hr>
      <h4 class="mb-3">Yona Teichman</h4>
      <img class="img-thumbnail float-left mr-3 col-12 col-lg-3 col-xl-3"
           src="assets/Yona-Teichman.jpg"
           alt="Yona Teichman">

      <p>Yona Teichman is a practicing Clinical Psychologist and Professor Emerita of Clinical Psychology at the School
        of
        Psychological Sciences, Tel-Aviv University, Israel where she served 6 years as the Chair of the Child Clinical
        Program.
        At TAU she also taught at the School of Medicine, Program of Psychotherapy. Her research and publications cover
        domains
        in Clinical and Social psychology. She integrates Systemic and Cognitive principles of therapy, applying them
        particularly to the treatment of Depression. Her approach was published in numerous articles and book chapters.
        She has
        been invited to present her work and teach practitioners in Israel, Australia, the US, Armenia, and in SWPS, in
        Poland.
        In 2012, The Polish Association for Cognitive and Behavioral Therapy, granted her the status of Honorary Member.
        In 2013
        she founded the Graduate Program for Clinical Psychology at The Interdisciplinary Center (IDC) in Hetrzeliya,
        Israel and
        served as the head of this program till 2018. Recently, she engages in teaching and writing about Clinical
        Supervision.
      </p>

    </div>
  </div>
</div>