<div
  id="guestCarousel"
  class="carousel slide mt-2 mb-4"
  data-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-target="#guestCarousel"
      data-slide-to="0"
      class="active"
    ></li>
    <li
      data-target="#guestCarousel"
      data-slide-to="1"
    ></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row mt-4">
        <div class="col-3 text-center">
          <a routerLink="/przemyslaw-babel">
            <img
              class="img-thumbnail"
              src="assets/Przemyslaw-Babel.jpg"
              alt="Przemysław Bąbel"
            ></a>
          <h6 class="mt-2">Przemysław Bąbel</h6>
        </div>
        <div class="col-3 text-center">
          <a routerLink="/anita-brynska">
            <img
              class="img-thumbnail"
              src="assets/Anita-Brynska.jpg"
              alt="Anita Bryńska"
            ></a>
          <h6 class="mt-2">Anita Bryńska</h6>
        </div>
        <div class="col-3 text-center">
          <a routerLink="/wieslaw-jerzy-cubala">
            <img
              class="img-thumbnail"
              src="assets/Wieslaw-Jerzy-Cubala.jpg"
              alt="Wieslaw-Jerzy-Cubala"
            ></a>
          <h6 class="mt-2">Wiesław Jerzy Cubała</h6>
        </div>
        <div class="col-3 text-center">
          <a routerLink="/frank-dattilio">
            <img
              class="img-thumbnail"
              src="assets/Frank-Dattilio.jpg"
              alt="Frank Dattilio"
            ></a>
          <h6 class="mt-2">Frank Dattilio</h6>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div class="row mt-4">
        <div class="col-3 text-center">
          <a routerLink="/eduardo-keegan">
            <img
              class="img-thumbnail"
              src="assets/Eduardo-Keegan.jpg"
              alt="Eduardo Keegan"
            ></a>
          <h6 class="mt-2">Eduardo Keegan</h6>
        </div>
        <div class="col-3 text-center">
          <a routerLink="/robert-leahy">
            <img
              class="img-thumbnail"
              src="assets/Robert-Leahy.jpg"
              alt="Robert L. Leahy"
            >
          </a>
          <h6 class="mt-2">Robert L. Leahy</h6>
        </div>
        <div class="col-3 text-center">
          <a routerLink="/cory-newman">
            <img
              class="img-thumbnail"
              src="assets/Cory-Newman.jpg"
              alt="Cory Newman"
            >
          </a>
          <h6 class="mt-2">Cory Newman</h6>
        </div>
        <div class="col-3 text-center">
          <a routerLink="/agnieszka-popiel">
            <img
              class="img-thumbnail"
              src="assets/Agnieszka-Popiel.jpg"
              alt="Agnieszka Popiel"
            >
          </a>
          <h6 class="mt-2">Agnieszka Popiel</h6>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row mt-4">
        <div class="col-3 text-center">
          <a routerLink="/ewa-praglowska">
            <img
              class="img-thumbnail"
              src="assets/Ewa-Praglowska.jpg"
              alt="Ewa-Praglowska"
            >
          </a>
          <h6 class="mt-2">Ewa Pragłowska</h6>
        </div>
        <div class="col-3 text-center">
          <a routerLink="/mark-reinecke">
            <img
              class="img-thumbnail"
              src="assets/Mark-Reinecke.jpg"
              alt="Mark A.Reinecke"
            >
          </a>
          <h6 class="mt-2">Mark A.Reinecke</h6>
        </div>
        <div class="col-3 text-center">
          <a routerLink="/michaela-swales">
            <img
              class="img-thumbnail"
              src="assets/Michaela-Swales.jpg"
              alt="Michaela-Swales"
            >
          </a>
          <h6 class="mt-2">Michaela Swales</h6>
        </div>
        <div class="col-3 text-center">
          <a routerLink="/bogdan-zawadzki">
            <img
              class="img-thumbnail"
              src="assets/Bogdan-Zawadzki.jpg"
              alt="Bogdan Zawadzki"
            >
          </a>
          <h6 class="mt-2">Bogdan Zawadzki</h6>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#guestCarousel"
    role="button"
    data-slide="prev"
  >
    <span
      class="carousel-control-prev-icon"
      aria-hidden="true"
    ></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#guestCarousel"
    role="button"
    data-slide="next"
  >
    <span
      class="carousel-control-next-icon"
      aria-hidden="true"
    ></span>
    <span class="sr-only">Next</span>
  </a>
</div>
