<div
  class="collapse mt-3 mb-3"
  id="joachim-kowalski"
>
  <div class="card card-body">
    <div class="p-3">
      <p>
        Treningi metapoznawcze powstały w klinice uniwersyteckiej Hamburg-Eppendorf w zespole prof. Steffena Moritza. Są
        to interwencje o charakterze nakładek (add-on interventions) do istniejących już grupowych programów
        terapeutycznych. Ich zaletami są prostota stosowania, szeroka dostępność, mocne ugruntowanie w badaniach z
        zakresu psychopatologii eksperymentalnej, interesująca dla pacjentów forma oraz niskie koszty związane z
        wprowadzaniem treningów w program terapeutyczny. Wszystkie treningi oparte są o paradygmat
        poznawczo-behawioralny, a dostępne badania wskazują na to, że ich stosowanie zwiększa skuteczność terapii
        grupowych prowadzonych w tym podejściu – w przypadku treningów dla osób z diagnozą schizofrenii i dla osób z
        objawami depresji.</p>
      <p>
        Pierwszą z opracowanych metod był trening dla osób ze schizofrenią. Jego założeniem jest używanie podejścia
        tylnych drzwi (backdoor approach), w którym terapeuta nie odnosi się bezpośrednio do treści urojeniowych
        pacjentów, jak w klasycznym CBT dla osób doświadczających psychozy. Celem treningu jest zapoznanie pacjentów ze
        zniekształceniami poznawczymi charakterystycznymi dla osób z diagnozą schizofrenii – np. przeskokiem do
        konkluzji, negowaniem dowodów sprzecznych z tezą, jednostronnymi stylami atrybucji czy deficytami teorii umysłu.
        Robione jest to za pomocą interesujących przykładów i tworzeniu analogii między objawami a sytuacjami dnia
        codziennego. Na przykład mechanizm udziału przeskoku do konkluzji w tworzeniu urojeń jest omawiany za pomocą
        popularnych teorii spiskowych.</p>
      <p>
        Trening dla osób z objawami depresji koncentruje się przede wszystkim na zniekształceniach poznawczych
        charakterystycznych dla osób z obniżonym nastrojem, takich jak nadmierne generalizowanie, czarno-białe myślenie,
        minimalizowanie pozytywów czy katastrofizowanie. Pozostałe sesje treningu dotyczą pamięci i trudności z
        koncentracją, samooceny oraz strategii behawioralnych takich jak ruminowanie czy wycofywanie się z aktywności.
        Trening metapoznawczy dla osób z zaburzeniem osobowości borderline powstał w odpowiedzi na występującą u wielu
        pacjentów niewystarczającą odpowiedź terapeutyczną, średnią wielkość efektu psychoterapii i wysokie wskaźniki
        przerywania leczenia. Stanowi on uzupełnienie innych nurtów terapeutycznych,np. terapii dialektyczno –
        behawioralnej, i skupia się na specyficznych dla osób z zaburzeniem osobowości borderline dysfunkcyjnych stylach
        myślenia, np. nadmiernej pewności w osądach, a także na dobrze zbadanych występujących w tej grupie pacjentów
        zniekształceniach poznawczych, np. myślenie dychotomiczne.</p>
      <p>
        Warsztat będzie prowadzony za pomocą prezentacji materiałów terapeutycznych w postaci prezentacji multimedialnej
        oraz demonstrowaniem na żywo, z udziałem uczestników, niektórych z technik stosowanych w treningach. W trakcie
        warsztatu omówione zostaną pokrótce podstawy teoretyczne każdego z treningów, zastosowanie kliniczne i sposób
        prowadzenia, doświadczenia kliniczne prowadzących oraz ewentualne trudności, które można napotkać stosując te
        metody.

      </p>
    </div>
    <app-joahim-kowalski></app-joahim-kowalski>
    <app-daniel-pankowski></app-daniel-pankowski>
    <app-kinga-wytrychiewicz></app-kinga-wytrychiewicz>
  </div>
</div>
